* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
    src: url(../../font/Spoqa\ Han\ Sans\ Regular.woff);
}

body {font-family: SpoqaHanSansNeo;}


/*비밀번호 찾기*/

.mobile {display: none;}

.password_find_box
{width: 100%; max-width: 1920px; min-width: 1340px;
margin: 0 auto;}

.password_find_box .password_find
{width: 440px; height: 580px;
margin: 0 auto;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
overflow: hidden;}

.password_find>p
{width: 440px; height: 100px;
text-align: center; line-height: 100px;
font-size: 24px; font-weight: bold;}

.password_find .find_box
{width: 440px; height: 50px;
margin-bottom: 30px;
overflow: hidden;}

.find_box a .id_f
{width: 220px; height: 50px;
background-color: #afafaf; color: white;
text-align: center; line-height: 50px;
font-weight: bold;
float: left;}

.find_box a .password_f
{width: 220px; height: 50px;
background-color: #333; color: white;
text-align: center; line-height: 50px;
font-weight: bold;
float: left;}

.find_box a {color: white;}

.password_find .find_number_box 
{width: 440px;
border-top: 1px solid #ccc; 
border-bottom: 1px solid #ccc;
box-sizing: border-box;
margin: 0 auto;}

.find_number_box .find_text
{width: 440px; height: 50px;
font-size: 13px;
margin-top: 10px;}

.find_text p 
{margin-left: 10px;
margin-top: 13px;}

.name_select
{width: 440px; height: 50px;
overflow: hidden;
margin-bottom: 30px;}

.name_select .name
{width: 120px; height: 50px;
margin-right: 10px; line-height: 50px;
float: left;}

.name p 
{margin-left: 5px;
font-size: 14px;}

#name
{width: 300px; height: 46px;
float: left;}

.find_number_box .id_box
{width: 440px; height: 50px;
margin-bottom: 20px;
overflow: hidden;}

.id_box .id
{width: 120px; height: 50px;
margin-right: 10px; line-height: 50px;
float: left;}

.id p 
{margin-left: 5px;
font-size: 14px;}

#email
{width: 300px; height: 46px;
float: left;}

.password_find .find_chk_box
{width: 440px; height: 20px;
font-size: 14px;
margin: 0 auto;
margin-bottom: 20px;}


.find_title
{width: 440px; height: 20px;
margin-top: 20px;
margin-bottom: 10px;
line-height: 20px; font-size: 13px;}

.find_title p {margin-left: 5px;}

.find_chk_box
{width: 440px; height: 20px;
overflow: hidden;
margin-bottom: 20px;}

.find_chk_box .email_chk, .find_chk_box .phone_chk
{width: 150px; height: 20px;
float: left;}

.find_chk_box .email_chk
{margin-right: 20px;}

#confirm
{width: 440px; height: 60px;
margin-bottom: 20px;
background-color: #333; font-family: SpoqaHanSansNeo;
text-align: center; color: white; line-height: 60px;
font-size: 16px;}

@media all and (max-width:768px)
{

.password_find_box {display: none;}

.mobile
{width: 100%; height: 100vh;
overflow: hidden;
display: block;}

.find_pw_m_top
{width: 95%; height: 40px;
margin: 0 auto;}

.find_pw_m_top a:nth-child(1)
{width: 30px; height: 30px;
text-align: center; line-height: 30px; font-size: 18px;
margin-top: 5px; margin-right: 5px;
color: #0d75bc;
float: left;}

.find_pw_m_top>p:nth-child(2)
{font-weight: bold; line-height: 40px;
float: left;}

.find_pw_m_top a:nth-child(3)
{width: 30px; height: 30px;
margin-top: 5px; margin-right: 5px;
float: right;}

.find_pw_m_top a:nth-child(3) img 
{width: 100%; height: 100%;}

.find_pw_line_m
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 20px;}

.find_pw_menu_m
{width: 95%; height: 40px;
margin: 0 auto;
overflow: hidden;
font-size: 14px; text-align: center; line-height: 40px;
margin-bottom: 20px;}

.find_pw_menu_m a p 
{width: 50%; height: 40px;
float: left;
border-bottom: 2px solid #ccc;
box-sizing: border-box;
color: #333;}

.find_pw_menu_m a:nth-child(2) p
{border-bottom: 2px solid #333;
box-sizing: border-box;
font-weight: bold;}

.mobile>p
{width: 95%;
margin: 0 auto;
font-size: 12px; line-height: 15px;
margin-bottom: 20px;}

.name_m_box
{width: 95%; height: 40px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.name_m_box p 
{width: 29%; height: 40px;
margin-right: 1%;
float: left;
font-size: 12px; line-height: 40px;}

#name_m
{width: 70%; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

.id_m_box
{width: 95%; height: 40px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 20px;}

.id_m_box p 
{width: 29%; height: 40px;
margin-right: 1%;
float: left;
font-size: 12px; line-height: 40px;}

#id_m
{width: 70%; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

.find_pw_line_m_02
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 20px;}

.chk_m
{width: 95%;
margin: 0 auto;
overflow: hidden;
margin-bottom: 50px;}

.chk_m>p:nth-child(1)
{width: 100%; height: 15px;
font-size: 12px; line-height: 15px;
margin-bottom: 10px;}

.chk_m .chk01_m
{float: left;
margin-right: 10px;}

.chk01_m p
{font-size: 12px; line-height: 15px;
float: left;}

#email_m
{width: 12px; height: 12px;
margin-top: 1.5px; margin-right: 5px;
float: left;}

.chk_m .chk02_m
{float: left;}

.chk02_m p
{font-size: 12px; line-height: 15px;
float: left;}

#phone_num_m
{width: 12px; height: 12px;
margin-top: 1.5px; margin-right: 5px;
float: left;}

#pw_find_btn_m
{width: 95%; height: 40px;
margin-left: 2.5%;
border: none;
color: white;
background-color: #333;
text-align: center; line-height: 40px; font-size: 14px;
font-family: SpoqaHanSansNeo;}

}
