* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body {font-family: 'Pretendard'; line-height: 16px;}

p {margin-bottom: 0;}

ul {margin: 0; padding: 0;}

input:not([type]), input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea
{box-shadow: none;
background-color: #fff;
padding: 0;
margin-bottom: 0;
outline: none;}

input[type="checkbox"]
{margin-bottom: 0;}

input[type="checkbox"]+label, input[type="radio"]+label 
{margin: 0;}

button {margin-bottom: 0;}

/*클리어픽스*/
.clearfix:before, .clearfix:after 
{display: block;
content: '';
line-height: 0;}

.clearfix:after 
{clear:both;}

.clearfix 
{*zoom: 1;}

/*페이징버튼 제어*/
ul.pagination
{margin-left: 0;}

ul.pagination li
{height: fit-content;
margin-left: 0;
font-size: 16px;}

ul.pagination li a
{color: #222;
padding: 5px 10px;
border: none;
border-radius: 0;
text-align: center; line-height: 20px;}

.page-item:not(:first-child) .page-link
{margin-left: 0;}

/*부트스트랩 클릭시 생기는 선 삭제*/
.page-link:focus, .page-link:active 
{outline: none;
box-shadow: none;
background-color: transparent !important;}

.page-link:focus, .page-link:hover 
{background-color: transparent !important;
color: #fd6f6f !important;}

.page-link:focus, .page-link:active 
{color: #fd6f6f;}


@media all and (min-width: 1420px)
{   
    /*헤더*/
    header.header_web
    {margin-bottom: 0;}

    /*서브 이미지*/
    div.sub_visual_banner
    {width: 100%;
    position: relative;}

    div.sub_visual_banner_img
    {width: 100%; height: 300px;}

    div.sub_visual_banner_img img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.sub_visual_banner_txt
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;}

    div.sub_visual_banner_txt>p
    {text-align: center;
    font-size: 42px; font-family: bold;
    color: #fff; line-height: 50px;}

    /*루트*/
    div.rout_ex
    {width: 100%; height: 40px;
    background-color: #fd6f6f;
    margin-bottom: 100px;}

    nav.rout_box
    {width: 1400px;
    margin: 0 auto;}

    nav.rout_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.rout_box>ul>li
    {float: left;
    margin-right: 10px;}

    nav.rout_box>ul>li:last-child
    {margin-right: 0;}

    nav.rout_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px;}

    nav.rout_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.rout_box>ul>li:nth-child(1n+2)>p
    {line-height: 40px;
    color: #fff;
    font-size: 15px;}

    nav.rout_box>ul>li:last-child>p
    {font-family: bold;}
    
    /*타이틀*/
    div.sub_title_ex
    {width: 1400px;
    margin: 0 auto;
    margin-bottom: 80px;}

    div.sub_title_ex>p
    {width: 100%;
    text-align: center;
    font-size: 32px; line-height: 35px;
    color: #222; font-family: bold;}

    div.sub_title_ex>p>span
    {color: #fd6f6f;}
    
    /*상품 전체*/
    div.sub_product_ex
    {width: 1400px;
    margin: 0 auto;
    margin-bottom: 150px;
    overflow: hidden;}
    
    /*왼쪽 카테고리*/
    div.sub_left_category_ex
    {width: 200px;
    margin-right: 50px;
    float: left;}

    div.sub_left_line_01
    {width: 100%; height: 1px;
    background-color: #222;}

    div.sub_right_title
    {width: 100%;
    margin-top: 20px; margin-bottom: 20px;}

    div.sub_right_title>p
    {width: 100%;
    font-size: 24px; line-height: 30px;
    font-family: bold; color: #222;}

    div.sub_left_line_02
    {width: 100%; height: 1px;
    background-color: #ddd;}

    div.sub_left_category_list_ex
    {width: 100%;
    margin-top: 20px; margin-bottom: 20px;}

    ul.sub_left_category_list_box
    {width: 100%;}

    ul.sub_left_category_list_box>li>a>p
    {width: 100%;
    line-height: 40px;
    color: #555;
    transition: all 0.5s;}

    ul.sub_left_category_list_box>li>a:hover>p
    {color: #fd6f6f;}

    /*상품 나열*/
    div.sub_right_product_ex
    {width: calc(100% - 250px);
    float: left;}

    div.honey_moon_product_box
    {width: 100%;}

    /*슬라이드*/
    div.honeymoon_best_ex
    {width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;
    margin-bottom: 50px;}

    a.honeymoon_best_content
    {width: 100%;
    display: block;
    position: relative;}

    div.honeymoon_best_content_img_box
    {width: 100%; height: 0;
    padding-bottom: 58.33%;
    position: relative;
    overflow: hidden;}

    div.honeymoon_best_content_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honeymoon_best_content:hover .honeymoon_best_content_img_box img
    {transform: scale(1.05);}

    /*글*/
    div.honeymoon_best_content_txt_ex
    {width: 100%;
    position: absolute;
    bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);}

    div.honeymoon_best_content_txt_box
    {width: calc(100% - 30px);
    margin: 0 auto;
    padding-top: 20px; padding-bottom: 20px;}

    div.honeymoon_best_content_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 18px; font-family: bold;
    line-height: 20px; color: #fff;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_best_content_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 15px; 
    line-height: 20px; color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}
    
    /*상품 리스트*/
    div.honey_moon_product_box
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 100px;}

    a.honey_moon_product
    {width: 22.75%;
    margin-right: 3%;
    display: block;
    margin-bottom: 30px;}

    a.honey_moon_product:nth-child(4n+4)
    {margin-right: 0;}

    a.honey_moon_product:nth-child(1n+9)
    {margin-bottom: 0;}
    
    /*이미지*/
    div.honey_moon_product_img_box
    {width: 100%; height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;}

    div.honey_moon_product_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honey_moon_product:hover .honey_moon_product_img_box img
    {transform: scale(1.05);}

    /*글*/
    div.honey_moon_product_txt_box
    {width: 100%;}

    div.honey_moon_product_txt_box>p:nth-child(1)
    {width: 100%;
    line-height: 20px;
    color: #222; font-family: 'min_bold';
    margin-bottom: 10px;
    transition: all 0.3s;}

    div.honey_moon_product_txt_box>p:nth-child(2)
    {width: 100%;
    text-align: right;
    font-size: 14px;
    color: #222; line-height: 25px;}

    a.honey_moon_product:hover .honey_moon_product_txt_box>p:nth-child(1)
    {color: #fd6f6f;}

    div.honey_moon_product_txt_box>p:nth-child(2)>span
    {font-size: 18px;
    font-family: 'min_bold';
    color: #e60012;}

    /*페이지버튼*/
    div.sub_page_btn
    {width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}

}

@media all and (min-width: 769px) and (max-width : 1419px)
{
    /*헤더*/
    header.header_web
    {margin-bottom: 0;}

    /*서브 이미지*/
    div.sub_visual_banner
    {width: 100%;
    position: relative;}

    div.sub_visual_banner_img
    {width: 100%; height: 300px;}

    div.sub_visual_banner_img img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.sub_visual_banner_txt
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;}

    div.sub_visual_banner_txt>p
    {text-align: center;
    font-size: 42px; font-family: bold;
    color: #fff; line-height: 50px;}

    /*루트*/
    div.rout_ex
    {width: 100%; height: 40px;
    background-color: #fd6f6f;
    margin-bottom: 100px;}

    nav.rout_box
    {width: 90%;
    margin: 0 auto;}

    nav.rout_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.rout_box>ul>li
    {float: left;
    margin-right: 10px;}

    nav.rout_box>ul>li:last-child
    {margin-right: 0;}

    nav.rout_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px;}

    nav.rout_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.rout_box>ul>li:nth-child(1n+2)>p
    {line-height: 40px;
    color: #fff;
    font-size: 15px;}

    nav.rout_box>ul>li:last-child>p
    {font-family: bold;}

    /*타이틀*/
    div.sub_title_ex
    {width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;}

    div.sub_title_ex>p
    {width: 100%;
    text-align: center;
    font-size: 32px; line-height: 35px;
    color: #222; font-family: bold;}

    div.sub_title_ex>p>span
    {color: #fd6f6f;}
}

@media all and (min-width: 1280px) and (max-width : 1419px)
{ 
    /*상품 전체*/
    div.sub_product_ex
    {width: 90%;
    margin: 0 auto;
    margin-bottom: 150px;
    overflow: hidden;}
    
    /*왼쪽 카테고리*/
    div.sub_left_category_ex
    {width: 200px;
    margin-right: 50px;
    float: left;}

    div.sub_left_line_01
    {width: 100%; height: 1px;
    background-color: #222;}

    div.sub_right_title
    {width: 100%;
    margin-top: 20px; margin-bottom: 20px;}

    div.sub_right_title>p
    {width: 100%;
    font-size: 24px; line-height: 30px;
    font-family: bold; color: #222;}

    div.sub_left_line_02
    {width: 100%; height: 1px;
    background-color: #ddd;}

    div.sub_left_category_list_ex
    {width: 100%;
    margin-top: 20px; margin-bottom: 20px;}

    ul.sub_left_category_list_box
    {width: 100%;}

    ul.sub_left_category_list_box>li>a>p
    {width: 100%;
    line-height: 40px;
    color: #555;
    transition: all 0.5s;}

    ul.sub_left_category_list_box>li>a:hover>p
    {color: #fd6f6f;}

    /*상품 나열*/
    div.sub_right_product_ex
    {width: calc(100% - 250px);
    float: left;}

    div.honey_moon_product_box
    {width: 100%;}

    /*슬라이드*/
    div.honeymoon_best_ex
    {width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;
    margin-bottom: 50px;}

    a.honeymoon_best_content
    {width: 100%;
    display: block;
    position: relative;}

    div.honeymoon_best_content_img_box
    {width: 100%; height: 0;
    padding-bottom: 58.33%;
    position: relative;
    overflow: hidden;}

    div.honeymoon_best_content_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honeymoon_best_content:hover .honeymoon_best_content_img_box img
    {transform: scale(1.05);}

    /*글*/
    div.honeymoon_best_content_txt_ex
    {width: 100%;
    position: absolute;
    bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);}

    div.honeymoon_best_content_txt_box
    {width: calc(100% - 30px);
    margin: 0 auto;
    padding-top: 20px; padding-bottom: 20px;}

    div.honeymoon_best_content_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 18px; font-family: bold;
    line-height: 20px; color: #fff;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_best_content_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 15px; 
    line-height: 20px; color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    /*상품 리스트*/
    div.honey_moon_product_box
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 100px;}

    a.honey_moon_product
    {width: 30.666666%;
    margin-right: 3%;
    display: block;
    margin-bottom: 30px;}

    a.honey_moon_product:nth-child(3n+3)
    {margin-right: 0;}

    a.honey_moon_product:nth-child(1n+10)
    {margin-bottom: 0;}
    
    /*이미지*/
    div.honey_moon_product_img_box
    {width: 100%; height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;}

    div.honey_moon_product_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honey_moon_product:hover .honey_moon_product_img_box img
    {transform: scale(1.05);}

    /*글*/
    div.honey_moon_product_txt_box
    {width: 100%;}

    div.honey_moon_product_txt_box>p:nth-child(1)
    {width: 100%;
    line-height: 20px;
    color: #222; font-family: 'min_bold';
    margin-bottom: 10px;
    transition: all 0.3s;}

    div.honey_moon_product_txt_box>p:nth-child(2)
    {width: 100%;
    text-align: right;
    font-size: 14px;
    color: #222; line-height: 25px;}

    a.honey_moon_product:hover .honey_moon_product_txt_box>p:nth-child(1)
    {color: #fd6f6f;}

    div.honey_moon_product_txt_box>p:nth-child(2)>span
    {font-size: 18px;
    font-family: 'min_bold';
    color: #e60012;}

    /*페이지버튼*/
    div.sub_page_btn
    {width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}    
 
}

@media all and (min-width: 769px) and (max-width : 1279px)
{
    /*전체*/
    div.sub_product_ex
    {width: 90%;
    margin: 50px auto;
    margin-bottom: 150px;}
    
    /*메뉴 이동*/
    div.sub_left_category_ex
    {width: 100%;
    margin-bottom: 50px;}

    div.sub_right_title
    {display: none;}

    div.sub_left_category_list_ex
    {width: 100%;
    border-radius: 5px;
    border: 1px solid #fd6f6f; box-sizing: border-box;
    overflow: hidden;}

    ul.sub_left_category_list_box
    {width: 100%;
    overflow: hidden;}

    ul.sub_left_category_list_box>li
    {width: 25%;
    float: left;
    padding-top: 15px; padding-bottom: 15px;
    border-right: 1px solid #fd6f6f; box-sizing: border-box;
    transition: all 0.3s;}

    ul.sub_left_category_list_box>li:hover
    {background-color: #fd6f6f;}

    ul.sub_left_category_list_box>li:hover>a>p
    {color: #fff;}

    ul.sub_left_category_list_box>li>a
    {width: calc(100% - 20px);
    margin: 0 auto;
    display: block;}

    ul.sub_left_category_list_box>li>a>p
    {text-align: center;
    color: #fd6f6f; line-height: 20px;
    transition: all 0.3s;}

    /*슬라이드, 상품*/
    div.sub_right_product_ex
    {width: 100%;}

    div.honey_moon_product_box
    {width: 100%;}

    /*슬라이드*/
    div.honeymoon_best_ex
    {width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;
    margin-bottom: 50px;}

    a.honeymoon_best_content
    {width: 100%;
    display: block;
    position: relative;}

    div.honeymoon_best_content_img_box
    {width: 100%; height: 0;
    padding-bottom: 58.33%;
    position: relative;
    overflow: hidden;}

    div.honeymoon_best_content_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honeymoon_best_content:hover .honeymoon_best_content_img_box img
    {transform: scale(1.05);}

    /*글*/
    div.honeymoon_best_content_txt_ex
    {width: 100%;
    position: absolute;
    bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);}

    div.honeymoon_best_content_txt_box
    {width: calc(100% - 30px);
    margin: 0 auto;
    padding-top: 20px; padding-bottom: 20px;}

    div.honeymoon_best_content_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 18px; font-family: bold;
    line-height: 20px; color: #fff;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_best_content_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 15px; 
    line-height: 20px; color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    /*상품 리스트*/
    div.honey_moon_product_box
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 100px;}

    a.honey_moon_product
    {width: 32%;
    margin-right: 2%;
    display: block;
    margin-bottom: 30px;}

    a.honey_moon_product:nth-child(3n+3)
    {margin-right: 0;}

    a.honey_moon_product:nth-child(1n+10)
    {margin-bottom: 0;}
    
    /*이미지*/
    div.honey_moon_product_img_box
    {width: 100%; height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;}

    div.honey_moon_product_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honey_moon_product:hover .honey_moon_product_img_box img
    {transform: scale(1.05);}

    /*글*/
    div.honey_moon_product_txt_box
    {width: 100%;}

    div.honey_moon_product_txt_box>p:nth-child(1)
    {width: 100%;
    line-height: 20px;
    color: #222; font-family: 'min_bold';
    margin-bottom: 10px;
    transition: all 0.3s;}

    div.honey_moon_product_txt_box>p:nth-child(2)
    {width: 100%;
    text-align: right;
    font-size: 14px;
    color: #222; line-height: 25px;}

    a.honey_moon_product:hover .honey_moon_product_txt_box>p:nth-child(1)
    {color: #fd6f6f;}

    div.honey_moon_product_txt_box>p:nth-child(2)>span
    {font-size: 18px;
    font-family: 'min_bold';
    color: #e60012;}

    /*페이지버튼*/
    div.sub_page_btn
    {width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}   


}

@media all and (min-width: 769px) and (max-width : 1024px)
{
    /*서브 이미지*/
    div.sub_visual_banner
    {width: 100%;
    position: relative;
    margin-top: 70px;}

    div.sub_visual_banner_img
    {width: 100%; height: 250px;}
}

@media all and (min-width: 769px) and (max-width : 939px)
{   
    a.honeymoon_best_content
    {width: 90%;
    margin: 0 auto;
    display: block;
    position: relative;}

    div.honeymoon_best_content_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 20px; font-family: bold;
    line-height: 20px; color: #fff;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_best_content_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 16px; 
    line-height: 20px; color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}
}

@media all and (max-width: 768px)
{
    /*서브 이미지*/
    div.sub_visual_banner
    {width: 100%;
    position: relative;
    margin-top: 70px;}

    div.sub_visual_banner_img
    {width: 100%; height: 150px;}

    div.sub_visual_banner_img img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.sub_visual_banner_txt
    {width: 100%;
    position: absolute;
    top: calc(50% - 20px); left: 0;}

    div.sub_visual_banner_txt>p
    {text-align: center;
    font-size: 32px; font-family: bold;
    color: #fff; line-height: 40px;}

    /*루트*/
    div.rout_ex
    {width: 100%; height: 40px;
    background-color: #fd6f6f;
    margin-bottom: 50px;}

    nav.rout_box
    {width: 90%;
    margin: 0 auto;}

    nav.rout_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.rout_box>ul>li
    {float: left;
    margin-right: 5px;}

    nav.rout_box>ul>li:nth-child(3)
    {max-width: 55px;}

    nav.rout_box>ul>li:last-child
    {max-width: calc(100% - 115px);
    margin-right: 0;}

    nav.rout_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px;}

    nav.rout_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.rout_box>ul>li:nth-child(1n+2)>p
    {line-height: 40px;
    color: #fff;
    font-size: 15px;}

    nav.rout_box>ul>li:last-child>p
    {font-family: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    /*타이틀*/
    div.sub_title_ex
    {width: 90%;
    margin: 30px auto;}

    div.sub_title_ex>p
    {width: 100%;
    text-align: center;
    font-size: 28px; font-family: bold; color: #222;
    line-height: 30px;}

    div.sub_title_ex>p>span
    {color: #fd6f6f;}

    /*메뉴, 슬라이드, 상품*/
    div.sub_product_ex
    {width: 90%;
    margin: 30px auto;
    margin-bottom: 80px;}

    div.sub_left_category_ex
    {width: 100%;
    margin-bottom: 30px;}

    div.sub_right_title
    {display: none;}

    div.sub_left_category_list_ex
    {width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #fd6f6f; box-sizing: border-box;}

    ul.sub_left_category_list_box
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;}

    ul.sub_left_category_list_box>li
    {width: 50%;
    padding-top: 12.5px; padding-bottom: 12.5px;
    border-right: 1px solid #fd6f6f; box-sizing: border-box;}

    ul.sub_left_category_list_box>li:nth-child(1), ul.sub_left_category_list_box>li:nth-child(2)
    {border-bottom: 1px solid #fd6f6f; box-sizing: border-box;}

    ul.sub_left_category_list_box>li:nth-child(even)
    {border-right: none;}

    ul.sub_left_category_list_box>li>a>p
    {width: 90%;
    margin: 0 auto;
    text-align: center; line-height: 20px;
    color: #fd6f6f;}

    /*슬라이드, 상품*/
    div.sub_right_product_ex
    {width: 100%;}

    div.honey_moon_product_ex
    {width: 100%;}

    div.honeymoon_best_ex
    {width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    a.honeymoon_best_content
    {width: 85%;
    display: block;
    margin: 0 auto;
    position: relative;}

    div.honeymoon_best_content_img_box
    {width: 100%; height: 0;
    padding-bottom: 58.33%;
    position: relative;
    overflow: hidden;}

    div.honeymoon_best_content_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honeymoon_best_content:hover .honeymoon_best_content_img_box img
    {transform: scale(1.05);}

    /*글*/
    div.honeymoon_best_content_txt_ex
    {width: 100%;
    position: absolute;
    bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);}

    div.honeymoon_best_content_txt_box
    {width: calc(100% - 30px);
    margin: 0 auto;
    padding-top: 20px; padding-bottom: 20px;}

    div.honeymoon_best_content_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 18px; font-family: bold;
    line-height: 20px; color: #fff;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_best_content_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 15px; 
    line-height: 20px; color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    /*상품*/
    div.honey_moon_product_box
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden;
    margin-bottom: 50px;}

    a.honey_moon_product
    {width: 48.5%;
    display: block;
    margin-right: 3%;
    margin-bottom: 20px;}

    a.honey_moon_product:nth-child(even)
    {margin-right: 0;}

    a.honey_moon_product:nth-child(1n+11)
    {margin-bottom: 0;}


    /*이미지*/
    div.honey_moon_product_img_box
    {width: 100%; height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;}

    div.honey_moon_product_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*글*/
    div.honey_moon_product_txt_box
    {width: 100%;}

    div.honey_moon_product_txt_box>p:nth-child(1)
    {width: 100%;
    line-height: 22px;
    color: #222; font-family: 'min_bold';
    margin-bottom: 10px;}

    div.honey_moon_product_txt_box>p:nth-child(2)
    {width: 100%;
    text-align: right;
    font-size: 14px;
    color: #222; line-height: 25px;}

    div.honey_moon_product_txt_box>p:nth-child(2)>span
    {font-size: 17px;
    font-family: 'min_bold';
    color: #e60012;}    

    /*페이지버튼*/
    div.sub_page_btn
    {width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}

}

@media all and (max-width: 600px)
{
    /*서브 이미지*/
    div.sub_visual_banner
    {margin-top: 55px;}

    /*타이틀*/
    div.sub_title_ex>p
    {width: 100%;
    text-align: center;
    font-size: 24px; font-family: bold; color: #222;
    line-height: 30px;}

    /*카테고리*/
    ul.sub_left_category_list_box>li
    {padding-top: 10px; padding-bottom: 10px;}

    ul.sub_left_category_list_box>li>a>p
    {width: 90%;
    margin: 0 auto;
    font-size: 15px;
    text-align: center; line-height: 20px;
    color: #fd6f6f;}

    /*슬라이드*/
    a.honeymoon_best_content
    {width: 100%;
    display: block;
    margin: 0 auto;}

    div.honeymoon_best_content_txt_ex
    {width: 100%;
    position: initial;
    background-color: #111;}

    div.honeymoon_best_content_txt_box
    {width: 90%;
    margin: 0 auto;
    padding-top: 5%; padding-bottom: 5%;}

    div.honeymoon_best_content_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 16px; font-family: bold;
    line-height: 20px; color: #fff;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_best_content_txt_box>p:nth-child(2)
    {width: 100%; height: 40px;
    font-size: 14px; 
    line-height: 20px; color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

    /*상품*/
    div.honey_moon_product_box
    {width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;}

    a.honey_moon_product
    {width: 100%;
    display: block;
    margin-right: 0;
    margin-bottom: 20px;}

    a.honey_moon_product:nth-child(even)
    {margin-right: 0;}

    a.honey_moon_product:nth-child(11)
    {margin-bottom: 20px;}

    a.honey_moon_product:last-child
    {margin-bottom: 0;}
}

@media all and (max-width: 319px)
{   
    /*카테고리*/
    ul.sub_left_category_list_box>li
    {width: 100%;
    border-right: none;
    border-bottom: 1px solid #fd6f6f; box-sizing: border-box;}

    ul.sub_left_category_list_box>li:nth-child(1), ul.sub_left_category_list_box>li:nth-child(2)
    {border-bottom: 1px solid #fd6f6f; box-sizing: border-box;}

    ul.sub_left_category_list_box>li:last-child
    {border-bottom: none;}

    /*상품*/
    div.honey_moon_product_box
    {width: 100%;
    margin-bottom: 50px;}
}