* {margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}


@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
    src: url(../../font/Spoqa\ Han\ Sans\ Regular.woff);
}

body {font-family: SpoqaHanSansNeo;}

.mobile {display: none;}

.web
{width: 100%; max-width: 1920px; min-width: 1340px;
margin: 0 auto;}

.web .membership
{width: 1340px;
margin: 0 auto;
margin-top: 50px;
overflow: hidden;}

.membership .membership_left
{width: 240px;
float: left;}

.membership_left .menu_m
{width: 240px; height: 160px;}

.menu_m>div:nth-child(1)
{width: 240px; height: 50px;
margin-bottom: 10px;
border: 1px solid #0d75bc;
box-sizing: border-box;
background-color: white;}

.menu_m>div:nth-child(1) p
{text-indent: 20px; line-height: 50px;
font-size: 20px; font-weight: bold;
color: #0d75bc;
float: left;}

.menu_m>div:nth-child(1) div
{width: 20px; height: 20px;
margin-right: 20px; margin-top: 15px;
float: right;}

.menu_m ul
{width: 240px; height: 100px;
border: 1px solid #ccc;
box-sizing: border-box;}

.menu_m ul a li 
{color: #333;
font-weight: bold;}

.menu_m li
{width: 240px; height: 50px;
overflow: hidden;
line-height: 50px;}

.menu_m a:nth-child(1) li:nth-child(1)
{border-bottom: 1px solid #ccc;
box-sizing: border-box;
background-color: #0d75bc;
color: white;}

.menu_m li p:nth-child(1)
{float: left;
text-indent: 20px;}

.menu_m li p:nth-child(2)
{float: right;
margin-right: 20px;}


.membership .membership_right
{width: 1040px;
float: left;
margin-left: 60px;}

.membership_right .rout_m
{width: 1040px; height: 20px;
font-size: 14px; line-height: 20px;
margin-bottom: 50px;
overflow: hidden;}

.rout_m div, .rout_m p
{float: left;
margin-right: 5px;
font-weight: bold;}

.rout_m div
{width: 20px; height: 20px;}

.rout_m p:last-child
{color: #e5004f;
margin-right: 0;}

.membership_right>p
{width: 1040px; height: 30px;
font-size: 24px; line-height: 30px;
color: #0d75bc;
margin-bottom: 10px;
font-weight: bold;}

.membership_right .line01
{width: 1040px; height: 1px;
background-color: #ccc;
margin-bottom: 50px;}

.membership_right .product01
{width: 1040px; height: 355px;
margin-bottom: 50px;
overflow: hidden;}

.product01>a>div
{width: 333px; height: 355px;
float: left;}

.product01>a:nth-child(2)>div
{margin-left: 20.5px;
margin-right: 20.5px;}

.product01 .box01 div:nth-child(1),.product01 .box02 div:nth-child(1),.product01 .box03 div:nth-child(1)
{width: 333px; height: 50px;
border: 1px solid #ccc;
box-sizing: border-box;
overflow: hidden;}

.product01 .box01 div:nth-child(1) p,.product01 .box02 div:nth-child(1) p,.product01 .box03 div:nth-child(1) p
{float: left;}

.product01 .box01 div:nth-child(1) p:nth-child(1),.product01 .box02 div:nth-child(1) p:nth-child(1),.product01 .box03 div:nth-child(1) p:nth-child(1)
{width: 120px; height: 50px;
background-color: #d3d3d3;
text-align: center; line-height: 50px; font-weight: bold;
color: #333;}

.product01 .box01 div:nth-child(1) p:nth-child(2),.product01 .box02 div:nth-child(1) p:nth-child(2),.product01 .box03 div:nth-child(1) p:nth-child(2)
{width: 211px; height: 50px;
line-height: 50px; font-weight: bold; text-indent: 16px;
color: #e60012;}

.product01 .box01 div:nth-child(2),.product01 .box02 div:nth-child(2),.product01 .box03 div:nth-child(2)
{width: 333px; height: 305px;}


.membership_right .product02
{width: 1040px; height: 355px;
margin-bottom: 50px;
overflow: hidden;}

.product02>a>div
{width: 333px; height: 355px;
float: left;}

.product02>a:nth-child(2)>div
{margin-left: 20.5px;
margin-right: 20.5px;}

.product02 .box04 div:nth-child(1),.product02 .box05 div:nth-child(1),.product02 .box06 div:nth-child(1)
{width: 333px; height: 50px;
border: 1px solid #ccc;
box-sizing: border-box;
overflow: hidden;}

.product02 .box04 div:nth-child(1) p,.product02 .box05 div:nth-child(1) p,.product02 .box06 div:nth-child(1) p
{float: left;}

.product02 .box04 div:nth-child(1) p:nth-child(1),.product02 .box05 div:nth-child(1) p:nth-child(1),.product02 .box06 div:nth-child(1) p:nth-child(1)
{width: 120px; height: 50px;
background-color: #d3d3d3;
text-align: center; line-height: 50px; font-weight: bold;
color: #333;}

.product02 .box04 div:nth-child(1) p:nth-child(2),.product02 .box05 div:nth-child(1) p:nth-child(2),.product02 .box06 div:nth-child(1) p:nth-child(2)
{width: 211px; height: 50px;
line-height: 50px; font-weight: bold; text-indent: 16px;
color: #e60012;}

.product02 .box04 div:nth-child(2),.product02 .box05 div:nth-child(2),.product02 .box06 div:nth-child(2)
{width: 333px; height: 305px;}


.membership_right .product03
{width: 1040px; height: 355px;
margin-bottom: 100px;
overflow: hidden;}

.product03>a>div
{width: 333px; height: 355px;
float: left;}

.product03>a:nth-child(2)>div
{margin-left: 20.5px;
margin-right: 20.5px;}

.product03 .box07 div:nth-child(1),.product03 .box08 div:nth-child(1),.product03 .box09 div:nth-child(1)
{width: 333px; height: 50px;
border: 1px solid #ccc;
box-sizing: border-box;
overflow: hidden;}

.product03 .box07 div:nth-child(1) p,.product03 .box08 div:nth-child(1) p,.product03 .box09 div:nth-child(1) p
{float: left;}

.product03 .box07 div:nth-child(1) p:nth-child(1),.product03 .box08 div:nth-child(1) p:nth-child(1),.product03 .box09 div:nth-child(1) p:nth-child(1)
{width: 120px; height: 50px;
background-color: #d3d3d3;
text-align: center; line-height: 50px; font-weight: bold;
color: #333;}

.product03 .box07 div:nth-child(1) p:nth-child(2),.product03 .box08 div:nth-child(1) p:nth-child(2),.product03 .box09 div:nth-child(1) p:nth-child(2)
{width: 211px; height: 50px;
line-height: 50px; font-weight: bold; text-indent: 16px;
color: #e60012;}

.product03 .box07 div:nth-child(2),.product03 .box08 div:nth-child(2),.product03 .box09 div:nth-child(2)
{width: 333px; height: 305px;}





.membership_right .num_btn
{width: 260px; height: 20px;
overflow: hidden;
margin: 0 auto;
margin-bottom: 100px;}

.num_btn a p 
{width: 20px; height: 20px;
line-height: 20px; text-align: center;
margin-right: 10px; font-weight: bold;
float: left;
color: #333;}

.num_btn a:last-child p
{margin-right: 0;}

.num_btn a:nth-child(2) p
{color: red;}

@media all and (max-width:768px)
{   
    .web {display: none;}

    .mobile
    {width: 100%; height: 100vh;
    display: block;
    overflow-y: scroll;}
    
    
    .header_m
    {width: 100%; height: 40px;
    position: relative;}
    
    #menu_m {display: none;}
    
    .header_m .menu_m
    {width: 50px; height: 40px;
    float: left;}
    
    .menu_m img
    {width: 30px; height: 30px;
    margin: 0 auto;
    margin-top: 5px;}
    
    .header_m .rout_mobile
    {float: left;}
    
    .rout_mobile p 
    {font-weight: bold;
    line-height: 40px;}
    
    .logo_m img {width: 100%; height: auto;}
    
    .header_m .header_button
    {width: 80px; height: 40px;
    float: right;}
    
    .header_button .main_m, .header_button .login_m
    {width: 40px; height: 40px;
    float: left;}
    
    .main_m img, .login_m img
    {width: 30px; height: 30px;
    margin-top: 5px;}
    
    #menu_m:checked ~ .header_m .lnb_mobile
    {left: 0;}
    
    .header_m .lnb_mobile
    {width: 90%; height: 100vh;
    position: absolute;
    top: 40px; left: -100%;
    background-color: bisque;
    transition: all 0.3s;}
    
    .lnb_mobile .gnb_mobile
    {width: 100%; height: 40px;
    background-color: #0d75bc;
    overflow: hidden;}
    
    .gnb_mobile ul
    {width: calc(100% - 40px - 5px); height: 40px;
    float: left;
    margin-left: 5px;}
    
    .gnb_mobile label
    {width: 40px; 
    line-height: 40px; font-size: 12px; text-align: center;
    color: white;
    float: right;}
    
    .gnb_mobile ul li 
    {float: left;
    line-height: 40px;
    font-size: 10px;
    margin-right: 5px;}
    
    .gnb_mobile ul li a {color: white;}
    
    .gnb_mobile ul li:nth-child(2), .gnb_mobile ul li:nth-child(4), .gnb_mobile ul li:nth-child(6)
    {width: 1px; height: 10px;
    background-color: white;
    margin-top: 15px;}
    
    #submenu01, #submenu02, #submenu03, #submenu04, #submenu05, #submenu06
    {display: none;}
    
    .lnb_mobile .menu_mobile
    {width: 100%; 
    overflow-y: scroll;
    background-color: white;
    overflow: hidden;}
    
    .menu_mobile .menu_left_mobile
    {width: 40%; 
    float: left;}
    
    .menu_left_mobile label p
    {width: 100%; height: 50px;
    text-align: center; line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f3f3f3;
    color: #333;}
    
    #submenu01:checked ~ .menu_mobile label:nth-child(1) p 
    {background-color: white;
    color: #0d75bc;
    border-right: none;}
    
    #submenu02:checked ~ .menu_mobile label:nth-child(2) p 
    {background-color: white;
    color: #0d75bc;
    border-right: none;}
    
    #submenu03:checked ~ .menu_mobile label:nth-child(3) p 
    {background-color: white;
    color: #0d75bc;
    border-right: none;}
    
    #submenu04:checked ~ .menu_mobile label:nth-child(4) p 
    {background-color: white;
    color: #0d75bc;
    border-right: none;}
    
    #submenu05:checked ~ .menu_mobile label:nth-child(5) p 
    {background-color: white;
    color: #0d75bc;
    border-right: none;}
    
    #submenu06:checked ~ .menu_mobile label:nth-child(6) p 
    {background-color: white;
    color: #0d75bc;
    border-right: none;}
    
    #submenu01:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: block;}
    #submenu02:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
    #submenu03:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
    #submenu04:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
    #submenu05:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
    #submenu06:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
    
    #submenu01:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
    #submenu02:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: block;}
    #submenu03:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
    #submenu04:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
    #submenu05:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
    #submenu06:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
    
    #submenu01:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
    #submenu02:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
    #submenu03:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: block;}
    #submenu04:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
    #submenu05:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
    #submenu06:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
    
    #submenu01:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
    #submenu02:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
    #submenu03:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
    #submenu04:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: block;}
    #submenu05:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
    #submenu06:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
    
    #submenu01:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
    #submenu02:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
    #submenu03:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
    #submenu04:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
    #submenu05:checked ~ .menu_mobile .menu_right_mobile .event_m {display: block;}
    #submenu06:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
    
    #submenu01:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
    #submenu02:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
    #submenu03:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
    #submenu04:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
    #submenu05:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
    #submenu06:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: block;}
    
    
    .menu_mobile .menu_right_mobile
    {width:60%; height: 100vh;
    float: left;}
    
    .menu_right_mobile .japan_m
    {width: 100%;}
    
    .japan_m a li 
    {width: 100%; height: 50px;
    font-size: 14px; line-height: 50px;
    text-align: center;
    color: #333;}
    
    .menu_right_mobile .thailand_m
    {width: 100%;}
    
    .thailand_m a li 
    {width: 100%; height: 50px;
    font-size: 14px; line-height: 50px;
    text-align: center;
    color: #333;}
    
    .menu_right_mobile .vietnam_m
    {width: 100%;}
    
    .vietnam_m a li 
    {width: 100%; height: 50px;
    font-size: 14px; line-height: 50px;
    text-align: center;
    color: #333;}
    
    .menu_right_mobile .taiwan_m
    {width: 100%;}
    
    .taiwan_m a li 
    {width: 100%; height: 50px;
    font-size: 14px; line-height: 50px;
    text-align: center;
    color: #333;}
    
    .menu_right_mobile .event_m
    {width: 100%;}
    
    .event_m a li 
    {width: 100%; height: 50px;
    font-size: 14px; line-height: 50px;
    text-align: center;
    color: #333;}
    
    .menu_right_mobile .academy_m
    {width: 100%;}
    
    .academy_m a li 
    {width: 100%; height: 50px;
    font-size: 14px; line-height: 50px;
    text-align: center;
    color: #333;}
    
    .academy_line_m_01
    {width: 100%; height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;}
    
    .member_menu_m
    {width: 95%; height: 30px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;}
    
    .member_menu_m a p 
    {width: 50%; height: 30px;
    font-size: 12px; text-align: center; line-height: 30px;
    float: left;}
    
    .member_menu_m a:nth-child(2) p
    {background-color: #0d75bc;
    color: white;}
    
    .member_menu_m a:nth-child(1) p
    {border: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;}
    
    .membership_title_m
    {width: 95%; 
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 5px;
    font-weight: bold; line-height: 20px;}
    
    .member_line_m_02
    {width: 95%; height: 2px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;}
    
    .member_line_m_02 div:nth-child(1)
    {width: 30%; height: 2px;
    background-color: #f49800;
    float: left;}
    
    .member_line_m_02 div:nth-child(2)
    {width: 70%; height: 2px;
    background-color: #ccc;
    float: left;}
    
    .member_box_m
    {width: 95%;
    margin: 0 auto;}
    
    .member_box_m a 
    {width: 48%;
    float: left;
    margin-bottom: 10px;}
    
    .member_box_m a:nth-child(1), .member_box_m a:nth-child(3), .member_box_m a:nth-child(5), .member_box_m a:nth-child(7), .member_box_m a:nth-child(9)
    {margin-right: 2%;}
    
    .member_box_m a div:nth-child(1)
    {width: 100%; height: 30px;
    overflow: hidden;}
    
    .member_box_m a div:nth-child(1) p:nth-child(1)
    {width: 30%; height: 30px;
    background-color: #ccc;
    font-size: 12px; font-weight: bold; color: #333; text-align: center; line-height: 30px;
    float: left;}
    
    .member_box_m a div:nth-child(1)>p:nth-child(2)
    {width: 70%; height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 12px; font-weight: bold; color: #e5004f; text-align: center; line-height: 30px;
    float: left;}
    
    .member_box_m a div:nth-child(2)
    {width: 100%;}
    
    .member_box_m a div:nth-child(2) img 
    {width: 100%; height: auto;}
    
    .member_box_m a:nth-child(9), .member_box_m a:nth-child(10)
    {margin-bottom: 20px;}
    
    
    
    
    /*btn*/
    
    .num_m_btn
    {width: 180px; height: 20px;
    margin: 0 auto;
    overflow: hidden;}
    
    .num_m_btn a 
    {width: 20px; height: 20px;
    text-align: center; line-height: 20px; font-size: 14px; font-weight: bold;
    float: left;
    color: #333;}
    
    .num_m_btn a:nth-child(2)
    {color: #e5004f;}
    
    .footer_m
    {width: 100%;
    margin-top: 20px;}
    
    .footer_m .footer_top_m
    {width: 100%; height: 40px;
    background-color: #333;}
    
    .footer_top_m .sns_m
    {width: 150px; height: 30px;
    margin: 0 auto;
    padding-top: 5px;}
    
    .sns_m a 
    {width: 30px; height: 30px;
    float: left;
    margin-right: 10px;}
    
    .sns_m a:last-child {margin-right: 0;}
    
    .sns_m a img
    {width: 100%; height: 100%;}
    
    .footer_m .footer_mid_m
    {width: 95%; height: 40px;
    margin: 0 auto;}
    
    .footer_mid_m ul
    {overflow: hidden;}
    
    .footer_mid_m ul a li
    {height: 20px; line-height: 20px;
    float: left; color: #333; font-weight: bold;
    font-size: 10px;}
    
    .footer_mid_m ul a:nth-child(1) li
    {margin-right: 5px;}
    
    .footer_mid_m ul a:nth-child(2) li
    {margin-right: 5px;}
    
    .footer_mid_m ul a:nth-child(3) li
    {margin-right: 5px;}
    
    .footer_mid_m ul a:nth-child(4) li
    {color: red;
    margin-right: 5px;}
    
    .footer_mid_m ul a:nth-child(5) li
    {margin-right: 5px;}
    
    .footer_mid_m ul a:nth-child(6) li
    {margin-right: 5px;}
    
    .footer_mid_m ul a:nth-child(7) li
    {margin-right: 5px;}
    
    
    .footer_m .footer_line_m_02
    {width: 100%; height: 1px;
    background-color: #ccc;}
    
    .footer_m .footer_bottom_ex_m
    {width: 100%;
    background-color: #f3f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 20px;}
    
    .footer_bottom_ex_m .footer_bottom_m
    {width: 95%;
    margin: 0 auto;}
    
    .footer_bottom_m a {color:#333; font-weight: bold;}
    
    .footer_bottom_m>p:nth-child(1)
    {font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;}
    
    .footer_bottom_m .footer_box01
    {width: 100%;}
    
    .footer_box01>p
    {float: left;}
    
    .footer_box01>p:nth-child(1)
    {margin-right: 2px;}
    
    .footer_bottom_m .footer_box02
    {width: 100%;}
    
    .footer_box02>p
    {float: left;}
    
    .footer_box02>p:nth-child(1)
    {margin-right: 2px;}
    
    .footer_bottom_ex_m>a p
    {width: 200px; height: 30px;
    border: 1px solid #333;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px; line-height: 30px; text-align: center;
    color: #333;}
    
    .footer_bottom_ex_m>a span
    {color: #0d75bc;
    font-weight: bold;}   
}


@media all and (min-width:601px) and (max-width:768px)
{

    .footer_m .footer_mid_m
    {width: 95%; height: 20px;
    margin: 5px auto;}

}