* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
}

body {font-family: SpoqaHanSansNeo;}

.mobile
{width: 100%; height: 100vh;
overflow-y: scroll;}

.rout_mobile
{width: 95%; height: 40px;
overflow: hidden;
margin: 0 auto;}

.rout_mobile>a:nth-child(1)
{width: 30px; height: 30px;
text-align: center; line-height: 30px; font-size: 18px;
margin-top: 5px; margin-right: 5px;
color: #0d75bc;
float: left;}

.rout_mobile p:nth-child(2)
{font-weight: bold;
line-height: 40px;
float: left;}

.rout_mobile .rout_icon_m
{width: 65px; height: 30px;
float: right;}

.rout_icon_m>a
{width: 30px; height: 30px;
margin-top: 5px;
float: left;}

.rout_icon_m a:nth-child(1)
{margin-right: 5px;}

.rout_icon_m a img
{width: 100%; height: 100%;}

.detail_line_01
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 10px;}

.detail_txt_m_01
{width: 95%; height: 20px;
margin: 0 auto;
margin-bottom: 10px;}

.detail_txt_m_01 p 
{font-weight: bold;
line-height: 20px; text-align: center;}

.detail_line_02
{width: 100%; height: 2px;
background-color: #f49800;
margin-bottom: 5px;}

.detail_txt_m_02
{width: 95%;
margin: 0 auto;}

.detail_txt_m_02 p 
{font-size: 12px;
font-weight: bold;
line-height: 15px;}

.detail_txt_m_02 span {color: #0d75bc;}

.detail_line_03
{width: 100%; height: 1px;
background-color: #ccc;
margin-top: 5px;
margin-bottom: 10px;}

/*골프장 및 회원권 정보*/

.member_m_box
{width: 95%;
margin: 0 auto;
margin-bottom: 20px;}

.member_m_box>p:nth-child(1)
{width: 100%; height: 15px; line-height: 15px;
font-size: 14px; font-weight: bold;
margin-bottom: 10px;}

.member_m_box table
{width: 100%;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;}

.member_m_box table tr td {font-size: 11px;}

.member_m_box table tr td:nth-child(1)
{background-color: #f3f3f3;
font-weight: bold;}

.member_m_box table tr:nth-child(1) td:nth-child(1)
{width: 20%; height: 30px;
border-top: 2px solid #f49800;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(1) td:nth-child(2)
{width: 80%; height: 30px;
border-top: 2px solid #f49800;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}

.member_m_box table tr:nth-child(2) td:nth-child(1)
{width: 20%; height: 30px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(2) td:nth-child(2)
{width: 20%; height: 30px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}

.member_m_box table tr:nth-child(2) td:nth-child(3)
{width: 20%; height: 30px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(2) td:nth-child(4)
{width: 40%; height: 30px;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}

.member_m_box table tr:nth-child(3) td:nth-child(1)
{width: 20%; height: 30px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(3) td:nth-child(2)
{width: 80%; height: 30px;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}

.member_m_box table tr:nth-child(4) td:nth-child(1)
{width: 20%; height: 30px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(4) td:nth-child(2)
{width: 80%; height: 30px;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.member_m_box table tr:nth-child(4) td:nth-child(2) div 
{margin: 5px 5px;}

.member_m_box table tr:nth-child(4) td:nth-child(2) div p:nth-child(1)
{line-height: 15px;
margin-bottom: 5px;}

.member_m_box table tr:nth-child(4) td:nth-child(2) div a:nth-child(2) p
{width: 70px; height: 20px; line-height: 20px; color: #333;
background-color: #ccc; text-align: center;
border-radius: 10px;}

.member_m_box table tr:nth-child(5) td:nth-child(1)
{width: 20%; height: 40px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(5) td:nth-child(2)
{width: 30%; height: 40px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}

.member_m_box table tr:nth-child(5) td:nth-child(3)
{width: 20%; height: 40px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(5) td:nth-child(4)
{width: 30%; height: 40px;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}

.member_m_box table tr:nth-child(6) td:nth-child(1)
{width: 20%; height: 30px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(6) td:nth-child(2)
{width: 80%; height: 30px;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.member_m_box table tr:nth-child(6) td:nth-child(2) div 
{margin: 5px 5px;}

.member_m_box table tr:nth-child(6) td:nth-child(2) div p:nth-child(1)
{line-height: 15px;
text-align: justify;}


.member_m_box table tr:nth-child(7) td:nth-child(1)
{width: 20%; height: 40px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(7) td:nth-child(2)
{width: 80%; height: 40px;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.member_m_box table tr:nth-child(7) td:nth-child(2) div 
{margin: 5px 5px;}

.member_m_box table tr:nth-child(7) td:nth-child(2) div p:nth-child(1)
{line-height: 15px;}

.member_m_box table tr:nth-child(8) td:nth-child(1)
{width: 20%; height: 30px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
text-align: center;}

.member_m_box table tr:nth-child(8) td:nth-child(2)
{width: 80%; height: 30px;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.member_m_box table tr:nth-child(8) td:nth-child(2) div 
{margin: 5px 5px;}

.member_m_box table tr:nth-child(8) td:nth-child(2) div p:nth-child(1)
{line-height: 15px;
margin-bottom: 5px;}

.member_m_box table tr:nth-child(8) td:nth-child(2) div a:nth-child(2) p
{width: 70px; height: 20px; line-height: 20px; color: #333;
background-color: #ccc; text-align: center;
border-radius: 10px;}

/*골프장 및 회원권 정보*/

.greenfee_mobile
{width: 95%;
margin: 0 auto;
margin-bottom: 20px;}

.greenfee_mobile>p:nth-child(1)
{width: 100%; height: 15px; line-height: 15px;
font-size: 14px; font-weight: bold;
margin-bottom: 10px;}

.greenfee_mobile table
{width: 100%;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;}

.greenfee_mobile table tr td {font-size: 11px;}

.greenfee_mobile table tr td:nth-child(1)
{width: 20%; height: 30px;
text-align: center;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
font-weight: bold;
background-color: #f3f3f3;}

.greenfee_mobile table tr td:nth-child(2)
{width: 26.666666%; height: 30px;
text-align: center;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;}

.greenfee_mobile table tr td:nth-child(3)
{width: 26.666666%; height: 30px;
text-align: center;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;}

.greenfee_mobile table tr td:nth-child(4)
{width: 26.666666%; height: 30px;
text-align: center;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.greenfee_mobile table tr:nth-child(1) td:nth-child(1)
{width: 20%; height: 40px;
border-top: 2px solid #f49800;
box-sizing: border-box;}

.greenfee_mobile table tr:nth-child(1) td:nth-child(2)
{width: 26.666666%; height: 40px;
border-top: 2px solid #f49800;
box-sizing: border-box;
font-weight: bold;
background-color: #f3f3f3;}

.greenfee_mobile table tr:nth-child(1) td:nth-child(3)
{width: 26.666666%; height: 40px;
border-top: 2px solid #f49800;
box-sizing: border-box;
font-weight: bold;
background-color: #f3f3f3;}

.greenfee_mobile table tr:nth-child(1) td:nth-child(4)
{width: 26.666666%; height: 40px;
border-top: 2px solid #f49800;
box-sizing: border-box;
font-weight: bold;
background-color: #f3f3f3;}

.greenfee_mobile table tr:nth-child(7) td:nth-child(1)
{width: 26.666666%; height: 40px;}

.greenfee_mobile table tr:nth-child(8) td:nth-child(1)
{width: 26.666666%; height: 40px;}

.greenfee_mobile table tr:nth-child(9) td:nth-child(2)
{border-right: none;}

.greenfee_mobile table tr:nth-child(9) td:nth-child(2) div
{margin: 5px 5px;
text-align: justify;
line-height: 15px;}

.greenfee_mobile table tr:nth-child(10) td:nth-child(3)
{width: 20%;
background-color: #f3f3f3;
font-weight: bold;}



/*btn*/
.detail_m_btn
{width: 50%; height: 30px;
overflow: hidden;
margin: 0 auto;}

.detail_m_btn a 
{width: 49%; height: 30px;
font-size: 12px; line-height: 30px; text-align: center;
float: left;
background-color: #0d75bc;}

.detail_m_btn a:nth-child(1)
{margin-right: 2%;
background-color: #ff1626;
color: white;}

.detail_m_btn a:nth-child(2)
{background-color: #3b8aff;
color: white;}



.footer_m
{width: 100%;
margin-top: 20px;}

.footer_m .footer_top_m
{width: 100%; height: 40px;
background-color: #333;}

.footer_top_m .sns_m
{width: 150px; height: 30px;
margin: 0 auto;
padding-top: 5px;}

.sns_m a 
{width: 30px; height: 30px;
float: left;
margin-right: 10px;}

.sns_m a:last-child {margin-right: 0;}

.sns_m a img
{width: 100%; height: 100%;}

.footer_m .footer_mid_m
{width: 95%; height: 40px;
margin: 0 auto;}

.footer_mid_m ul
{overflow: hidden;}

.footer_mid_m ul a li
{height: 20px; line-height: 20px;
float: left; color: #333; font-weight: bold;
font-size: 10px;}

.footer_mid_m ul a:nth-child(1) li
{margin-right: 5px;}

.footer_mid_m ul a:nth-child(2) li
{margin-right: 5px;}

.footer_mid_m ul a:nth-child(3) li
{margin-right: 5px;}

.footer_mid_m ul a:nth-child(4) li
{color: red;
margin-right: 5px;}

.footer_mid_m ul a:nth-child(5) li
{margin-right: 5px;}

.footer_mid_m ul a:nth-child(6) li
{margin-right: 5px;}

.footer_mid_m ul a:nth-child(7) li
{margin-right: 5px;}


.footer_m .footer_line_m_02
{width: 100%; height: 1px;
background-color: #ccc;}

.footer_m .footer_bottom_ex_m
{width: 100%;
background-color: #f3f3f3;
padding-top: 10px;
padding-bottom: 10px;
font-size: 12px;
line-height: 20px;}

.footer_bottom_ex_m .footer_bottom_m
{width: 95%;
margin: 0 auto;}

.footer_bottom_m a {color:#333; font-weight: bold;}

.footer_bottom_m>p:nth-child(1)
{font-size: 18px;
font-weight: bold;
margin-bottom: 5px;}

.footer_bottom_m .footer_box01
{width: 100%;}

.footer_box01>p
{float: left;}

.footer_box01>p:nth-child(1)
{margin-right: 2px;}

.footer_bottom_m .footer_box02
{width: 100%;}

.footer_box02>p
{float: left;}

.footer_box02>p:nth-child(1)
{margin-right: 2px;}

.footer_bottom_ex_m>a p
{width: 200px; height: 30px;
border: 1px solid #333;
background-color: white;
margin: 0 auto;
margin-top: 10px;
font-size: 14px; line-height: 30px; text-align: center;
color: #333;}

.footer_bottom_ex_m>a span
{color: #0d75bc;
font-weight: bold;}


@media all and (min-width:601px) and (max-width:768px)
{
    .footer_m .footer_mid_m
    {width: 95%; height: 20px;
    margin: 5px auto;}

}