* {margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
}

body
{font-family: SpoqaHanSansNeo;}

.mobile
{width: 100%; height: 100vh;
overflow: hidden;
overflow-y: scroll;}

.pr_m_top
{width: 95%; height: 40px;
margin: 0 auto;}

.pr_m_top a:nth-child(1)
{width: 30px; height: 30px;
text-align: center; line-height: 30px; font-size: 18px;
margin-top: 5px; margin-right: 5px;
color: #0d75bc;
float: left;}

.pr_m_top>p:nth-child(2)
{font-weight: bold; line-height: 40px;
float: left;}

.pr_m_top a:nth-child(3)
{width: 30px; height: 30px;
margin-top: 5px; margin-right: 5px;
float: right;}

.pr_m_top a:nth-child(3) img 
{width: 100%; height: 100%;}

.pr_line01
{width: 100%; height: 1px;
background-color: #ccc;}

.company_img_m
{width: 100%;
margin-bottom: 20px;}

.company_img_m img
{width: 100%; height: auto;}

.company_tit_m_01
{width: 95%;
margin: 0 auto;
margin-bottom: 20px;}

.company_tit_m_01 p:nth-child(1)
{font-size: 22px;
text-align: center; line-height: 22px; font-weight: bold;
margin-bottom: 5px;}

.company_tit_m_01 p:nth-child(2)
{font-size: 12px; text-align: center;
line-height: 20px;}

.company_txt_m_01
{width: 95%;
margin: 0 auto;}

.company_txt_m_01 p
{line-height: 20px; font-size: 12px;
margin-bottom: 5px;
text-align: justify;}

.company_txt_m_01 p:nth-child(1)
{font-weight: bold;}

.line_img_m
{width: 100%; 
margin-top: 10px;
margin-bottom: 10px;}

.line_img_m img {width: 100%; height: auto;}

.company_txt_m_02
{width: 95%;
margin: 0 auto;
margin-bottom: 20px;}

.company_txt_m_02 p
{line-height: 20px; font-size: 12px;
margin-bottom: 5px;
text-align: justify;}

.company_txt_m_02 p:nth-child(1)
{font-weight: bold;}

.company_tit_m_02
{width: 95%;
margin: 0 auto;
margin-bottom: 20px;}

.company_tit_m_02 p:nth-child(1)
{font-size: 22px;
text-align: center; line-height: 22px; font-weight: bold;
margin-bottom: 5px;}

.company_tit_m_02 p:nth-child(2)
{font-size: 12px; text-align: center;
line-height: 20px;}

.map_m
{width: 100%;}

.map_m img
{width: 100%; height: auto;}