* {margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
}

body
{font-family: SpoqaHanSansNeo;}

.mobile
{width: 100%; height: 100vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.34);}

#img01, #img02, #img03, #img04, #img05, #img06
{display: none;}

#img07, #img08, #img09, #img10, #img11, #img12
{display: none;}

.mobile_ex
{width: 95%;
background-color: white;}

.mobile_ex>p:nth-child(1)
{width: 100%; height: 40px;
font-weight: bold; font-size: 16px;
text-align: center; line-height: 40px;}

.mobile_ex .character_m_line_01
{width: 95%; height: 1px;
margin: 0 auto;
background-color: #ccc;}

.mobile_ex>p:nth-child(3)
{width: 95%; height: 20px;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-weight: bold; font-size: 12px;
line-height: 20px;}

.mobile_ex .chara_m_box
{width: 95%; height: 300px;
overflow-y: scroll;
margin: 0 auto;
border-top: 2px solid #f49800;
border-bottom: 2px solid #f49800;
box-sizing: border-box;
background-color: #f3f3f3;}

.chara_m_box div
{width: 95%;
margin: 0 auto;
overflow: hidden;
margin-bottom: 10px;}

.chara_m_box div:nth-child(1)
{margin-top: 10px;}


.chara_m_box div label
{width: 32%;
float: left;}

.chara_m_box div:nth-child(1) label:nth-child(2)
{margin-left: 2%;
margin-right: 2%;}

.chara_m_box div:nth-child(2) label:nth-child(2)
{margin-left: 2%;
margin-right: 2%;}

.chara_m_box div:nth-child(3) label:nth-child(2)
{margin-left: 2%;
margin-right: 2%;}

.chara_m_box div:nth-child(4) label:nth-child(2)
{margin-left: 2%;
margin-right: 2%;}

.chara_m_box div:nth-child(5) label:nth-child(2)
{margin-left: 2%;
margin-right: 2%;}


.chara_m_box div label img
{width: 100%; height: 100%;}

#chara_btn
{width: 95%; height: 40px;
background-color: #333;
margin-left: 2.5%;
margin-top: 20px;
margin-bottom: 20px;
border: none;
font-size: 14px;
font-family: SpoqaHanSansNeo;
color: white;}
