* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
}

body {font-family: SpoqaHanSansNeo;}

.mobile
{width: 100%; height: 100vh;
margin-bottom: 20px;
overflow-y: scroll;
position: relative;}

.rout_m
{width: 95%; height: 40px;
overflow: hidden;
margin: 0 auto;}

.rout_m>a:nth-child(1)
{width: 30px; height: 30px;
text-align: center; line-height: 30px; font-size: 18px;
margin-top: 5px; margin-right: 5px;
color: #0d75bc;
float: left;}

.rout_m p:nth-child(2)
{font-weight: bold;
line-height: 40px;
float: left;}

.rout_m .rout_icon_m
{width: 65px; height: 30px;
float: right;}

.rout_icon_m>a
{width: 30px; height: 30px;
margin-top: 5px;
float: left;}

.rout_icon_m a:nth-child(1)
{margin-right: 5px;}

.rout_icon_m a img
{width: 100%; height: 100%;}

.detail_line_01_m
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 10px;}

.product_tit_m
{width: 95%;
margin: 0 auto;
font-weight: bold; line-height: 20px;
margin-bottom: 5px;}

.detail_line_box_m
{width: 95%; height: 2px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.detail_line_box_m div:nth-child(1)
{width: 30%; height: 2px;
background-color: #f49800;
float: left;}

.detail_line_box_m div:nth-child(2)
{width: 70%; height: 2px;
background-color: #ccc;
float: left;}

#link_mobile
{display: none;}

.popup_box
{width: 95%; height: 20px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.popup_box>div
{width: 95px; height: 20px;
float: right;}

.popup_box div a 
{width: 20px; height: 20px;
margin-right: 5px;
float: left;}

.popup_box div a:last-child {margin-right: 0;}

.popup_box div label 
{width: 20px; height: 20px;
margin-right: 5px;
float: left;}

.popup_box div a img 
{width: 100%; height: 100%;}

.popup_box div label img
{width: 100%; height: 100%;}

/*popup*/

#link_mobile:checked ~ .back_m {display: block;}


.back_m
{width: 100%; height: 100vh;
position: absolute;
top: 41px;
background-color: rgba(0, 0, 0, 0.44);
display: none;}

.link_box_m
{width: 95%;
margin: 0 auto;
overflow: hidden;
margin-bottom: 10px;}

.link_box_m div
{width: 115px;
float: right;}

.link_box_m div label
{width: 55px;
margin-right: 5px;
float: left;}

.link_box_m div a 
{width: 55px;
float: left;}

.link_box_m label img 
{width: 100%; height: auto;}

.link_box_m a img 
{width: 100%; height: auto;}


.sns_box_m
{width: 132px; height: 135px;
border: 1px solid #333;
background-color: white;
border-radius: 5px;
box-sizing: border-box;
overflow: hidden;
position: absolute;
top: calc(50% - 65px); left: calc(50% - 65px);}

.sns_box_m label img
{width: 15px; height: 15px;
margin-top: 5px; margin-left: calc(100% - 20px);}

.sns_box_m>p:nth-child(2)
{width: 100%; height: 20px;
font-size: 14px; font-weight: bold; text-align: center; line-height: 20px;
margin-bottom: 10px;}

.sns_box_m a
{width: 30px; height: 30px;
margin-right: 10px;
float: left;}

.sns_box_m a:nth-child(3)
{margin-left: 10px;
margin-bottom: 10px;}

.sns_box_m a:nth-child(4)
{margin-bottom: 10px;}

.sns_box_m a:nth-child(5)
{margin-bottom: 10px;}

.sns_box_m a:nth-child(6)
{margin-left: 10px;}

.sns_box_m a img 
{width: 100%; height: 100%;}


/*img_box*/

.detail_img_box
{width: 95%;
margin: 0 auto;
margin-bottom: 10px;}

.detail_img_box>div:nth-child(1)
{width: 100%;
margin-bottom: 5px;}

.detail_img_box>div:nth-child(1) img 
{width: 100%; height: auto;}

.detail_img_box>div:nth-child(2)
{width: 100%;
overflow: hidden;}

.detail_img_box>div:nth-child(2) div
{width: 19.2%;
float: left;}

.detail_img_box>div:nth-child(2) div img 
{width: 100%; height: auto;}

.detail_img_box>div:nth-child(2) div:nth-child(2), .detail_img_box>div:nth-child(2) div:nth-child(4)
{margin-left: 1%; margin-right: 1%;}

/*icon*/

.detail_icon_m
{width: 95%;
margin: 0 auto;
margin-bottom: 20px;}

.detail_icon_m>div
{width: 100%;}

.detail_icon_m>div
{width: 100%; height: 30px;
overflow: hidden;}

.detail_icon_m>div>div:nth-child(1)
{width: 30%; height: 30px;
float: left;}

.detail_icon_m>div>div:nth-child(1)>div:nth-child(1)
{width: 20px; height: 20px;
margin-right: 5px; margin-top: 5px;
float: left;}

.detail_icon_m>div>div:nth-child(1)>div:nth-child(1) img 
{width: 100%; height: 100%;}

.detail_icon_m>div>div:nth-child(1)>p:nth-child(2)
{font-size: 11px; line-height: 30px;
font-weight: bold;
float: left;}

.detail_icon_m>div>p:nth-child(2)
{width: 70%; height: 30px;
font-size: 11px;
float: left; line-height: 30px;}

.detail_icon_m .line_icon_01, .detail_icon_m .line_icon_02, .detail_icon_m .line_icon_03, .detail_icon_m .line_icon_04, .detail_icon_m .line_icon_05, .detail_icon_m .line_icon_06, .detail_icon_m .line_icon_07
{width: 100%; height: 1px;
background-color: #ccc;}

.detail_icon_m>div:nth-child(11)>div:nth-child(1)
{width: 30%; height: 30px;
float: left;}

.detail_icon_m>div:nth-child(11)>div:nth-child(1)>div:nth-child(1)
{width: 20px; height: 20px;
margin-right: 5px; margin-top: 5px;
float: left;}

.detail_icon_m>div:nth-child(11)>div:nth-child(1)>div:nth-child(1) img 
{width: 100%; height: 100%;}

.detail_icon_m>div:nth-child(11)>div:nth-child(1)>p:nth-child(2)
{font-size: 11px; line-height: 30px;
font-weight: bold;
float: left;}

.detail_icon_m>div:nth-child(11)>div:nth-child(2)
{width: 70%; height: 30px;
float: left;}

.detail_icon_m>div:nth-child(11)>div:nth-child(2) p:nth-child(1)
{font-size: 11px;
float: left;
line-height: 30px;}

.detail_icon_m>div:nth-child(11)>div:nth-child(2) p:nth-child(2)
{font-size: 11px;
float: right;
line-height: 30px;}

/*menu*/

#menu_m_01, #menu_m_02, #menu_m_03
{display: none;}

.mobile_detail_menu
{width: 100%; height: 30px;
overflow: hidden;}

.mobile_detail_menu label
{width: 30%; height: 30px;
border-bottom: 1px solid #333;
box-sizing: border-box;
float: left;
color: #5e5e5e;}

.mobile_detail_menu label p 
{font-size: 12px;
text-align: center;
line-height: 30px;}

.mobile_detail_menu .detail_menu_line_m
{width: 10%; height: 1px;
float: left;
margin-top: 29px;
background-color: #333;}

#menu_m_01:checked ~ .mobile_detail_menu label:nth-child(1)
{font-weight: bold;
border-left: 1px solid #333;
border-right: 1px solid #333;
border-top: 1px solid #333;
border-bottom: none;
box-sizing: border-box;
color: #333;}

#menu_m_01:checked ~ .page01_m {display: block;}
#menu_m_02:checked ~ .page01_m {display: none;}
#menu_m_03:checked ~ .page01_m {display: none;}

#menu_m_02:checked ~ .mobile_detail_menu label:nth-child(2)
{font-weight: bold;
border-left: 1px solid #333;
border-right: 1px solid #333;
border-top: 1px solid #333;
border-bottom: none;
box-sizing: border-box;
color: #333;}

#menu_m_01:checked ~ .page02_m {display: none;}
#menu_m_02:checked ~ .page02_m {display: block;}
#menu_m_03:checked ~ .page02_m {display: none;}

#menu_m_03:checked ~ .mobile_detail_menu label:nth-child(3)
{font-weight: bold;
border-left: 1px solid #333;
border-right: 1px solid #333;
border-top: 1px solid #333;
border-bottom: none;
box-sizing: border-box;
color: #333;}

#menu_m_01:checked ~ .page03_m {display: none;}
#menu_m_02:checked ~ .page03_m {display: none;}
#menu_m_03:checked ~ .page03_m {display: block;}



/*page01*/

.page01_m
{width: 95%;
margin: 0 auto;
margin-top: 10px;}

.page01_m>p:nth-child(1)
{width: 100%;
font-size: 10px; font-weight: bold;
color: red; line-height: 15px;
margin-bottom: 10px;}

/*예약*/
.page01_m .reservation_m
{width: 100%;
margin-bottom: 20px;}

.reservation_m .rese_m
{width: 100%;
font-size: 10px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 10px;}

.rese_m tr:nth-child(1) td
{width: 100%; height: 20px;
font-weight: bold;
font-size: 10px; text-align: center;
border-top: 2px solid #333;
border-bottom: 1px solid #ccc;}

.rese_m tr td
{width: 25%; height: 20px;
text-align: center;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.rese_m tr:nth-child(2) td
{font-weight: bold;}

.rese_m tr td:last-child 
{border-right: none;}

.rese_m tr:nth-child(4) td
{font-weight: bold;}

.rese_m tr:nth-child(5) td div
{width: 110px;
margin: 5px auto;
overflow: hidden;}

.rese_m tr:nth-child(5) td div p 
{font-weight: bold; color: red;
float: left;
text-align: center; line-height: 20px;}

.rese_m tr:nth-child(5) td div a p 
{width: 50px; height: 20px;
background-color: #f49800;
margin-left: 5px; color: white;
border-radius: 10px; line-height: 20px; text-align: center;
float: left;}

.rese_m tr:nth-child(6) td
{height: 20px;
text-align: center;
font-weight: bold;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.rese_m tr:nth-child(7) td
{border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.rese_m tr:nth-child(7) td div
{width: 110px;
margin: 5px auto;
overflow: hidden;}

.rese_m tr:nth-child(7) td div p 
{font-weight: bold; color: red;
float: left;
text-align: center; line-height: 20px;}

.rese_m tr:nth-child(7) td div a p 
{width: 50px; height: 20px;
background-color: #f49800;
margin-left: 5px; color: white;
border-radius: 10px; line-height: 20px; text-align: center;
float: left;}

.rese_m tr:nth-child(9) td
{font-weight: bold;}

.rese_m tr:nth-child(10) td div
{width: 110px;
margin: 5px auto;
overflow: hidden;}

.rese_m tr:nth-child(10) td div p 
{font-weight: bold; color: red;
float: left;
text-align: center; line-height: 20px;}

.rese_m tr:nth-child(10) td div a p 
{width: 50px; height: 20px;
background-color: #f49800;
margin-left: 5px; color: white;
border-radius: 10px; line-height: 20px; text-align: center;
float: left;}

.rese_m tr:nth-child(11) td
{font-weight: bold;}

.rese_m tr:nth-child(12) td div
{width: 110px;
margin: 5px auto;
overflow: hidden;}

.rese_m tr:nth-child(12) td div p 
{font-weight: bold; color: red;
float: left;
text-align: center; line-height: 20px;}

.rese_m tr:nth-child(12) td div a p 
{width: 50px; height: 20px;
background-color: #f49800;
margin-left: 5px; color: white;
border-radius: 10px; line-height: 20px; text-align: center;
float: left;}

.rese_m tr:nth-child(14) td
{font-weight: bold;}

.rese_m tr:nth-child(15) td div
{width: 110px;
margin: 5px auto;
overflow: hidden;}

.rese_m tr:nth-child(15) td div p 
{font-weight: bold; color: red;
float: left;
text-align: center; line-height: 20px;}

.rese_m tr:nth-child(15) td div a p 
{width: 50px; height: 20px;
background-color: #f49800;
margin-left: 5px; color: white;
border-radius: 10px; line-height: 20px; text-align: center;
float: left;}

.rese_m tr:nth-child(16) td
{font-weight: bold;}

.rese_m tr:nth-child(17) td div
{width: 110px;
margin: 5px auto;
overflow: hidden;}

.rese_m tr:nth-child(17) td div p 
{font-weight: bold; color: red;
float: left;
text-align: center; line-height: 20px;}

.rese_m tr:nth-child(17) td div a p 
{width: 50px; height: 20px;
background-color: #f49800;
margin-left: 5px; color: white;
border-radius: 10px; line-height: 20px; text-align: center;
float: left;}

.rese_m tr:nth-child(19) td
{font-weight: bold;}

.rese_m tr:nth-child(20) td div
{width: 110px;
margin: 5px auto;
overflow: hidden;}

.rese_m tr:nth-child(20) td div p 
{font-weight: bold; color: red;
float: left;
text-align: center; line-height: 20px;}

.rese_m tr:nth-child(20) td div a p 
{width: 50px; height: 20px;
background-color: #f49800;
margin-left: 5px; color: white;
border-radius: 10px; line-height: 20px; text-align: center;
float: left;}

.rese_m tr:nth-child(21) td
{font-weight: bold;}

.rese_m tr:nth-child(22) td div
{width: 110px;
margin: 5px auto;
overflow: hidden;}

.rese_m tr:nth-child(22) td div p 
{font-weight: bold; color: red;
float: left;
text-align: center; line-height: 20px;}

.rese_m tr:nth-child(22) td div a p 
{width: 50px; height: 20px;
background-color: #f49800;
margin-left: 5px; color: white;
border-radius: 10px; line-height: 20px; text-align: center;
float: left;}

/*여행불가*/

.reservation_m .no_reservation_m
{width: 100%;}

.no_reservation_m tr:nth-child(1) td
{width: 100%; height: 20px;
border: 1px solid #ccc;
border-top: 2px solid #333;
box-sizing: border-box;
background-color: #f3f3f3;
text-align: center; font-size: 12px; font-weight: bold;}

.no_reservation_m tr td:nth-child(1)
{width: 40%; height: 20px;
text-align: center; font-size: 10px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.no_reservation_m tr td:nth-child(2)
{width: 60%; height: 20px;
text-align: center; font-size: 10px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

/*포함사항*/
.page01_m .include_m_01
{width: 100%;}

.include_m_01 .include_m_icon_01
{width: 100%; height: 30px;
overflow: hidden;
margin-bottom: 5px;}

.include_m_icon_01 div:nth-child(1)
{width: 30px; height: 30px;
float: left;
margin-right: 5px;}

.include_m_icon_01 p:nth-child(2)
{width: calc(100% - 35px); height: 30px;
float: left;
font-size: 14px; font-weight: bold; line-height: 30px;}

.include_m_icon_01 div:nth-child(1) img
{width: 100%; height: 100%;}

.include_m_01 .include_m_txt_01
{width: 100%;}

.include_m_txt_01 p
{font-size: 12px;
line-height: 20px;}

.page01_m .include_line_01
{width: 100%; height: 1px;
background-color: #ccc;
margin-top: 10px;
margin-bottom: 10px;}

/*포함사항*/
.page01_m .include_m_02
{width: 100%;}

.include_m_02 .include_m_icon_02
{width: 100%; height: 30px;
overflow: hidden;
margin-bottom: 5px;}

.include_m_icon_02 div:nth-child(1)
{width: 30px; height: 30px;
float: left;
margin-right: 5px;}

.include_m_icon_02 p:nth-child(2)
{width: calc(100% - 35px); height: 30px;
float: left;
font-size: 14px; font-weight: bold; line-height: 30px;}

.include_m_icon_02 div:nth-child(1) img
{width: 100%; height: 100%;}

.include_m_02 .include_m_txt_02
{width: 100%;}

.include_m_txt_02 p
{font-size: 12px;
line-height: 20px;}

.page01_m .include_line_02
{width: 100%; height: 1px;
background-color: #ccc;
margin-top: 10px;
margin-bottom: 10px;}

/*포함사항*/
.page01_m .include_m_03
{width: 100%;}

.include_m_03 .include_m_icon_03
{width: 100%; height: 30px;
overflow: hidden;
margin-bottom: 5px;}

.include_m_icon_03 div:nth-child(1)
{width: 30px; height: 30px;
float: left;
margin-right: 5px;}

.include_m_icon_03 p:nth-child(2)
{width: calc(100% - 35px); height: 30px;
float: left;
font-size: 14px; font-weight: bold; line-height: 30px;}

.include_m_icon_03 div:nth-child(1) img
{width: 100%; height: 100%;}

.include_m_03 .include_m_txt_03
{width: 100%;}

.include_m_txt_03 p
{font-size: 12px;
line-height: 20px;}

.page01_m .include_line_03
{width: 100%; height: 1px;
background-color: #ccc;
margin-top: 10px;
margin-bottom: 10px;}

/*포함사항*/
.page01_m .include_m_04
{width: 100%;}

.include_m_04 .include_m_icon_04
{width: 100%; height: 30px;
overflow: hidden;
margin-bottom: 5px;}

.include_m_icon_04 div:nth-child(1)
{width: 30px; height: 30px;
float: left;
margin-right: 5px;}

.include_m_icon_04 p:nth-child(2)
{width: calc(100% - 35px); height: 30px;
float: left;
font-size: 14px; font-weight: bold; line-height: 30px;}

.include_m_icon_04 div:nth-child(1) img
{width: 100%; height: 100%;}

.include_m_04 .include_m_txt_04
{width: 100%;}

.include_m_txt_04 p
{font-size: 12px;
line-height: 20px;}


/*여행일정*/
.page01_m .travel_m_box
{width: 100%;
margin-top: 20px;
margin-bottom: 20px;}

.travel_m_box>p:nth-child(1)
{width: 100%; height: 15px;
font-size: 14px; font-weight: bold; line-height: 15px;
margin-bottom: 5px;}

.travel_m_box .travel_txt_m
{width: 100%;
background-color: #f3f3f3;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 5px;}

.travel_txt_m>div:nth-child(1)
{width: 95%; height: 20px;
margin: 0 auto;
overflow: hidden;}

.travel_txt_m>div:nth-child(1)>div:nth-child(1)
{width: 12px; height: 12px;
float: left;
margin-right: 5px; margin-top: 4px;}

.travel_txt_m>div:nth-child(1)>div:nth-child(1) img 
{width: 100%; height: 100%;}

.travel_txt_m>div:nth-child(1)>p:nth-child(2)
{width: calc(100% - 17px); height: 20px;
float: left; line-height: 20px;
font-size: 12px; font-weight: bold;}

.travel_txt_m>p:nth-child(2)
{width: 95%;
margin: 0 auto;
font-size: 10px;
text-align: justify; line-height: 15px;}

/*1일차*/
.travel_m_box .day01_m
{width: 100%;
font-size: 10px;
margin-bottom: 10px;}

.day01_m tr:nth-child(1) td:nth-child(1)
{width: 30%;
background-color: #f3f3f3;
border-top: 2px solid #f49800;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-align: center; font-size: 12px; font-weight: bold;}

.day01_m tr:nth-child(1) td:nth-child(2)
{width: 70%;
border-top: 2px solid #333;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.day01_m tr:nth-child(1) td:nth-child(2) div
{width: 95%;
margin: 5px auto;}

.day01_m tr:nth-child(1) td:nth-child(2) div span {font-weight: bold;}

.day01_m tr:nth-child(1) td:nth-child(2) div p
{line-height: 15px;}

.day01_m tr:nth-child(1) td:nth-child(2) div p:nth-child(2)
{margin-bottom: 5px;}

.day01_m tr:nth-child(1) td:nth-child(2) div p:nth-child(4)
{margin-bottom: 5px;}

.day01_m tr:nth-child(1) td:nth-child(2) div p:nth-child(5)
{color: #e5004f;
font-weight: bold;}

.day01_m tr:nth-child(2) td:nth-child(1)
{width: 50%;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.day01_m tr:nth-child(2) td:nth-child(1) div
{width: 95%;
margin: 5px auto;}

.day01_m tr:nth-child(2) td:nth-child(2)
{width: 20%;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-align: center;
background-color: #f3f3f3;
font-weight: bold;}

.day01_m tr:nth-child(2) td:nth-child(3)
{width: 30%;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}

/*2일차*/
.travel_m_box .day02_m
{width: 100%;
font-size: 10px;
margin-bottom: 10px;}

.day02_m tr:nth-child(1) td:nth-child(1)
{width: 30%;
background-color: #f3f3f3;
border-top: 2px solid #f49800;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-align: center; font-size: 12px; font-weight: bold;}

.day02_m tr:nth-child(1) td:nth-child(2)
{width: 70%;
border-top: 2px solid #333;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.day02_m tr:nth-child(1) td:nth-child(2)>div
{width: 95%;
margin: 5px auto;}

.day02_m tr:nth-child(1) td:nth-child(2)>div .twoday_img
{width: 100%;
margin: 0 auto;
overflow: hidden;}

.twoday_img div
{width: 32.666666%;
float: left;}

.twoday_img div img 
{width: 100%; height: auto;}

.twoday_img div:nth-child(2)
{margin-left: 1%;
margin-right: 1%;}

.day02_m tr:nth-child(1) td:nth-child(2)>div p
{line-height: 15px;
margin-bottom: 5px;}

.day02_m tr:nth-child(1) td:nth-child(2)>div p:nth-child(2)
{color: #e5004f;
font-weight: bold;}

.day02_m tr:nth-child(2) td:nth-child(1)
{width: 50%;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.day02_m tr:nth-child(2) td:nth-child(1) div
{width: 95%;
margin: 5px auto;}

.day02_m tr:nth-child(2) td:nth-child(2)
{width: 20%;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-align: center;
background-color: #f3f3f3;
font-weight: bold;}

.day02_m tr:nth-child(2) td:nth-child(3)
{width: 30%;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}

/*3일차*/
.travel_m_box .day03_m
{width: 100%;
font-size: 10px;}

.day03_m tr:nth-child(1) td:nth-child(1)
{width: 30%;
background-color: #f3f3f3;
border-top: 2px solid #f49800;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-align: center; font-size: 12px; font-weight: bold;}

.day03_m tr:nth-child(1) td:nth-child(2)
{width: 70%;
border-top: 2px solid #333;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.day03_m tr:nth-child(1) td:nth-child(2) div
{width: 95%;
margin: 5px auto;}

.day03_m tr:nth-child(1) td:nth-child(2) div span {font-weight: bold;}

.day03_m tr:nth-child(1) td:nth-child(2) div p
{line-height: 15px;}

.day03_m tr:nth-child(1) td:nth-child(2) div p:nth-child(1)
{margin-bottom: 5px;}

.day03_m tr:nth-child(1) td:nth-child(2) div p:nth-child(2)
{margin-bottom: 5px;
color: #e5004f;
font-weight: bold;}

.day03_m tr:nth-child(2) td:nth-child(1)
{width: 50%;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.day03_m tr:nth-child(2) td:nth-child(1) div
{width: 95%;
margin: 5px auto;}

.day03_m tr:nth-child(2) td:nth-child(2)
{width: 20%;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-align: center;
background-color: #f3f3f3;
font-weight: bold;}

.day03_m tr:nth-child(2) td:nth-child(3)
{width: 30%;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
text-indent: 5px;}



/*골프장 정보*/

.page01_m .golf_m_01
{width: 100%;
margin-bottom: 10px;}

.golf_m_01 .golf_m_01_line
{width: 100%; height: 2px;
overflow: hidden;}

.golf_m_01_line div:nth-child(1)
{width: 30%; height: 2px;
float: left;
background-color: #f49800;}

.golf_m_01_line div:nth-child(2)
{width: 70%; height: 2px;
float: left;
background-color: #ccc;}

.golf_m_01 .golf_m_p
{width: 100%; height: 20px;
line-height: 20px; font-weight: bold; font-size: 14px;}

.golf_m_01 .golf_m_02_line
{width: 100%; height: 2px;
overflow: hidden;}

.golf_m_02_line div:nth-child(1)
{width: 30%; height: 2px;
float: left;
background-color: #f49800;}

.golf_m_02_line div:nth-child(2)
{width: 70%; height: 2px;
float: left;
background-color: #ccc;}

.golf_m_01 .golf_m_name
{width: 100%; height: 20px;
line-height: 20px; font-weight: bold; font-size: 14px;
margin-top: 5px;}

.golf_m_01 .golf_m_img
{width: 100%;
margin-top: 5px; margin-bottom: 5px;
overflow: hidden;}

.golf_m_img div 
{width: 49.5%;
float: left;}

.golf_m_img div:nth-child(1)
{margin-right: 1%;}

.golf_m_img div img
{width: 100%; height: auto;}

.golf_m_01 .golf_m_txt
{width: 100%;
background-color: #f3f3f3;}

.golf_m_txt div
{width: 95%;
margin: 0 auto;
padding-top: 5px; padding-bottom: 5px;}

.golf_m_txt div p 
{font-size: 10px;
line-height: 15px;
text-align: justify;}

/*호텔 정보*/

.page01_m .hotel_m_01
{width: 100%;
margin-bottom: 10px;}

.hotel_m_01 .hotel_m_01_line
{width: 100%; height: 2px;
overflow: hidden;}

.hotel_m_01_line div:nth-child(1)
{width: 30%; height: 2px;
float: left;
background-color: #f49800;}

.hotel_m_01_line div:nth-child(2)
{width: 70%; height: 2px;
float: left;
background-color: #ccc;}

.hotel_m_01 .hotel_m_p
{width: 100%; height: 20px;
line-height: 20px; font-weight: bold; font-size: 14px;}

.hotel_m_01 .hotel_m_02_line
{width: 100%; height: 2px;
overflow: hidden;}

.hotel_m_02_line div:nth-child(1)
{width: 30%; height: 2px;
float: left;
background-color: #f49800;}

.hotel_m_02_line div:nth-child(2)
{width: 70%; height: 2px;
float: left;
background-color: #ccc;}

.hotel_m_01 .hotel_m_name
{width: 100%; height: 20px;
line-height: 20px; font-weight: bold; font-size: 14px;
margin-top: 5px;}

.hotel_m_01 .hotel_m_img
{width: 100%;
margin-top: 5px; margin-bottom: 5px;
overflow: hidden;}

.hotel_m_img div 
{width: 49.5%;
float: left;}

.hotel_m_img div:nth-child(1)
{margin-right: 1%;}

.hotel_m_img div img
{width: 100%; height: auto;}

.hotel_m_01 .hotel_m_txt
{width: 100%;
background-color: #f3f3f3;}

.hotel_m_txt div
{width: 95%;
margin: 0 auto;
padding-top: 5px; padding-bottom: 5px;}

.hotel_m_txt div p 
{font-size: 10px;
line-height: 15px;
text-align: justify;}

/*page02*/

#mobile_star01, #mobile_star02, #mobile_star03, #mobile_star04, #mobile_star05, #mobile_star06, #mobile_star07, #mobile_star08, #mobile_star09, #mobile_star10
{display: none;}

#mobile_star11, #mobile_star12, #mobile_star13, #mobile_star14, #mobile_star15, #mobile_star16, #mobile_star17, #mobile_star18, #mobile_star19, #mobile_star20
{display: none;}

#mobile_star21, #mobile_star22, #mobile_star23, #mobile_star24, #mobile_star25, #mobile_star26, #mobile_star27, #mobile_star28, #mobile_star29, #mobile_star30
{display: none;}

#mobile_star31, #mobile_star32, #mobile_star33, #mobile_star34, #mobile_star35, #mobile_star36, #mobile_star37, #mobile_star38, #mobile_star39, #mobile_star40
{display: none;}

#mobile_star41, #mobile_star42, #mobile_star43, #mobile_star44, #mobile_star45, #mobile_star46, #mobile_star47, #mobile_star48, #mobile_star49, #mobile_star50
{display: none;}

#mobile_star51, #mobile_star52, #mobile_star53, #mobile_star54, #mobile_star55, #mobile_star56, #mobile_star57, #mobile_star58, #mobile_star59, #mobile_star60
{display: none;}

#mobile_star61, #mobile_star62, #mobile_star63, #mobile_star64, #mobile_star65, #mobile_star66, #mobile_star67, #mobile_star68, #mobile_star69, #mobile_star70
{display: none;}

#mobile_star71, #mobile_star72, #mobile_star73, #mobile_star74, #mobile_star75, #mobile_star76, #mobile_star77, #mobile_star78, #mobile_star79, #mobile_star80
{display: none;}

#mobile_star81, #mobile_star82, #mobile_star83, #mobile_star84, #mobile_star85, #mobile_star86, #mobile_star87, #mobile_star88, #mobile_star89, #mobile_star90
{display: none;}

.page02_m
{width: 95%;
margin: 0 auto;
margin-top: 10px;}

/*평균 점수 전체*/

.page02_m .star_m_box
{width: 100%;
margin-bottom: 20px;
overflow: hidden;}

.star_m_box>div
{width: 32.666666%; height: 54px;
float: left;
margin-bottom: 10px;}

.star_m_box>div:nth-child(4), .star_m_box>div:nth-child(5), .star_m_box>div:nth-child(6)
{margin-bottom: 0;}

.star_m_box>div:nth-child(2)>p:nth-child(1), .star_m_box>div:nth-child(3)>p:nth-child(1), .star_m_box>div:nth-child(4)>p:nth-child(1), .star_m_box>div:nth-child(5)>p:nth-child(1), .star_m_box>div:nth-child(6)>p:nth-child(1)
{height: 20px;
font-size: 14px; font-weight: bold; text-align: center;
margin-bottom: 10px;}

.star_m_box>div:nth-child(2)>div, .star_m_box>div:nth-child(3)>div, .star_m_box>div:nth-child(4)>div, .star_m_box>div:nth-child(5)>div, .star_m_box>div:nth-child(6)>div
{background-color: #ccc;
border-radius: 15px;}

.star_m_box>div>div>p
{font-size: 12px; line-height: 20px; text-align: center;
margin: 5px 5px;}

.star_m_box>div:nth-child(1)>p:nth-child(1)
{height: 20px;
text-align: center; line-height: 20px;
font-size: 14px; font-weight: bold;}

.star_m_box>div:nth-child(1) span
{font-size: 16px;
color: #0d75bc;}

.star_m_box>div:nth-child(1)>div:nth-child(2)
{width: 60px; height: 12px;
margin: 0 auto;
margin-bottom: 2px;
overflow: hidden;}

.star_m_box>div:nth-child(1)>div:nth-child(2)>label
{width: 12px; height: 12px;
float: left;}

.star_m_box>div:nth-child(1)>div:nth-child(2)>label img 
{width: 100%; height: 100%;}

.star_m_box>div:nth-child(2)
{margin-left: 1%; margin-right: 1%;}

.star_m_box>div:nth-child(5)
{margin-left: 1%; margin-right: 1%;}

.star_m_box>div:nth-child(1)>p:nth-child(3)
{height: 20px;
font-size: 12px; line-height: 20px;
text-align: center;}

/*점수 리뷰 등록*/

.page02_m .star_review_m
{width: 100%;
margin-bottom: 20px;}

.star_review_m>p:nth-child(1)
{width: 100%; height: 12px;
font-size: 12px; line-height: 12px; font-weight: bold;
margin-bottom: 10px;}

.star_review_m>p:nth-child(1) span 
{color: #e5004f;}

.star_review_m>div:nth-child(2)
{width: 100%;
background-color: #f3f3f3;
border: 1px solid #ccc;
border-top: 2px solid #333;
box-sizing: border-box;}

.star_review_m>div:nth-child(2)>p:nth-child(1), .star_review_m>div:nth-child(2)>p:nth-child(2)
{width: 95%;
margin: 0 auto;
font-size: 12px; line-height: 12px;}

.star_review_m>div:nth-child(2)>p:nth-child(1)
{font-weight: bold;
margin-top: 10px; margin-bottom: 5px;}

.star_review_m>div:nth-child(2)>p:nth-child(2)
{margin-bottom: 5px;}

.star_review_m .star_re_box_m
{width: 95%;
margin: 0 auto;
overflow: hidden;
background-color: white;
border: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 10px;}

.star_re_box_m>div
{width: 33.333333%;
float: left;
margin-bottom: 5px;}

.star_re_box_m>div:nth-child(1), .star_re_box_m>div:nth-child(2), .star_re_box_m>div:nth-child(3)
{margin-top: 5px;}

.star_re_box_m>div>p:nth-child(1)
{font-size: 12px; font-weight: bold;
text-align: center;}

.star_re_box_m>div>div:nth-child(2)
{width: 60px; height: 12px;
margin: 5px auto;
overflow: hidden;}

.star_re_box_m>div>div:nth-child(2) label
{width: 12px; height: 12px;
float: left;}

.star_re_box_m>div>div:nth-child(2) label img
{width: 100%; height: 100%;}

.star_re_box_m>div>div:nth-child(3)
{width: 60px; height: 20px;
background-color: #ccc;
margin: 0 auto;
border-radius: 10px;}

.star_re_box_m>div>div:nth-child(3) p 
{font-size: 12px;
text-align: center; line-height: 20px;}

.star_review_m>p:nth-child(3)
{width: 95%; height: 12px;
font-size: 12px; line-height: 12px;
margin-bottom: 5px; color: red;}

.star_review_m>div:nth-child(2)>p:nth-child(4)
{width: 95%;
margin: 0 auto;
font-size: 12px; line-height: 15px;
color: red;
margin-bottom: 5px;}

#review_mobile_01
{width: 95%; height: 120px;
margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 5px;
border: 1px solid #333;
box-sizing: border-box;}

.star_review_m .review_btn_m_01
{width: 50%; height: 30px;
margin: 0 auto;
margin-bottom: 10px;
overflow: hidden;}

#submit_m
{width: 49%; height: 30px;
float: left;
margin-right: 2%;
border: none;
background-color: #0d75bc; color: white; font-size: 12px;}

#reset_m
{width: 49%; height: 30px;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;
background-color: white;
color: #333; font-size: 12px;}

/*리뷰01*/

.page02_m .star_review_mobilebox_01
{width: 100%;
margin-bottom: 20px;}

.star_review_mobilebox_01 .name_01_m
{width: 100%;
overflow: hidden;
margin-bottom: 5px;}

.star_review_mobilebox_01 .name_01_m>div
{width: 50%;
float: left;}

.star_review_mobilebox_01 .name_01_m>div:nth-child(1) p:nth-child(1)
{width: 100%; height: 20px;
font-size: 14px; font-weight: bold; line-height: 20px;}

.star_review_mobilebox_01 .name_01_m>div:nth-child(1) p:nth-child(2)
{width: 100%; height: 20px;
font-size: 12px; line-height: 20px;}

.star_review_mobilebox_01 .name_01_m>div:nth-child(2)>div:nth-child(1) p
{width: 100%; height: 20px;
font-size: 14px; font-weight: bold; line-height: 20px;
margin-bottom: 4px;}

.star_review_mobilebox_01 .name_01_m>div:nth-child(2)>div:nth-child(1) p span
{font-size: 16px; color: #0d75bc;}

.star_review_mobilebox_01 .name_01_m>div:nth-child(2)>div:nth-child(2)
{width: 60px; height: 12px;
overflow: hidden;}

.star_review_mobilebox_01 .name_01_m>div:nth-child(2)>div:nth-child(2) label
{width: 12px; height: 12px;
float: left;}

.star_review_mobilebox_01 .name_01_m>div:nth-child(2)>div:nth-child(2) label img 
{width: 100%; height: 100%;}

/*점수*/
.star_review_mobilebox_01 .name_star_m_01
{width: 100%;
margin: 0 auto;
overflow: hidden;
background-color: white;
border: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 5px;}

.name_star_m_01>div
{width: 33.333333%;
float: left;
margin-bottom: 5px;}

.name_star_m_01>div:nth-child(1), .name_star_m_01>div:nth-child(2), .name_star_m_01>div:nth-child(3)
{margin-top: 5px;}

.name_star_m_01>div>p:nth-child(1)
{font-size: 12px; font-weight: bold;
text-align: center;}

.name_star_m_01>div>div:nth-child(2)
{width: 60px; height: 12px;
margin: 5px auto;
overflow: hidden;}

.name_star_m_01>div>div:nth-child(2) label
{width: 12px; height: 12px;
float: left;}

.name_star_m_01>div>div:nth-child(2) label img
{width: 100%; height: 100%;}

.name_star_m_01>div>div:nth-child(3)
{width: 60px; height: 20px;
background-color: #ccc;
margin: 0 auto;
border-radius: 10px;}

.name_star_m_01>div>div:nth-child(3) p 
{font-size: 12px;
text-align: center; line-height: 20px;}

/*리뷰*/
.star_review_mobilebox_01 .name_txt_m_01
{width: 100%;}

.name_txt_m_01>p:nth-child(1)
{width: 100%;
font-size: 12px; line-height: 15px; color: red;
margin-bottom: 5px;}

.name_txt_m_01>div:nth-child(2)
{width: 100%; height: 120px;
overflow-y: scroll;
border: 1px solid #ccc; box-sizing: border-box;}

.name_txt_m_01>div:nth-child(2) p 
{width: 95%;
margin: 5px auto;
font-size: 12px; line-height: 15px; text-align: justify;}

/*리뷰02*/

.page02_m .star_review_mobilebox_02
{width: 100%;
margin-bottom: 20px;}

.star_review_mobilebox_02 .name_02_m
{width: 100%;
overflow: hidden;
margin-bottom: 5px;}

.star_review_mobilebox_02 .name_02_m>div
{width: 50%;
float: left;}

.star_review_mobilebox_02 .name_02_m>div:nth-child(1) p:nth-child(1)
{width: 100%; height: 20px;
font-size: 14px; font-weight: bold; line-height: 20px;}

.star_review_mobilebox_02 .name_02_m>div:nth-child(1) p:nth-child(2)
{width: 100%; height: 20px;
font-size: 12px; line-height: 20px;}

.star_review_mobilebox_02 .name_02_m>div:nth-child(2)>div:nth-child(1) p
{width: 100%; height: 20px;
font-size: 14px; font-weight: bold; line-height: 20px;
margin-bottom: 4px;}

.star_review_mobilebox_02 .name_02_m>div:nth-child(2)>div:nth-child(1) p span
{font-size: 16px; color: #0d75bc;}

.star_review_mobilebox_02 .name_02_m>div:nth-child(2)>div:nth-child(2)
{width: 60px; height: 12px;
overflow: hidden;}

.star_review_mobilebox_02 .name_02_m>div:nth-child(2)>div:nth-child(2) label
{width: 12px; height: 12px;
float: left;}

.star_review_mobilebox_02 .name_02_m>div:nth-child(2)>div:nth-child(2) label img 
{width: 100%; height: 100%;}

/*점수*/
.star_review_mobilebox_02 .name_star_m_02
{width: 100%;
margin: 0 auto;
overflow: hidden;
background-color: white;
border: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 5px;}

.name_star_m_02>div
{width: 33.333333%;
float: left;
margin-bottom: 5px;}

.name_star_m_02>div:nth-child(1), .name_star_m_02>div:nth-child(2), .name_star_m_02>div:nth-child(3)
{margin-top: 5px;}

.name_star_m_02>div>p:nth-child(1)
{font-size: 12px; font-weight: bold;
text-align: center;}

.name_star_m_02>div>div:nth-child(2)
{width: 60px; height: 12px;
margin: 5px auto;
overflow: hidden;}

.name_star_m_02>div>div:nth-child(2) label
{width: 12px; height: 12px;
float: left;}

.name_star_m_02>div>div:nth-child(2) label img
{width: 100%; height: 100%;}

.name_star_m_02>div>div:nth-child(3)
{width: 60px; height: 20px;
background-color: #ccc;
margin: 0 auto;
border-radius: 10px;}

.name_star_m_02>div>div:nth-child(3) p 
{font-size: 12px;
text-align: center; line-height: 20px;}

/*리뷰*/
.star_review_mobilebox_02 .name_txt_m_02
{width: 100%;}

.name_txt_m_02>p:nth-child(1)
{width: 100%;
font-size: 12px; line-height: 15px; color: red;
margin-bottom: 5px;}

.name_txt_m_02>div:nth-child(2)
{width: 100%; height: 120px;
overflow-y: scroll;
border: 1px solid #ccc; box-sizing: border-box;}

.name_txt_m_02>div:nth-child(2) p 
{width: 95%;
margin: 5px auto;
font-size: 12px; line-height: 15px; text-align: justify;}

.page02_m .page02_m_btn
{width: 180px; height: 20px;
overflow: hidden;
margin: 0 auto;}

.page02_m_btn a 
{width: 20px; height: 20px;
text-align: center; line-height: 20px; font-size: 14px; font-weight: bold;
color: #333; float: left;}

.page02_m_btn a:nth-child(2)
{color: #e5004f;}

/*page03*/
.page03_m
{width: 95%;
margin: 0 auto;
margin-top: 5px;}

.page03_m>p:nth-child(1)
{width: 100%; height: 20px;
font-size: 14px; font-weight: bold; line-height: 20px;
margin-bottom: 5px;}

.page03_m .page03_m_box_01
{width: 100%;
background-color: #f3f3f3;
padding-top: 5px; padding-bottom: 5px;
margin-bottom: 10px;}

.page03_m_box_01>div:nth-child(1)
{width: 95%;
margin: 0 auto;
margin-bottom: 5px;}

.page03_m_box_01>div:nth-child(1)>div:nth-child(1)
{width: 100%; height: 15px;
overflow: hidden;
margin-bottom: 5px;}

.page03_m_box_01>div:nth-child(1)>div:nth-child(1)>div
{width: 12px; height: 12px;
margin-right: 5px; margin-top: 1.5px;
float: left;}

.page03_m_box_01>div:nth-child(1)>div:nth-child(1)>div img 
{width: 100%; height: 100%;}

.page03_m_box_01>div:nth-child(1)>div:nth-child(1)>p:nth-child(2)
{width: calc(100% - 12px - 5px); height: 15px;
font-size: 12px; font-weight: bold; line-height: 15px;
float: left;} 

.page03_m_box_01>div:nth-child(1)>p
{width: 100%;
font-size: 10px; line-height: 15px; text-align: justify;}

.page03_m_box_01>div:nth-child(1)>p:nth-child(2)
{margin-bottom: 5px;}

.page03_m>a:nth-child(3) p
{width: 100px; height: 30px;
background-color: #f49800; color: white;
margin: 0 auto;
margin-bottom: 20px;
font-size: 12px; line-height: 30px; font-weight: bold; text-align: center;}

.page03_m .page03_m_box_02
{width: 100%;}

.page03_m_box_02 a div
{width: 100%;
color: #333;}

.page03_m_01>div:nth-child(1)
{width: 100%; height: 14px;
overflow: hidden;
margin-bottom: 5px;}

.page03_m_01>div:nth-child(1)>div:nth-child(1)
{width: 14px; height: 14px;
float: left;
margin-right: 5px;}

.page03_m_01>div:nth-child(1)>div:nth-child(1) img
{width: 100%; height: 100%;}

.page03_m_01>div:nth-child(1)>p:nth-child(2)
{width: calc(100% - 19px); height: 14px;
float: left;
font-size: 14px; font-weight: bold; line-height: 14px;}

.page03_m_01>div:nth-child(1)>p:nth-child(2) span
{font-size: 12px;
font-weight: normal;
margin-left: 5px;}

.page03_m_01>p:nth-child(2)
{width: 100%;
font-size: 12px; line-height: 15px; text-align: justify;}

.page03_m_box_02 .page03_m_line_01
{width: 100%; height: 1px;
background-color: #ccc;
margin-top: 10px; margin-bottom: 10px;}

.page03_m_02>div:nth-child(1)
{width: 100%; height: 14px;
overflow: hidden;
margin-bottom: 5px;}

.page03_m_02>div:nth-child(1)>div:nth-child(1)
{width: 14px; height: 14px;
float: left;
margin-right: 5px;}

.page03_m_02>div:nth-child(1)>div:nth-child(1) img
{width: 100%; height: 100%;}

.page03_m_02>div:nth-child(1)>p:nth-child(2)
{width: calc(100% - 19px); height: 14px;
float: left;
font-size: 14px; font-weight: bold; line-height: 14px;}

.page03_m_02>div:nth-child(1)>p:nth-child(2) span
{font-size: 12px;
font-weight: normal;
margin-left: 5px;}

.page03_m_02>p:nth-child(2)
{width: 100%;
font-size: 12px; line-height: 15px; text-align: justify;}

.page03_m_box_02 .page03_m_line_02
{width: 100%; height: 1px;
background-color: #ccc;
margin-top: 10px; margin-bottom: 10px;}

.page03_m_box_02 .page03_m_line_01
{width: 100%; height: 1px;
background-color: #ccc;
margin-top: 10px; margin-bottom: 10px;}

.page03_m_03>div:nth-child(1)
{width: 100%; height: 14px;
overflow: hidden;
margin-bottom: 5px;}

.page03_m_03>div:nth-child(1)>div:nth-child(1)
{width: 14px; height: 14px;
float: left;
margin-right: 5px;}

.page03_m_03>div:nth-child(1)>div:nth-child(1) img
{width: 100%; height: 100%;}

.page03_m_03>div:nth-child(1)>p:nth-child(2)
{width: calc(100% - 19px); height: 14px;
float: left;
font-size: 14px; font-weight: bold; line-height: 14px;}

.page03_m_03>div:nth-child(1)>p:nth-child(2) span
{font-size: 12px;
font-weight: normal;
margin-left: 5px;}

.page03_m_03>p:nth-child(2)
{width: 100%;
font-size: 12px; line-height: 15px; text-align: justify;}

.page03_m_box_02 .page03_m_line_03
{width: 100%; height: 1px;
background-color: #ccc;
margin-top: 10px;}

.page03_m .page03_m_btn
{width: 180px; height: 20px;
overflow: hidden;
margin: 0 auto;
margin-top: 20px;}

.page03_m_btn a 
{width: 20px; height: 20px;
text-align: center; line-height: 20px; font-size: 14px; font-weight: bold;
color: #333; float: left;}

.page03_m_btn a:nth-child(2)
{color: #e5004f;}

