* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body {font-family: 'Pretendard'; line-height: 16px;}

p {margin-bottom: 0;}

ul {margin: 0; padding: 0;}

input:not([type]), input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea
{box-shadow: none;
background-color: #fff;
padding: 0;
margin-bottom: 0;
outline: none;}

input[type="checkbox"]
{margin-bottom: 0;}

input[type="checkbox"]+label, input[type="radio"]+label 
{margin: 0;}

button {margin-bottom: 0;}

/*페이징버튼 제어*/
ul.pagination
{margin-left: 0;}

ul.pagination li
{height: fit-content;
margin-left: 0;
font-size: 16px;}

ul.pagination li a
{color: #222;
padding: 5px 10px;
border: none;
border-radius: 0;
text-align: center; line-height: 20px;}

.page-item:not(:first-child) .page-link
{margin-left: 0;}

/*부트스트랩 클릭시 생기는 선 삭제*/
.page-link:focus, .page-link:active 
{outline: none;
box-shadow: none;
background-color: transparent !important;}

.page-link:focus, .page-link:hover 
{background-color: transparent !important;
color: #fd6f6f !important;}

.page-link:focus, .page-link:active 
{color: #fd6f6f;}

@media all and (min-width: 1420px)
{   
    /*헤더*/
    header.header_web
    {margin-bottom: 0;}

    /*서브 이미지*/
    div.review_visual_banner
    {width: 100%;
    position: relative;}

    div.review_visual_banner_img
    {width: 100%; height: 300px;}

    div.review_visual_banner_img img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.review_visual_banner_txt
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;}

    div.review_visual_banner_txt>p
    {text-align: center;
    font-size: 42px; font-family: bold;
    color: #fff; line-height: 50px;}

    /*루트*/
    div.rout_ex
    {width: 100%; height: 40px;
    background-color: #fd6f6f;
    margin-bottom: 100px;}

    nav.rout_box
    {width: 1400px;
    margin: 0 auto;}

    nav.rout_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.rout_box>ul>li
    {float: left;
    margin-right: 10px;}

    nav.rout_box>ul>li:last-child
    {margin-right: 0;}

    nav.rout_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px;}

    nav.rout_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.rout_box>ul>li:nth-child(1n+2)>p
    {line-height: 40px;
    color: #fff;
    font-size: 15px;}

    nav.rout_box>ul>li:last-child>p
    {font-family: bold;}

    /*리뷰*/
    div.honeymoon_review_ex
    {width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;}

    /*타이틀*/
    div.honeymoon_review_title_ex
    {width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    div.honeymoon_review_title_box
    {width: calc(100% - 250px);
    margin-right: 50px;}

    div.honeymoon_review_title_box>p:nth-child(1)
    {width: 100%;
    font-size: 32px; line-height: 35px;
    font-family: bold; color: #222;
    margin-bottom: 15px;}

    div.honeymoon_review_title_box>p:nth-child(2)
    {width: 100%;
    font-size: 16px; line-height: 20px;
    color: #555;}

    
    /*계약 후기 작성 버튼*/
    a.honeymoon_review_right_box
    {width: 200px; height: 50px;
    display: block;
    border-radius: 5px;
    border: 1px solid #fd6f6f; box-sizing: border-box;
    transition: all 0.3s;}

    a.honeymoon_review_right_box>p
    {text-align: center;
    line-height: 50px; color: #fd6f6f;
    transition: all 0.3s;}

    a.honeymoon_review_right_box:hover
    {border: none;
    background-color: #fd6f6f;}

    a.honeymoon_review_right_box:hover>p
    {color: #fff;}


    /*검색 박스*/
    div.honeymoon_review_search_ex
    {width: 100%;
    margin-bottom: 50px;
    overflow: hidden;}

    div.honeymoon_review_search_box
    {width: fit-content;
    float: right;}

    #honeymoon_review_txt
    {width: 300px; height: 40px;
    border: none;
    border-bottom: 1px solid #222; box-sizing: border-box;
    float: left;
    margin-right: 10px;
    background: transparent;
    font-family: 'Pretendard' !important;
    color: #555;
    font-size: 15px;}

    #honeymoon_review_txt::placeholder
    {color: #555;}

    #honeymoon_review_search_submit
    {display: none;}

    label.honeymoon_review_search_btn_icon
    {width: 20px; height: 20px;
    display: block;
    margin-top: 10px;
    float: left;}

    label.honeymoon_review_search_btn_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    /*등록된 허니문 상품이 없을 때*/
    p.no_honeymoon_review_txt
    {width: 100%;
    padding-top: 100px; padding-bottom: 100px;
    text-align: center; line-height: 20px; color: #555;}

    /*검색 결과 없을 때*/
    div.no_search_honey_review_ex
    {width: 100%;
    margin-top: 100px; margin-bottom: 100px;}

    div.no_search_honey_review_icon
    {width: 50px; height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;}

    div.no_search_honey_review_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.no_search_honey_review_ex>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 17px; line-height: 25px;
    color: #555;}

    /*리스트*/
    div.honeymoon_review_detaile_form_ex
    {width: 100%;}

    nav.honey_moon_review_detaile_form_box
    {width: 100%;
    margin-bottom: 80px;}

    /*리스트 타이틀*/
    ul.honey_moon_review_detaile_form_title
    {width: 100%;
    padding-top: 15px; padding-bottom: 15px;
    border-top: 2px solid #222; border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;}

    ul.honey_moon_review_detaile_form_title>li:nth-child(1)
    {width: 80px;}

    ul.honey_moon_review_detaile_form_title>li:nth-child(2)
    {width: calc(100% - 360px);}

    ul.honey_moon_review_detaile_form_title>li:nth-child(3)
    {width: 140px;}

    ul.honey_moon_review_detaile_form_title>li:nth-child(4)
    {width: 140px;}

    ul.honey_moon_review_detaile_form_title>li>p
    {width: calc(100% - 20px);
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    color: #222; font-family: 'min_bold';}

    /*내용*/
    ul.honey_moon_review_detaile_txt
    {width: 100%;
    padding-top: 15px; padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: all 0.5s;}

    ul.honey_moon_review_detaile_txt>li:nth-child(1)
    {width: 80px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(2)
    {width: calc(100% - 360px);}

    ul.honey_moon_review_detaile_txt>li:nth-child(3)
    {width: 140px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(4)
    {width: 140px;}

    ul.honey_moon_review_detaile_txt>li>a>p
    {width: calc(100% - 20px);
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: #555;    
    transition: all 0.5s;}

    ul.honey_moon_review_detaile_txt>li:nth-child(2)>a>p
    {text-align: left;}

    ul.honey_moon_review_detaile_txt:hover
    {background-color: #fafafa;}

    ul.honey_moon_review_detaile_txt:hover>li>a>p
    {color: #fd6f6f;}

    /*페이지버튼*/
    div.honeymoon_page_btn
    {width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}

}

@media all and (min-width: 769px) and (max-width : 1419px)
{   
    /*헤더*/
    header.header_web
    {margin-bottom: 0;}

    /*서브 이미지*/
    div.review_visual_banner
    {width: 100%;
    position: relative;}

    div.review_visual_banner_img
    {width: 100%; height: 300px;}

    div.review_visual_banner_img img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.review_visual_banner_txt
    {width: 100%;
    position: absolute;
    top: calc(50% - 25px); left: 0;}

    div.review_visual_banner_txt>p
    {text-align: center;
    font-size: 42px; font-family: bold;
    color: #fff; line-height: 50px;}

    /*루트*/
    div.rout_ex
    {width: 100%; height: 40px;
    background-color: #fd6f6f;
    margin-bottom: 100px;}

    nav.rout_box
    {width: 90%;
    margin: 0 auto;}

    nav.rout_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.rout_box>ul>li
    {float: left;
    margin-right: 10px;}

    nav.rout_box>ul>li:last-child
    {margin-right: 0;}

    nav.rout_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px;}

    nav.rout_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.rout_box>ul>li:nth-child(1n+2)>p
    {line-height: 40px;
    color: #fff;
    font-size: 15px;}

    nav.rout_box>ul>li:last-child>p
    {font-family: bold;}


    /*리뷰*/
    div.honeymoon_review_ex
    {width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;}

    /*타이틀*/
    div.honeymoon_review_title_ex
    {width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    div.honeymoon_review_title_box
    {width: calc(100% - 250px);
    margin-right: 50px;}

    div.honeymoon_review_title_box>p:nth-child(1)
    {width: 100%;
    font-size: 32px; line-height: 35px;
    font-family: bold; color: #222;
    margin-bottom: 15px;}

    div.honeymoon_review_title_box>p:nth-child(2)
    {width: 100%;
    font-size: 16px; line-height: 20px;
    color: #555;}

    
    /*계약 후기 작성 버튼*/
    a.honeymoon_review_right_box
    {width: 200px; height: 50px;
    display: block;
    border-radius: 5px;
    border: 1px solid #fd6f6f; box-sizing: border-box;
    transition: all 0.3s;}

    a.honeymoon_review_right_box>p
    {text-align: center;
    line-height: 50px; color: #fd6f6f;
    transition: all 0.3s;}

    a.honeymoon_review_right_box:hover
    {border: none;
    background-color: #fd6f6f;}

    a.honeymoon_review_right_box:hover>p
    {color: #fff;}


    /*검색 박스*/
    div.honeymoon_review_search_ex
    {width: 100%;
    margin-bottom: 50px;
    overflow: hidden;}

    div.honeymoon_review_search_box
    {width: fit-content;
    float: right;}

    #honeymoon_review_txt
    {width: 300px; height: 40px;
    border: none;
    border-bottom: 1px solid #222; box-sizing: border-box;
    float: left;
    margin-right: 10px;
    background: transparent;
    font-family: 'Pretendard' !important;
    color: #555;
    font-size: 15px;}

    #honeymoon_review_txt::placeholder
    {color: #555;}

    #honeymoon_review_search_submit
    {display: none;}

    label.honeymoon_review_search_btn_icon
    {width: 20px; height: 20px;
    display: block;
    margin-top: 10px;
    float: left;}

    label.honeymoon_review_search_btn_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    /*등록된 허니문 상품이 없을 때*/
    p.no_honeymoon_review_txt
    {width: 100%;
    padding-top: 100px; padding-bottom: 100px;
    text-align: center; line-height: 20px; color: #555;}

    /*검색 결과 없을 때*/
    div.no_search_honey_review_ex
    {width: 100%;
    margin-top: 100px; margin-bottom: 100px;}

    div.no_search_honey_review_icon
    {width: 50px; height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;}

    div.no_search_honey_review_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.no_search_honey_review_ex>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 17px; line-height: 25px;
    color: #555;}

    /*리스트*/
    div.honeymoon_review_detaile_form_ex
    {width: 100%;}

    nav.honey_moon_review_detaile_form_box
    {width: 100%;
    margin-bottom: 80px;}

    /*리스트 타이틀*/
    ul.honey_moon_review_detaile_form_title
    {width: 100%;
    padding-top: 15px; padding-bottom: 15px;
    border-top: 2px solid #222; border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;}

    ul.honey_moon_review_detaile_form_title>li:nth-child(1)
    {width: 80px;}

    ul.honey_moon_review_detaile_form_title>li:nth-child(2)
    {width: calc(100% - 360px);}

    ul.honey_moon_review_detaile_form_title>li:nth-child(3)
    {width: 140px;}

    ul.honey_moon_review_detaile_form_title>li:nth-child(4)
    {width: 140px;}

    ul.honey_moon_review_detaile_form_title>li>p
    {width: calc(100% - 20px);
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    color: #222; font-family: 'min_bold';}

    /*내용*/
    ul.honey_moon_review_detaile_txt
    {width: 100%;
    padding-top: 15px; padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: all 0.5s;}

    ul.honey_moon_review_detaile_txt>li:nth-child(1)
    {width: 80px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(2)
    {width: calc(100% - 360px);}

    ul.honey_moon_review_detaile_txt>li:nth-child(3)
    {width: 140px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(4)
    {width: 140px;}

    ul.honey_moon_review_detaile_txt>li>a>p
    {width: calc(100% - 20px);
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: #555;    
    transition: all 0.5s;}

    ul.honey_moon_review_detaile_txt>li:nth-child(2)>a>p
    {text-align: left;}

    ul.honey_moon_review_detaile_txt:hover
    {background-color: #fafafa;}

    ul.honey_moon_review_detaile_txt:hover>li>a>p
    {color: #fd6f6f;}

    /*페이지버튼*/
    div.honeymoon_page_btn
    {width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}
}

@media all and (min-width: 769px) and (max-width : 1024px)
{
    /*서브 이미지*/
    div.review_visual_banner
    {width: 100%;
    position: relative;
    margin-top: 70px;}

    div.review_visual_banner_img
    {width: 100%; height: 250px;}
    
    /*검색*/
    #honeymoon_review_txt
    {width: 250px; height: 40px;
    border: none;
    border-bottom: 1px solid #222; box-sizing: border-box;
    float: left;
    margin-right: 10px;
    background: transparent;
    font-family: 'Pretendard' !important;
    color: #555;
    font-size: 15px;}
}

@media all and (max-width: 768px)
{
    /*서브 이미지*/
    div.review_visual_banner
    {width: 100%;
    position: relative;
    margin-top: 70px;}

    div.review_visual_banner_img
    {width: 100%; height: 150px;}

    div.review_visual_banner_img img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.review_visual_banner_txt
    {width: 100%;
    position: absolute;
    top: calc(50% - 20px); left: 0;}

    div.review_visual_banner_txt>p
    {text-align: center;
    font-size: 32px; font-family: bold;
    color: #fff; line-height: 40px;}

    /*루트*/
    div.rout_ex
    {width: 100%; height: 40px;
    background-color: #fd6f6f;
    margin-bottom: 50px;}

    nav.rout_box
    {width: 90%;
    margin: 0 auto;}

    nav.rout_box>ul
    {width: 100%;
    overflow: hidden;}

    nav.rout_box>ul>li
    {float: left;
    margin-right: 5px;}

    nav.rout_box>ul>li:last-child
    {margin-right: 0;}

    nav.rout_box>ul>li:nth-child(1)
    {width: 20px; height: 20px;
    margin-top: 10px;}

    nav.rout_box>ul>li:nth-child(1)>a img
    {width: 100%; height: 100%;
    object-fit: cover;}

    nav.rout_box>ul>li:nth-child(1n+2)>p
    {line-height: 40px;
    color: #fff;
    font-size: 15px;}

    nav.rout_box>ul>li:last-child>p
    {font-family: bold;}

    /*허니문 리뷰*/
    div.honeymoon_review_ex
    {width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;}

    /*타이틀*/
    div.honeymoon_review_title_ex
    {width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}

    div.honeymoon_review_title_box
    {width: calc(100% - 180px);
    margin-right: 20px;}

    div.honeymoon_review_title_box>p:nth-child(1)
    {width: 100%;
    font-size: 28px; font-family: bold; color: #222;
    line-height: 30px;
    margin-bottom: 10px;}

    div.honeymoon_review_title_box>p:nth-child(2)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #555;}

    /*리뷰 작성*/
    a.honeymoon_review_right_box
    {width: 160px; height: 40px;
    border-radius: 5px;
    display: block;
    background-color: #fd6f6f;}

    a.honeymoon_review_right_box>p
    {font-size: 15px;
    text-align: center;
    color: #fff; line-height: 40px;}

    /*검색*/
    div.honeymoon_review_search_ex
    {width: 100%;
    margin-bottom: 30px;
    overflow: hidden;}

    div.honeymoon_review_search_box
    {width: fit-content;
    float: right;}

    #honeymoon_review_txt
    {width: 300px; height: 40px;
    border: none;
    border-bottom: 1px solid #222; box-sizing: border-box;
    float: left;
    margin-right: 10px;
    background: transparent;
    font-family: 'Pretendard' !important;
    color: #555;
    font-size: 15px;}

    #honeymoon_review_txt::placeholder
    {color: #555;}

    #honeymoon_review_search_submit
    {display: none;}

    label.honeymoon_review_search_btn_icon
    {width: 20px; height: 20px;
    display: block;
    margin-top: 10px;
    float: left;}

    label.honeymoon_review_search_btn_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    /*리뷰 내용*/
    div.honeymoon_review_detaile_form_ex
    {width: 100%;}

    nav.honey_moon_review_detaile_form_box
    {width: 100%;
    margin-bottom: 50px;}
    
    ul.honey_moon_review_detaile_form_title
    {display: none;}

    ul.honey_moon_review_detaile_txt
    {width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #222;
    border-bottom: 1px solid #ddd; 
    box-sizing: border-box;
    padding-top: 20px; padding-bottom: 20px;
    margin-bottom: 20px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(1)
    {width: calc(100% - 40px);
    margin: 0 auto;}

    ul.honey_moon_review_detaile_txt>li:nth-child(2)
    {width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 10px; margin-bottom: 20px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(3)
    {width: fit-content;
    max-width: calc(50% - 25px);
    margin-left: 20px;
    margin-right: 10px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(4)
    {width: fit-content;
    max-width: calc(50% - 25px);
    margin-right: 20px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(1)>a>p
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #777;}

    ul.honey_moon_review_detaile_txt>li:nth-child(2)>a>p
    {width: 100%;
    font-size: 17px; font-family: bold; color: #222;
    line-height: 25px;
    word-break: keep-all;}

    ul.honey_moon_review_detaile_txt>li:nth-child(3)>a>p
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #777;}

    ul.honey_moon_review_detaile_txt>li:nth-child(4)>a>p
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #777;}


    /*후기 없을 때*/
    p.no_honeymoon_review_txt
    {width: 90%;
    margin: 0 auto;
    font-size: 16px; text-align: center;
    padding-top: 100px; padding-bottom: 100px;}

    /*검색 결과 없을 때*/
    div.no_search_honey_review_ex
    {width: 100%;
    margin-top: 100px; margin-bottom: 100px;}

    div.no_search_honey_review_icon
    {width: 50px; height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;}

    div.no_search_honey_review_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.no_search_honey_review_ex>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 16px; line-height: 25px;
    color: #555;}

    /*페이지*/
    div.honeymoon_page_btn
    {width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}

}

@media all and (max-width: 600px)
{
    /*서브 이미지*/
    div.review_visual_banner
    {margin-top: 55px;}

    /*타이틀*/
    div.honeymoon_review_title_ex
    {width: 100%;
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: none;
    overflow: hidden;}

    div.honeymoon_review_title_box
    {width: 100%;
    margin-bottom: 20px;}

    div.honeymoon_review_title_box>p:nth-child(1)
    {width: 100%;
    font-size: 24px; font-family: bold; color: #222;
    line-height: 30px;
    margin-bottom: 5px;}

    div.honeymoon_review_title_box>p:nth-child(2)
    {width: 100%;
    font-size: 14px; line-height: 20px;
    word-break: keep-all;
    color: #555;}

    a.honeymoon_review_right_box
    {width: 160px; height: 40px;
    border-radius: 5px;
    display: block;
    float: right;
    background-color: #fd6f6f;}

    a.honeymoon_review_right_box>p
    {font-size: 15px;
    text-align: center;
    color: #fff; line-height: 40px;}

    /*검색*/
    div.honeymoon_review_search_box
    {width: 100%;
    float: inherit;
    overflow: hidden;}

    #honeymoon_review_txt
    {width: calc(100% - 25px); height: 40px;
    border: none;
    border-bottom: 1px solid #222; box-sizing: border-box;
    float: left;
    margin-right: 5px;
    background: transparent;
    font-family: 'Pretendard' !important;
    color: #555;
    font-size: 15px;}

    #honeymoon_review_txt::placeholder
    {color: #555;}

    #honeymoon_review_search_submit
    {display: none;}

    label.honeymoon_review_search_btn_icon
    {width: 20px; height: 20px;
    display: block;
    margin-top: 10px;
    float: left;}

    label.honeymoon_review_search_btn_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    /*리뷰 내용*/
    nav.honey_moon_review_detaile_form_box
    {width: 100%;
    margin-bottom: 30px;}

    ul.honey_moon_review_detaile_txt
    {width: 100%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #ddd; 
    box-sizing: border-box;
    padding-top: 20px; padding-bottom: 20px;
    margin-bottom: 20px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(1)
    {width: 90%;
    margin: 0 auto;}

    ul.honey_moon_review_detaile_txt>li:nth-child(2)
    {width: 90%;
    margin: 0 auto;
    margin-top: 5px; margin-bottom: 15px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(3)
    {width: fit-content;
    max-width: calc(45% - 2.5px);
    margin-left: 5%;
    margin-right: 5px;}

    ul.honey_moon_review_detaile_txt>li:nth-child(4)
    {width: fit-content;
    max-width: calc(45% - 2.5px);
    margin-right: 5%;
    margin-left: 0;}

    ul.honey_moon_review_detaile_txt>li:nth-child(1)>a>p
    {width: 100%;
    font-size: 14px; line-height: 20px;
    color: #777;}

    ul.honey_moon_review_detaile_txt>li:nth-child(2)>a>p
    {width: 100%;
    font-size: 16px; font-family: bold; color: #222;
    line-height: 25px;
    word-break: keep-all;}

    ul.honey_moon_review_detaile_txt>li:nth-child(3)>a>p
    {width: 100%;
    font-size: 14px; line-height: 20px;
    color: #777;}

    ul.honey_moon_review_detaile_txt>li:nth-child(4)>a>p
    {width: 100%;
    font-size: 14px; line-height: 20px;
    color: #777;}

    /*후기 없을 때*/
    p.no_honeymoon_review_txt
    {font-size: 15px;}

    /*검색결과 없을 때*/
    div.no_search_honey_review_ex>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 15px; line-height: 20px;
    color: #555;}
}