*{margin: 0; padding: 0;}

a 
{text-decoration: none;
color: #333;}

li {list-style: none;}

img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
    src: url(../../font/Spoqa\ Han\ Sans\ Regular.woff);
}

body {font-family: SpoqaHanSansNeo;}

.mobile {display: none;}


/*sub*/

.sub
{width: 100%; max-width: 1920px; min-width: 1340px;
margin: 0 auto;}

section .japen01
{width: 1340px;
margin: 0 auto;
overflow: hidden;}

.japen01 .japen_menu
{width: 240px; 
margin-top: 70px;
margin-right: 60px;
float: left;}

.japen01 .right
{width: 1040px;
float: left;}

.japen_menu div
{width: 240px; height: 50px;
overflow: hidden;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;}

.japen_menu .japen_title
{width: 240px; height: 50px;
overflow: hidden;
border: 1px solid #0d75bc; box-sizing: border-box;
margin-bottom: 10px;
font-weight: bold; font-size: 20px;
line-height: 50px;}

.japen_title p 
{margin-left: 20px;
color: #0d75bc;
float: left;}

.japen_title div
{width: 20px; height: 20px;
border: none;
margin-right: 20px; margin-top: 15px;
float: right;}

.japen_menu div a p:nth-child(1)
{float: left;
font-weight: bold; font-size: 15px;
margin-left: 10px;
line-height: 50px;}

.japen_menu div a p:nth-child(2)
{float: right;
font-weight: bold; font-size: 15px;
margin-right: 10px;
line-height: 50px;}

.japen_menu .menu01
{border: none;
background-color: #0d75bc;}

.menu01 a p {color: white;}

.japen_menu .japen_free
{width: 240px; height: 140px;
margin-top: 50px;
border: none;}

.right .location
{width: 1040px; height: 20px;
margin-top: 70px;
margin-bottom: 70px;
overflow: hidden;}

.location div {width: 20px; height: 20px;}

.location div, .location p
{float: left;
margin-right: 5px;}

.location p 
{line-height: 20px;
font-size: 14px; font-weight: bold;
color: #333;}

.location p:nth-child(5)
{color: #0d75bc;}

.location p:nth-child(7)
{color: red;}


/*title*/

.right .title_box
{width: 1040px; height: 30px;
overflow: hidden;}

.title_box .right_title
{font-weight: bold; font-size: 24px;
margin-left: 5px;
color: #0d75bc;
float: left;
font-weight: bold;}

.title_box .button_menu
{float: right;}

.button_menu div, .button_menu select
{float: left;}

.button_menu div
{width: 100px; height: 30px;
border: 1px solid #ccc; box-sizing: border-box;
text-align: center; line-height: 30px;
font-size: 14px;
margin-right: 10px;}

.button_menu .all
{border: none;
background-color: #333;}

.all a {color: white;}

.button_menu select
{width: 100px; height: 30px;}

.right .line
{width: 1040px; height: 1px;
background-color: #ccc;
margin-top: 10px;}


/*상품*/

.right .all_box
{width: 1040px;
margin-top: 70px;
margin-bottom: 70px;}

.all_box .product_zon01
{width: 1040px; height: 347px;
overflow: hidden;}

/*product01*/
.product_zon01 .product01
{width: 320px; 
border: 1px solid #ccc; 
float: left;}

.product01 .product_text_01
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_01 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_01 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_01 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_01 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product01 .review_box_01
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_01 .star01 
{float: left;}

.review_box_01 .review01
{float: right;}

.star01 div
{float: left;}

.review01 .talk01, .review01 .like01
{float: left;}

.review01 .talk01
{margin-right: 10px;}

.talk01 div, .talk01 p
{float: left;}

.talk01 p
{line-height: 20px;
margin-left: 5px;}

.like01 div, .like01 p
{float: left;}

.like01 p
{line-height: 20px;
margin-left: 5px;}

a .talk01 p, a .like01 p {color: #ccc;}

/*product02*/

.product_zon01 .product02
{width: 320px;
border: 1px solid #ccc; 
margin-left: 37px;
margin-right: 37px;
float: left;}

.product02 .product_text_02
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_02 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_02 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_02 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_02 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product02 .review_box_02
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_02 .star02 
{float: left;}

.review_box_02 .review02
{float: right;}

.star02 div
{float: left;}

.review02 .talk02, .review02 .like02
{float: left;}

.review02 .talk02
{margin-right: 10px;}

.talk02 div, .talk02 p
{float: left;}

.talk02 p
{line-height: 20px;
margin-left: 5px;}

.like02 div, .like02 p
{float: left;}

.like02 p
{line-height: 20px;
margin-left: 5px;}

a .talk02 p, a .like02 p {color: #ccc;}

/*product03*/

.product_zon01 .product03
{width: 320px;
border: 1px solid #ccc; 
float: left;}

.product03 .product_text_03
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_03 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_03 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_03 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_03 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product03 .review_box_03
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_03 .star03 
{float: left;}

.review_box_03 .review03
{float: right;}

.star03 div
{float: left;}

.review03 .talk03, .review03 .like03
{float: left;}

.review03 .talk03
{margin-right: 10px;}

.talk03 div, .talk03 p
{float: left;}

.talk03 p
{line-height: 20px;
margin-left: 5px;}

.like03 div, .like03 p
{float: left;}

.like03 p
{line-height: 20px;
margin-left: 5px;}

a .talk03 p, a .like03 p {color: #ccc;}

/*2번째 줄*/

.all_box .product_zon02
{width: 1040px; height: 347px;
margin-top: 50px;
margin-bottom: 50px;
overflow: hidden;}

/*product04*/

.product_zon02 .product04
{width: 320px; 
border: 1px solid #ccc; 
float: left;}

.product04 .product_text_04
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_04 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_04 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_04 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_04 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product04 .review_box_04
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_04 .star04 
{float: left;}

.review_box_04 .review04
{float: right;}

.star04 div
{float: left;}

.review04 .talk04, .review04 .like04
{float: left;}

.review04 .talk04
{margin-right: 10px;}

.talk04 div, .talk04 p
{float: left;}

.talk04 p
{line-height: 20px;
margin-left: 5px;}

.like04 div, .like04 p
{float: left;}

.like04 p
{line-height: 20px;
margin-left: 5px;}

a .talk04 p, a .like04 p {color: #ccc;}

/*product05*/

.product_zon02 .product05
{width: 320px;
border: 1px solid #ccc; 
margin-left: 37px;
margin-right: 37px;
float: left;}

.product05 .product_text_05
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_05 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_05 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_05 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_05 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product05 .review_box_05
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_05 .star05
{float: left;}

.review_box_05 .review05
{float: right;}

.star05 div
{float: left;}

.review05 .talk05, .review05 .like05
{float: left;}

.review05 .talk05
{margin-right: 10px;}

.talk05 div, .talk05 p
{float: left;}

.talk05 p
{line-height: 20px;
margin-left: 5px;}

.like05 div, .like05 p
{float: left;}

.like05 p
{line-height: 20px;
margin-left: 5px;}

a .talk05 p, a .like05 p {color: #ccc;}

/*product06*/

.product_zon02 .product06
{width: 320px;
border: 1px solid #ccc; 
float: left;}

.product06 .product_text_06
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_06 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_06 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_06 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_06 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product06 .review_box_06
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_06 .star06
{float: left;}

.review_box_06 .review06
{float: right;}

.star06 div
{float: left;}

.review06 .talk06, .review06 .like06
{float: left;}

.review06 .talk06
{margin-right: 10px;}

.talk06 div, .talk06 p
{float: left;}

.talk06 p
{line-height: 20px;
margin-left: 5px;}

.like06 div, .like06 p
{float: left;}

.like06 p
{line-height: 20px;
margin-left: 5px;}

a .talk06 p, a .like06 p {color: #ccc;}

/*3번째 줄*/

.all_box .product_zon03
{width: 1040px; height: 347px;
margin-top: 50px;
margin-bottom: 50px;
overflow: hidden;}

/*product04*/

.product_zon03 .product07
{width: 320px; 
border: 1px solid #ccc; 
float: left;}

.product07 .product_text_07
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_07 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_07 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_07 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_07 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product07 .review_box_07
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_07 .star07
{float: left;}

.review_box_07 .review07
{float: right;}

.star07 div
{float: left;}

.review07 .talk07, .review07 .like07
{float: left;}

.review07 .talk07
{margin-right: 10px;}

.talk07 div, .talk07 p
{float: left;}

.talk07 p
{line-height: 20px;
margin-left: 5px;}

.like07 div, .like07 p
{float: left;}

.like07 p
{line-height: 20px;
margin-left: 5px;}

a .talk07 p, a .like07 p {color: #ccc;}

/*product08*/

.product_zon03 .product08
{width: 320px;
border: 1px solid #ccc; 
margin-left: 37px;
margin-right: 37px;
float: left;}

.product08 .product_text_08
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_08 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_08 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_08 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_08 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product08 .review_box_08
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_08 .star08
{float: left;}

.review_box_08 .review08
{float: right;}

.star08 div
{float: left;}

.review08 .talk08, .review08 .like08
{float: left;}

.review08 .talk08
{margin-right: 10px;}

.talk08 div, .talk08 p
{float: left;}

.talk08 p
{line-height: 20px;
margin-left: 5px;}

.like08 div, .like08 p
{float: left;}

.like08 p
{line-height: 20px;
margin-left: 5px;}

a .talk08 p, a .like08 p {color: #ccc;}

/*product06*/

.product_zon03 .product09
{width: 320px;
border: 1px solid #ccc; 
float: left;}

.product09 .product_text_09
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_09 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_09 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_09 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_09 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product09 .review_box_09
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_09 .star09
{float: left;}

.review_box_09 .review09
{float: right;}

.star09 div
{float: left;}

.review09 .talk09, .review09 .like09
{float: left;}

.review09 .talk09
{margin-right: 10px;}

.talk09 div, .talk09 p
{float: left;}

.talk09 p
{line-height: 20px;
margin-left: 5px;}

.like09 div, .like09 p
{float: left;}

.like09 p
{line-height: 20px;
margin-left: 5px;}

a .talk09 p, a .like09 p {color: #ccc;}

/*4번째 줄*/

.all_box .product_zon04
{width: 1040px; height: 347px;
margin-top: 50px;
margin-bottom: 50px;
overflow: hidden;}

/*product10*/

.product_zon04 .product10
{width: 320px; 
border: 1px solid #ccc; 
float: left;}

.product10 .product_text_10
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_10 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_10 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_10 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_10 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product10 .review_box_10
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_10 .star10
{float: left;}

.review_box_10 .review10
{float: right;}

.star10 div
{float: left;}

.review10 .talk10, .review10 .like10
{float: left;}

.review10 .talk10
{margin-right: 10px;}

.talk10 div, .talk10 p
{float: left;}

.talk10 p
{line-height: 20px;
margin-left: 5px;}

.like10 div, .like10 p
{float: left;}

.like10 p
{line-height: 20px;
margin-left: 5px;}

a .talk10 p, a .like10 p {color: #ccc;}

/*product11*/

.product_zon04 .product11
{width: 320px;
border: 1px solid #ccc; 
margin-left: 37px;
margin-right: 37px;
float: left;}

.product11 .product_text_11
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_11 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_11 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_11 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_11 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product11 .review_box_11
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_11 .star11
{float: left;}

.review_box_11 .review11
{float: right;}

.star11 div
{float: left;}

.review11 .talk11, .review11 .like11
{float: left;}

.review11 .talk11
{margin-right: 10px;}

.talk11 div, .talk11 p
{float: left;}

.talk11 p
{line-height: 20px;
margin-left: 5px;}

.like11 div, .like11 p
{float: left;}

.like11 p
{line-height: 20px;
margin-left: 5px;}

a .talk11 p, a .like11 p {color: #ccc;}

/*product12*/

.product_zon04 .product12
{width: 320px;
border: 1px solid #ccc; 
float: left;}

.product12 .product_text_12
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_12 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_12 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_12 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_12 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product12 .review_box_12
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_12 .star12
{float: left;}

.review_box_12 .review12
{float: right;}

.star12 div
{float: left;}

.review12 .talk12, .review12 .like12
{float: left;}

.review12 .talk12
{margin-right: 10px;}

.talk12 div, .talk12 p
{float: left;}

.talk12 p
{line-height: 20px;
margin-left: 5px;}

.like12 div, .like12 p
{float: left;}

.like12 p
{line-height: 20px;
margin-left: 5px;}

a .talk12 p, a .like12 p {color: #ccc;}

/*4번째 줄*/

.all_box .product_zon04
{width: 1040px; height: 347px;
margin-top: 50px;
margin-bottom: 50px;
overflow: hidden;}

/*product10*/

.product_zon04 .product10
{width: 320px; 
border: 1px solid #ccc; 
float: left;}

.product10 .product_text_10
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_10 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_10 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_10 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_10 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product10 .review_box_10
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_10 .star10
{float: left;}

.review_box_10 .review10
{float: right;}

.star10 div
{float: left;}

.review10 .talk10, .review10 .like10
{float: left;}

.review10 .talk10
{margin-right: 10px;}

.talk10 div, .talk10 p
{float: left;}

.talk10 p
{line-height: 20px;
margin-left: 5px;}

.like10 div, .like10 p
{float: left;}

.like10 p
{line-height: 20px;
margin-left: 5px;}

a .talk10 p, a .like10 p {color: #ccc;}

/*product11*/

.product_zon04 .product11
{width: 320px;
border: 1px solid #ccc; 
margin-left: 37px;
margin-right: 37px;
float: left;}

.product11 .product_text_11
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_11 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_11 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_11 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_11 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product11 .review_box_11
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_11 .star11
{float: left;}

.review_box_11 .review11
{float: right;}

.star11 div
{float: left;}

.review11 .talk11, .review11 .like11
{float: left;}

.review11 .talk11
{margin-right: 10px;}

.talk11 div, .talk11 p
{float: left;}

.talk11 p
{line-height: 20px;
margin-left: 5px;}

.like11 div, .like11 p
{float: left;}

.like11 p
{line-height: 20px;
margin-left: 5px;}

a .talk11 p, a .like11 p {color: #ccc;}

/*product12*/

.product_zon04 .product12
{width: 320px;
border: 1px solid #ccc; 
float: left;}

.product12 .product_text_12
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_12 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_12 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_12 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_12 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product12 .review_box_12
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_12 .star12
{float: left;}

.review_box_12 .review12
{float: right;}

.star12 div
{float: left;}

.review12 .talk12, .review12 .like12
{float: left;}

.review12 .talk12
{margin-right: 10px;}

.talk12 div, .talk12 p
{float: left;}

.talk12 p
{line-height: 20px;
margin-left: 5px;}

.like12 div, .like12 p
{float: left;}

.like12 p
{line-height: 20px;
margin-left: 5px;}

a .talk12 p, a .like12 p {color: #ccc;}

/*5번째 줄*/

.all_box .product_zon05
{width: 1040px; height: 347px;
overflow: hidden;}

/*product13*/

.product_zon05 .product13
{width: 320px; 
border: 1px solid #ccc; 
float: left;}

.product13 .product_text_13
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_13 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_13 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_13 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_13 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product13 .review_box_13
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_13 .star13
{float: left;}

.review_box_13 .review13
{float: right;}

.star13 div
{float: left;}

.review13 .talk13, .review13 .like13
{float: left;}

.review13 .talk13
{margin-right: 10px;}

.talk13 div, .talk13 p
{float: left;}

.talk13 p
{line-height: 20px;
margin-left: 5px;}

.like13 div, .like13 p
{float: left;}

.like13 p
{line-height: 20px;
margin-left: 5px;}

a .talk13 p, a .like13 p {color: #ccc;}

/*product14*/

.product_zon05 .product14
{width: 320px;
border: 1px solid #ccc; 
margin-left: 37px;
margin-right: 37px;
float: left;}

.product14 .product_text_14
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_14 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_14 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_14 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_14 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product14 .review_box_14
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_14 .star14
{float: left;}

.review_box_14 .review14
{float: right;}

.star14 div
{float: left;}

.review14 .talk14, .review14 .like14
{float: left;}

.review14 .talk14
{margin-right: 10px;}

.talk14 div, .talk14 p
{float: left;}

.talk14 p
{line-height: 20px;
margin-left: 5px;}

.like14 div, .like14 p
{float: left;}

.like14 p
{line-height: 20px;
margin-left: 5px;}

a .talk14 p, a .like14 p {color: #ccc;}

/*product15*/

.product_zon05 .product15
{width: 320px;
border: 1px solid #ccc; 
float: left;}

.product15 .product_text_15
{margin-top: 10px;
margin-left: 10px;
margin-right: 10px;}

a .product_text_15 p:nth-child(1)
{width: 300px; height: 20px;
color: #0d75bc;
line-height: 20px;
font-size: 14px;}

.product_text_15 p:nth-child(2)
{width: 300px; height: 20px;
line-height: 20px; font-size: 14px;
margin-bottom: 10px;}

.product_text_15 p:nth-child(3)
{width: 300px; height: 20px;
line-height: 20px; font-size: 18px;
font-weight: bold;
margin-bottom: 10px;}

a .product_text_15 p:nth-child(4)
{width: 300px; height: 20px;
color: #e5004f;
line-height: 20px; font-size: 18px; 
text-align: right; margin-bottom: 20px;
font-weight: bold;}

.product15 .review_box_15
{width: 300px; height: 20px;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;}

.review_box_15 .star15
{float: left;}

.review_box_15 .review15
{float: right;}

.star15 div
{float: left;}

.review15 .talk15, .review15 .like15
{float: left;}

.review15 .talk15
{margin-right: 10px;}

.talk15 div, .talk15 p
{float: left;}

.talk15 p
{line-height: 20px;
margin-left: 5px;}

.like15 div, .like15 p
{float: left;}

.like15 p
{line-height: 20px;
margin-left: 5px;}

a .talk15 p, a .like15 p {color: #ccc;}

.right .number_btn
{width: 260px; height: 20px;
overflow: hidden;
margin: 0 auto;
margin-bottom: 100px;}

.number_btn a p 
{width: 20px; height: 20px;
line-height: 20px; text-align: center;
margin-right: 10px; font-weight: bold;
float: left;}

.number_btn a:last-child p
{margin-right: 0;}

.number_btn a:nth-child(2) p
{color: red;}

/*자유여행*/

.freedom
{width: 100%; max-width: 1920px; height: 430px;
margin: 0 auto;
background-image:url(../img/background.png);}

.freedom .country
{overflow: hidden;
margin-left: 235px;}

.freedom .country div
{width: 150px; height: 40px;
text-align: center; line-height: 40px;
margin-right: 50px; margin-top: 280px;
border: 1px solid white; box-sizing: border-box;
float: left;}

.country div a
{color: white;}

@media all and (max-width:768px)
{

.sub
{display: none;}

.mobile
{width: 100%; height: 100vh;
overflow-y: scroll;
display: block;}


.header_m
{width: 100%; height: 40px;
position: relative;}

#menu_m {display: none;}

.header_m .menu_m
{width: 50px; height: 40px;
float: left;}

.menu_m img
{width: 30px; height: 30px;
margin: 0 auto;
margin-top: 5px;}

.header_m .rout_m
{float: left;}

.rout_m p 
{font-weight: bold;
line-height: 40px;}

.logo_m img {width: 100%; height: auto;}

.header_m .header_button
{width: 80px; height: 40px;
float: right;}

.header_button .main_m, .header_button .login_m
{width: 40px; height: 40px;
float: left;}

.main_m img, .login_m img
{width: 30px; height: 30px;
margin-top: 5px;}

#menu_m:checked ~ .header_m .lnb_mobile
{left: 0;}

.header_m .lnb_mobile
{width: 90%; height: 100vh;
position: absolute;
top: 40px; left: -100%;
background-color: bisque;
transition: all 0.3s;}

.lnb_mobile .gnb_mobile
{width: 100%; height: 40px;
background-color: #0d75bc;
overflow: hidden;}

.gnb_mobile ul
{width: calc(100% - 40px - 5px); height: 40px;
float: left;
margin-left: 5px;}

.gnb_mobile label
{width: 40px; 
line-height: 40px; font-size: 12px; text-align: center;
color: white;
float: right;}

.gnb_mobile ul li 
{float: left;
line-height: 40px;
font-size: 10px;
margin-right: 5px;}

.gnb_mobile ul li a {color: white;}

.gnb_mobile ul li:nth-child(2), .gnb_mobile ul li:nth-child(4), .gnb_mobile ul li:nth-child(6)
{width: 1px; height: 10px;
background-color: white;
margin-top: 15px;}

#submenu01, #submenu02, #submenu03, #submenu04, #submenu05, #submenu06
{display: none;}

.lnb_mobile .menu_mobile
{width: 100%; 
overflow-y: scroll;
background-color: white;
overflow: hidden;}

.menu_mobile .menu_left_mobile
{width: 40%; 
float: left;}

.menu_left_mobile label p
{width: 100%; height: 50px;
text-align: center; line-height: 50px;
font-size: 14px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
box-sizing: border-box;
background-color: #f3f3f3;
color: #333;}

#submenu01:checked ~ .menu_mobile label:nth-child(1) p 
{background-color: white;
color: #0d75bc;
border-right: none;}

#submenu02:checked ~ .menu_mobile label:nth-child(2) p 
{background-color: white;
color: #0d75bc;
border-right: none;}

#submenu03:checked ~ .menu_mobile label:nth-child(3) p 
{background-color: white;
color: #0d75bc;
border-right: none;}

#submenu04:checked ~ .menu_mobile label:nth-child(4) p 
{background-color: white;
color: #0d75bc;
border-right: none;}

#submenu05:checked ~ .menu_mobile label:nth-child(5) p 
{background-color: white;
color: #0d75bc;
border-right: none;}

#submenu06:checked ~ .menu_mobile label:nth-child(6) p 
{background-color: white;
color: #0d75bc;
border-right: none;}

#submenu01:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: block;}
#submenu02:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
#submenu03:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
#submenu04:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
#submenu05:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}
#submenu06:checked ~ .menu_mobile .menu_right_mobile .japan_m {display: none;}

#submenu01:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
#submenu02:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: block;}
#submenu03:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
#submenu04:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
#submenu05:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}
#submenu06:checked ~ .menu_mobile .menu_right_mobile .thailand_m {display: none;}

#submenu01:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
#submenu02:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
#submenu03:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: block;}
#submenu04:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
#submenu05:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}
#submenu06:checked ~ .menu_mobile .menu_right_mobile .vietnam_m {display: none;}

#submenu01:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
#submenu02:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
#submenu03:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
#submenu04:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: block;}
#submenu05:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}
#submenu06:checked ~ .menu_mobile .menu_right_mobile .taiwan_m {display: none;}

#submenu01:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
#submenu02:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
#submenu03:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
#submenu04:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}
#submenu05:checked ~ .menu_mobile .menu_right_mobile .event_m {display: block;}
#submenu06:checked ~ .menu_mobile .menu_right_mobile .event_m {display: none;}

#submenu01:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
#submenu02:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
#submenu03:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
#submenu04:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
#submenu05:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: none;}
#submenu06:checked ~ .menu_mobile .menu_right_mobile .academy_m {display: block;}


.menu_mobile .menu_right_mobile
{width:60%; height: 100vh;
float: left;}

.menu_right_mobile .japan_m
{width: 100%;}

.japan_m a li 
{width: 100%; height: 50px;
font-size: 14px; line-height: 50px;
text-align: center;
color: #333;}

.menu_right_mobile .thailand_m
{width: 100%;}

.thailand_m a li 
{width: 100%; height: 50px;
font-size: 14px; line-height: 50px;
text-align: center;
color: #333;}

.menu_right_mobile .vietnam_m
{width: 100%;}

.vietnam_m a li 
{width: 100%; height: 50px;
font-size: 14px; line-height: 50px;
text-align: center;
color: #333;}

.menu_right_mobile .taiwan_m
{width: 100%;}

.taiwan_m a li 
{width: 100%; height: 50px;
font-size: 14px; line-height: 50px;
text-align: center;
color: #333;}

.menu_right_mobile .event_m
{width: 100%;}

.event_m a li 
{width: 100%; height: 50px;
font-size: 14px; line-height: 50px;
text-align: center;
color: #333;}

.menu_right_mobile .academy_m
{width: 100%;}

.academy_m a li 
{width: 100%; height: 50px;
font-size: 14px; line-height: 50px;
text-align: center;
color: #333;}

.sub_line_m_01
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 10px;}

.sub_menu_m
{width: 95%; height: 120px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 10px;}

.sub_menu_m li
{width: 33.33333333%; height: 30px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left; color: #333;
font-size: 10px; text-align: center; line-height: 30px;}

.sub_menu_m a:nth-child(1) li
{border: none;
background-color: #0d75bc;
color: white;}

.sub_menu_m a:nth-child(1) li, .sub_menu_m a:nth-child(2) li, .sub_menu_m a:nth-child(3) li, .sub_menu_m a:nth-child(4) li
{border-bottom: none;}

.sub_menu_m a:nth-child(5) li, .sub_menu_m a:nth-child(6) li, .sub_menu_m a:nth-child(7) li, .sub_menu_m a:nth-child(8) li, .sub_menu_m a:nth-child(9) li
{border-bottom: none;}

.sub_menu_m a:nth-child(1) li, .sub_menu_m a:nth-child(2) li, .sub_menu_m a:nth-child(4) li, .sub_menu_m a:nth-child(5) li, .sub_menu_m a:nth-child(7) li, .sub_menu_m a:nth-child(8) li
{border-right: none;}

.sub_menu_m a:nth-child(10) li, .sub_menu_m a:nth-child(11) li
{border-right: none;}

.sub_line_m_02
{width: 100%; height: 1px;
background-color: #ccc;}

.select_box_m
{width: 95%; height: 20px;
margin: 0 auto;
overflow: hidden;}

.select_box_m p:nth-child(1)
{font-size: 12px; font-weight: bold;
color: red; line-height: 20px;
float: left;}

.select_box_m .select_m
{width: 50%; height: 20px;
float: right;}

#select01, #select02
{width: 49.5%; height: 20px;
border: none; font-size: 12px;
float: left;}

#select01
{margin-right: 1%;}

.sub_line_m_03
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 10px;}

.product_m_box01
{width: 95%;
margin: 0 auto;
overflow: hidden;
margin-bottom: 10px;}

.product_m_box01 a
{width: 49.5%;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;}

.product_m_box01 a:nth-child(1)
{margin-right: 1%;}

.product_m_box01 a>div:nth-child(1)
{width: 100%;}

.product_m_box01 a div:nth-child(1) img 
{width: 100%; height: auto;}

.product_m_box01 a div .txt01_m
{width: 100%;}

.txt01_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt01_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt01_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt01_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt01_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box01 a>div .icon_m_01
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_01 .star_m_01
{width: 55px; height: 11px;
float: left;}

.star_m_01 div 
{width: 11px; height: 11px;
float: left;}

.star_m_01 div img
{width: 100%; height: 100%;}

.icon_m_01 .good_m_01
{float: right;}

.good_m_01>div
{float: left;}

.good_m_01>div:nth-child(1)
{margin-right: 5px;}

.good_m_01>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_01>div>div img
{width: 100%; height: 100%;}

.good_m_01>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 12px;}


.product_m_box01 a div .txt02_m
{width: 100%;}

.txt02_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt02_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt02_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt02_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt02_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box01 a>div .icon_m_02
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_02 .star_m_02
{width: 55px; height: 11px;
float: left;}

.star_m_02 div 
{width: 11px; height: 11px;
float: left;}

.star_m_02 div img
{width: 100%; height: 100%;}

.icon_m_02 .good_m_02
{float: right;}

.good_m_02>div
{float: left;}

.good_m_02>div:nth-child(1)
{margin-right: 5px;}

.good_m_02>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_02>div>div img
{width: 100%; height: 100%;}

.good_m_02>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 11px;}

/*02*/

.product_m_box02
{width: 95%;
margin: 0 auto;
overflow: hidden;
margin-bottom: 10px;}

.product_m_box02 a
{width: 49.5%;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;}

.product_m_box02 a:nth-child(1)
{margin-right: 1%;}

.product_m_box02 a>div:nth-child(1)
{width: 100%;}

.product_m_box02 a div:nth-child(1) img 
{width: 100%; height: auto;}

.product_m_box02 a div .txt03_m
{width: 100%;}

.txt03_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt03_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt03_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt03_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt03_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box02 a>div .icon_m_03
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_03 .star_m_03
{width: 55px; height: 11px;
float: left;}

.star_m_03 div 
{width: 11px; height: 11px;
float: left;}

.star_m_03 div img
{width: 100%; height: 100%;}

.icon_m_03 .good_m_03
{float: right;}

.good_m_03>div
{float: left;}

.good_m_03>div:nth-child(1)
{margin-right: 5px;}

.good_m_03>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_03>div>div img
{width: 100%; height: 100%;}

.good_m_03>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 12px;}



.product_m_box02 a div .txt04_m
{width: 100%;}

.txt04_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt04_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt04_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt04_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt04_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box02 a>div .icon_m_04
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_04 .star_m_04
{width: 55px; height: 11px;
float: left;}

.star_m_04 div 
{width: 11px; height: 11px;
float: left;}

.star_m_04 div img
{width: 100%; height: 100%;}

.icon_m_04 .good_m_04
{float: right;}

.good_m_04>div
{float: left;}

.good_m_04>div:nth-child(1)
{margin-right: 5px;}

.good_m_04>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_04>div>div img
{width: 100%; height: 100%;}

.good_m_04>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 11px;}

/*03*/

.product_m_box03
{width: 95%;
margin: 0 auto;
overflow: hidden;
margin-bottom: 10px;}

.product_m_box03 a
{width: 49.5%;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;}

.product_m_box03 a:nth-child(1)
{margin-right: 1%;}

.product_m_box03 a>div:nth-child(1)
{width: 100%;}

.product_m_box03 a div:nth-child(1) img 
{width: 100%; height: auto;}

.product_m_box03 a div .txt05_m
{width: 100%;}

.txt05_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt05_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt05_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt05_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt05_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box03 a>div .icon_m_05
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_05 .star_m_05
{width: 55px; height: 11px;
float: left;}

.star_m_05 div 
{width: 11px; height: 11px;
float: left;}

.star_m_05 div img
{width: 100%; height: 100%;}

.icon_m_05 .good_m_05
{float: right;}

.good_m_05>div
{float: left;}

.good_m_05>div:nth-child(1)
{margin-right: 5px;}

.good_m_05>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_05>div>div img
{width: 100%; height: 100%;}

.good_m_05>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 12px;}



.product_m_box03 a div .txt06_m
{width: 100%;}

.txt06_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt06_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt06_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt06_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt06_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box03 a>div .icon_m_06
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_06 .star_m_06
{width: 55px; height: 11px;
float: left;}

.star_m_06 div 
{width: 11px; height: 11px;
float: left;}

.star_m_06 div img
{width: 100%; height: 100%;}

.icon_m_06 .good_m_06
{float: right;}

.good_m_06>div
{float: left;}

.good_m_06>div:nth-child(1)
{margin-right: 5px;}

.good_m_06>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_06>div>div img
{width: 100%; height: 100%;}

.good_m_06>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 11px;}

/*04*/

.product_m_box04
{width: 95%;
margin: 0 auto;
overflow: hidden;
margin-bottom: 10px;}

.product_m_box04 a
{width: 49.5%;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;}

.product_m_box04 a:nth-child(1)
{margin-right: 1%;}

.product_m_box04 a>div:nth-child(1)
{width: 100%;}

.product_m_box04 a div:nth-child(1) img 
{width: 100%; height: auto;}

.product_m_box04 a div .txt07_m
{width: 100%;}

.txt07_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt07_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt07_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt07_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt07_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box04 a>div .icon_m_07
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_07 .star_m_07
{width: 55px; height: 11px;
float: left;}

.star_m_07 div 
{width: 11px; height: 11px;
float: left;}

.star_m_07 div img
{width: 100%; height: 100%;}

.icon_m_07 .good_m_07
{float: right;}

.good_m_07>div
{float: left;}

.good_m_07>div:nth-child(1)
{margin-right: 5px;}

.good_m_07>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_07>div>div img
{width: 100%; height: 100%;}

.good_m_07>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 12px;}



.product_m_box04 a div .txt08_m
{width: 100%;}

.txt08_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt08_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt08_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt08_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt08_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box04 a>div .icon_m_08
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_08 .star_m_08
{width: 55px; height: 11px;
float: left;}

.star_m_08 div 
{width: 11px; height: 11px;
float: left;}

.star_m_08 div img
{width: 100%; height: 100%;}

.icon_m_08 .good_m_08
{float: right;}

.good_m_08>div
{float: left;}

.good_m_08>div:nth-child(1)
{margin-right: 5px;}

.good_m_08>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_08>div>div img
{width: 100%; height: 100%;}

.good_m_08>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 11px;}

/*05*/

.product_m_box05
{width: 95%;
margin: 0 auto;
overflow: hidden;}

.product_m_box05 a
{width: 49.5%;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;}

.product_m_box05 a:nth-child(1)
{margin-right: 1%;}

.product_m_box05 a>div:nth-child(1)
{width: 100%;}

.product_m_box05 a div:nth-child(1) img 
{width: 100%; height: auto;}

.product_m_box05 a div .txt09_m
{width: 100%;}

.txt09_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt09_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt09_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt09_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt09_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box05 a>div .icon_m_09
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_09 .star_m_09
{width: 55px; height: 11px;
float: left;}

.star_m_09 div 
{width: 11px; height: 11px;
float: left;}

.star_m_09 div img
{width: 100%; height: 100%;}

.icon_m_09 .good_m_09
{float: right;}

.good_m_09>div
{float: left;}

.good_m_09>div:nth-child(1)
{margin-right: 5px;}

.good_m_09>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_09>div>div img
{width: 100%; height: 100%;}

.good_m_09>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 12px;}



.product_m_box05 a div .txt10_m
{width: 100%;}

.txt10_m div
{width: 95%;
margin: 0 auto;
margin-top: 5px; margin-bottom: 5px;
font-size: 10px;}

.txt10_m div p:nth-child(1)
{color: #0d75bc;
line-height: 15px;}

.txt10_m div p:nth-child(2)
{color: #333;
line-height: 15px;
margin-bottom: 5px;}

.txt10_m div p:nth-child(3)
{color: #333;
line-height: 15px; font-weight: bold;
font-size: 14px; margin-bottom: 5px;}

.txt10_m>div p:nth-child(4)
{color: #e5004f; text-align: right;
line-height: 15px; font-weight: bold;
font-size: 14px;}

.product_m_box05 a>div .icon_m_10
{width: 95%; height: 11px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.icon_m_10 .star_m_10
{width: 55px; height: 11px;
float: left;}

.star_m_10 div 
{width: 11px; height: 11px;
float: left;}

.star_m_10 div img
{width: 100%; height: 100%;}

.icon_m_10 .good_m_10
{float: right;}

.good_m_10>div
{float: left;}

.good_m_10>div:nth-child(1)
{margin-right: 5px;}

.good_m_10>div>div
{width: 11px; height: 11px;
margin-right: 2px;
float: left;}

.good_m_10>div>div img
{width: 100%; height: 100%;}

.good_m_10>div p
{font-size: 10px;
float: left;
color: #ccc; line-height: 11px;}

.banner_m
{width: 100%;
margin-top: 20px;}

.banner_m a img 
{width: 100%; height: auto;}



/*btn*/

.num_m_btn
{width: 180px; height: 20px;
overflow: hidden;
margin: 0 auto;
margin-top: 20px;}

.num_m_btn a 
{width: 20px; height: 20px;
float: left; color: #333;
text-align: center; line-height: 20px;
font-size: 14px; font-weight: bold;}

.num_m_btn a:nth-child(2)
{color: #e5004f;}
}

