* {margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard_bold';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body {font-family: 'Pretendard';}

@media all and (max-width: 600px)
{
    .header_ex {display: none;}

    #open_chk {display: none;}

    /*헤더 모바일 버전*/
    .header_mobile
    {width: 100%; height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #fff; box-sizing: border-box;
    position: relative; z-index: 9999;
    position: fixed;
    top: 0; left: 0;}

    .header_mobile .header_top_m
    {width: 90%; height: 50px;
    overflow: hidden;
    margin: 0 auto;}

    .header_top_m>a:nth-child(1)
    {display: block;
    width: 126px; height: 30px;
    margin-top: 10px;
    float: left;}

    .header_top_m>label:nth-child(2)
    {display: block;
    width: 30px; height: 30px;
    margin-top: 10px;
    float: right;}

    .header_mobile .mobile_sheet
    {width: 100%; height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0; right: -100%;
    transition: all 0.5s;}

    #open_chk:checked ~ .mobile_sheet {right: 0;}

    .mobile_sheet .sheet_top
    {width: 90%; height: 50px;
    margin: 0 auto;
    overflow: hidden;}

    .sheet_top>div:nth-child(1)
    {width: 132px; height: 30px;
    float: left;
    margin-top: 10px;}

    .sheet_top>label:nth-child(2)
    {width: 30px; height: 30px;
    float: right;
    display: block;
    margin-top: 10px;}

    .mobile_sheet .line_mobile_01
    {width: 100%; height: 1px;
    background-color: #f3f3f3;}

    .mobile_sheet .lnb_mobile
    {width: 100%;
    margin: 0 auto;}

    .lnb_mobile>ul>a>li 
    {width: 100%; height: 50px;
    border-bottom: 1px solid #f3f3f3; box-sizing: border-box;
    line-height: 50px;
    color: #333;
    text-indent: 5%;}

    .lnb_mobile>ul>a:nth-child(5)>li
    {color: #f7ab00;}   

    /**/
    .visual_banner
    {width: 100%; height: 200px;
    background-image: url(../img/visual_banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;}

    .visual_banner>div
    {overflow: hidden;}

    .visual_banner>div>div:nth-child(1)
    {width: 30px; height: 30px;
    float: left;
    margin-right: 10px;}

    .visual_banner>div>div:nth-child(1) img 
    {width: 100%; height: 100%;}

    .visual_banner>div>p:nth-child(2)
    {float: left;
    font-size: 30px; line-height: 30px;
    font-family: 'min_bold';
    color: #fff;}

    .inquire_box
    {width: 90%;
    margin: 30px auto;}

    .inquire_box .inquire_title
    {width: 100%;
    font-size: 20px; line-height: 25px;
    margin-bottom: 20px; color: #535353;}

    .inquire_box .check_box
    {width: 100%;
    line-height: 30px;
    margin-bottom: 20px; color: #535353;}

    .check_box label 
    {width: calc(100% - 20px); height: 30px;
    display: inline-block;}

    .inquire_title p span {color: #f7ab00;}

    .inquire_box .web_table
    {display: none;}

    /**/
    .inquire_box .mobile_table
    {width: 100%;
    margin-top: 20px; margin-bottom: 50px;}

    .mobile_table tr td:nth-child(1)
    {width: 70px; height: 60px;
    color: #535353; font-family: 'min_bold';
    font-size: 15px;}

    .mobile_table tr td:nth-child(1) p span {color: red;}

    .mobile_table tr td
    {border-bottom: 1px solid #ccc;
    box-sizing: border-box;}

    #company_m, #name_m, #call_m, #email_m, #site_m, #money_m
    {width: 100%; height: 40px;
    border: none; outline: none;
    font-family: 'Pretendard';}

    .mobile_table tr:nth-child(7) td:nth-child(2) div
    {width: 100%;
    overflow: hidden;}

    .mobile_table tr:nth-child(7) td:nth-child(2)>div>label:nth-child(3)
    {width: 60px; height: 30px;
    margin-top: 5px; font-size: 15px;
    border-radius: 2px; color: #fff; text-align: center; line-height: 30px;
    display: block;
    background-color: #f7ab00; 
    float: right;}

    #upload-name-m
    {width: calc(100% - 60px - 5px); height: 40px;
    border: none; outline: none;
    font-family: 'Pretendard';
    float: left; margin-right: 5px;}

    #file_m {display: none;}

    #contents_m
    {width: 100%; height: 100px;
    margin-top: 5px;
    font-family: 'Pretendard';
    resize: none; border: none; outline: none;}


    /**/
    .inquire_box .information
    {width: 100%;
    margin: 0 auto;}

    .information>div:nth-child(1)
    {width: 100%; height: 200px;
    overflow-y: scroll;
    font-size: 15px;
    line-height: 25px; color: #535353;
    margin-bottom: 20px;}

    .information>div:nth-child(1)>p>span 
    {font-family: 'min_bold';}

    .information>div:nth-child(2)
    {width: 100%; height: 30px;
    line-height: 30px; text-align: right;}

    #agree_w_01 
    {margin-right: 5px;
    outline: none;}

    /**/
    .inquire_box .web_btn
    {width: 100%; height: 40px;
    margin: 20px auto;}

    #web_submit
    {width: 100%; height: 40px;
    background-color: #f7ab00; color: white;
    text-align: center; line-height: 40px; font-size: 16px; 
    border: none; outline: none; border-radius: 5px;
    font-family: 'Pretendard';}

    /*footer*/
    .footer
    {width: 100%;}

    .footer .footer_line_01
    {width: 100%; height: 1px;
    background-color: #ccc;}

    .footer .footer_top
    {width: 90%; height: 30px;
    margin: 0 auto;}

    .footer_top ul li 
    {display: inline-block;
    line-height: 30px;}

    .footer_top ul>a>li
    {padding-left: 5px; padding-right: 5px;
    color: #888;}

    .footer_top ul>a:last-child>li
    {color: #333;}

    .footer_top ul>a:nth-child(1)>li
    {padding-left: 0;}

    .footer_top ul>li 
    {width: 1px; height: 10px;
    background-color: #ccc;
    margin-top: 10px;}

    .footer .footer_line_02
    {width: 100%; height: 1px;
    background-color: #ccc;}
    
    /*순서 이동하는 법*/
    .footer .footer_bottom
    {width: 90%;
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;}

    .footer_bottom .bottom_left
    {-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;}

    .bottom_left>p
    {color: #888;}

    .bottom_left>p:nth-child(1)
    {margin-bottom: 5px;
    font-family: 'min_bold';}

    .bottom_left>p:nth-child(2)
    {font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;}

    .bottom_left>p:nth-child(2) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(3)
    {font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;}

    .bottom_left>p:nth-child(3) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(4)
    {font-size: 14px;
    line-height: 20px;}

    .bottom_left>p:nth-child(4) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(5)
    {font-size: 14px;
    line-height: 20px;
    margin-top: 10px;}

    .footer_bottom .bottom_right
    {width: 50%;
    margin-bottom: 10px;}

    .bottom_right img 
    {width: 100%; height: auto;}

    /*popup_개인정보*/
    .privacy
    {position:fixed;
    top:0; left:0; z-index: 10000; 
    width: 100%; height: 100vh; 
    background-color: rgba(0, 0, 0, 0.4);}

    /*팝업 박스*/

    .privacy_box
    {position: relative;
    top:50%; left:50%; 
    width: 80%; height: 250px;
    border-radius: 25px;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    overflow: hidden;}

    .privacy_box .privacy_top_title
    {width: 100%; height: 40px;
    background-color: #f39600;
    margin-bottom: 10px;}

    .privacy_top_title>p
    {line-height: 40px;
    margin-left: 20px;
    color: white; font-family: 'Pretendard_02';}

    /*컨텐츠 영역*/
    .privacy_box .privacy_cont
    {width: calc(100% - 20px); height: 160px;
    overflow-y: scroll;
    margin: 0 auto;
    font-size: 12px; line-height: 20px;}


    /*버튼영역*/
    .privacy_box .privacy_btn
    {width: 100%; height: 20px;
    margin-top: 10px;}

    .privacy_box .privacy_btn a 
    {display: block;
    width: 100%; height: 20px; font-size: 14px;
    line-height: 20px; text-align: center;
    color: #333; font-family: 'Pretendard_02';}

}

@media all and (min-width: 601px) and (max-width: 768px)
{   
    .header_ex {display: none;}

    #open_chk {display: none;}
    
    /*헤더 모바일 버전*/
    .header_mobile
    {width: 100%; height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #fff; box-sizing: border-box;
    position: relative; z-index: 9999;
    position: fixed;
    top: 0; left: 0;}

    .header_mobile .header_top_m
    {width: 90%; height: 50px;
    overflow: hidden;
    margin: 0 auto;}

    .header_top_m>a:nth-child(1)
    {display: block;
    width: 126px; height: 30px;
    margin-top: 10px;
    float: left;}

    .header_top_m>label:nth-child(2)
    {display: block;
    width: 30px; height: 30px;
    margin-top: 10px;
    float: right;}

    .header_mobile .mobile_sheet
    {width: 100%; height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0; right: -100%;
    transition: all 0.5s;}

    #open_chk:checked ~ .mobile_sheet {right: 0;}

    .mobile_sheet .sheet_top
    {width: 90%; height: 50px;
    margin: 0 auto;
    overflow: hidden;}

    .sheet_top>div:nth-child(1)
    {width: 132px; height: 30px;
    float: left;
    margin-top: 10px;}

    .sheet_top>label:nth-child(2)
    {width: 30px; height: 30px;
    float: right;
    display: block;
    margin-top: 10px;}

    .mobile_sheet .line_mobile_01
    {width: 100%; height: 1px;
    background-color: #f3f3f3;}

    .mobile_sheet .lnb_mobile
    {width: 100%;
    margin: 0 auto;}

    .lnb_mobile>ul>a>li 
    {width: 100%; height: 50px;
    border-bottom: 1px solid #f3f3f3; box-sizing: border-box;
    line-height: 50px;
    color: #333;
    text-indent: 5%;}

    .lnb_mobile>ul>a:nth-child(5)>li
    {color: #f7ab00;} 


    /**/
    .visual_banner
    {width: 100%; height: 300px;
    background-image: url(../img/visual_banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;}

    .visual_banner>div
    {overflow: hidden;}

    .visual_banner>div>div:nth-child(1)
    {width: 40px; height: 40px;
    float: left;
    margin-right: 10px;}

    .visual_banner>div>div:nth-child(1) img 
    {width: 100%; height: 100%;}

    .visual_banner>div>p:nth-child(2)
    {float: left;
    font-size: 40px; line-height: 40px;
    font-family: 'min_bold';
    color: #fff;}

    .inquire_box
    {width: 90%;
    margin: 50px auto;}

    .inquire_box .inquire_title
    {width: 100%;
    font-size: 20px; line-height: 25px;
    margin-bottom: 30px; color: #535353;}

    .inquire_box .check_box
    {width: 100%;
    line-height: 30px;
    margin-bottom: 30px; color: #535353;}

    .check_box label 
    {width: calc(100% - 20px); height: 30px;
    display: inline-block;}

    .inquire_title p span {color: #f7ab00;}

    .inquire_box .web_table
    {display: none;}

    /**/
    .inquire_box .mobile_table
    {width: 100%;
    margin-top: 30px; margin-bottom: 50px;}

    .mobile_table tr td:nth-child(1)
    {width: 100px; height: 60px;
    color: #535353; font-family: 'min_bold';
    font-size: 15px;}

    .mobile_table tr td:nth-child(1) p span {color: red;}

    .mobile_table tr td
    {border-bottom: 1px solid #ccc;
    box-sizing: border-box;}

    #company_m, #name_m, #call_m, #email_m, #site_m, #money_m
    {width: 100%; height: 40px;
    border: none; outline: none;
    font-family: 'Pretendard';}

    .mobile_table tr:nth-child(7) td:nth-child(2) div
    {width: 100%;
    overflow: hidden;}

    .mobile_table tr:nth-child(7) td:nth-child(2)>div>label:nth-child(3)
    {width: 100px; height: 30px;
    margin-top: 5px; font-size: 15px;
    border-radius: 2px; color: #fff; text-align: center; line-height: 30px;
    display: block;
    background-color: #f7ab00; 
    float: right;}

    #upload-name-m
    {width: calc(100% - 100px - 5px); height: 40px;
    border: none; outline: none;
    font-family: 'Pretendard';
    float: left; margin-right: 5px;}

    #file_m {display: none;}

    #contents_m
    {width: 100%; height: 100px;
    margin-top: 5px;
    font-family: 'Pretendard';
    resize: none; border: none; outline: none;}


    /**/
    .inquire_box .information
    {width: 100%;
    margin: 0 auto;}

    .information>div:nth-child(1)
    {width: 100%; height: 200px;
    overflow-y: scroll;
    font-size: 15px;
    line-height: 25px; color: #535353;
    margin-bottom: 20px;}

    .information>div:nth-child(1)>p>span 
    {font-family: 'min_bold';}

    .information>div:nth-child(2)
    {width: 100%; height: 30px;
    line-height: 30px; text-align: right;}

    #agree_w_01 
    {margin-right: 5px;
    outline: none;}

    /**/
    .inquire_box .web_btn
    {width: 300px; height: 40px;
    margin: 30px auto;}

    #web_submit
    {width: 300px; height: 40px;
    background-color: #f7ab00; color: white;
    text-align: center; line-height: 40px; font-size: 16px; 
    border: none; outline: none; border-radius: 5px;
    font-family: 'Pretendard';}

    /*footer*/
    .footer
    {width: 100%;}

    .footer .footer_line_01
    {width: 100%; height: 1px;
    background-color: #ccc;}

    .footer .footer_top
    {width: 90%; height: 30px;
    margin: 0 auto;}

    .footer_top ul li 
    {display: inline-block;
    line-height: 30px;}

    .footer_top ul>a>li
    {padding-left: 5px; padding-right: 5px;
    color: #888;}

    .footer_top ul>a:last-child>li
    {color: #333;}

    .footer_top ul>a:nth-child(1)>li
    {padding-left: 0;}

    .footer_top ul>li 
    {width: 1px; height: 10px;
    background-color: #ccc;
    margin-top: 10px;}

    .footer .footer_line_02
    {width: 100%; height: 1px;
    background-color: #ccc;}

    .footer .footer_bottom
    {width: 90%;
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;}

    .footer_bottom .bottom_left
    {-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;}

    .bottom_left>p
    {color: #888;}

    .bottom_left>p:nth-child(1)
    {margin-bottom: 5px;
    font-family: 'min_bold';}

    .bottom_left>p:nth-child(2)
    {font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;}

    .bottom_left>p:nth-child(2) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(3)
    {font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;}

    .bottom_left>p:nth-child(3) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(4)
    {font-size: 14px;
    line-height: 20px;}

    .bottom_left>p:nth-child(4) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(5)
    {font-size: 14px;
    line-height: 20px;
    margin-top: 10px;}

    .footer_bottom .bottom_right
    {width: 228px; height: 52px;
    margin-bottom: 10px;}

    /*popup_개인정보*/
    .privacy
    {position:fixed;
    top:0; left:0; z-index: 10000; 
    width: 100%; height: 100vh; 
    background-color: rgba(0, 0, 0, 0.4);}

    /*팝업 박스*/

    .privacy_box
    {position: relative;
    top:50%; left:50%; 
    width: 500px; height: 300px;
    border-radius: 25px;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    overflow: hidden;}

    .privacy_box .privacy_top_title
    {width: 100%; height: 40px;
    background-color: #f39600;
    margin-bottom: 20px;}

    .privacy_top_title>p
    {line-height: 40px;
    margin-left: 20px;
    color: white; font-family: 'Pretendard_02';}

    /*컨텐츠 영역*/
    .privacy_box .privacy_cont
    {width: 460px; height: 180px;
    overflow-y: scroll;
    margin: 0 auto;
    font-size: 14px; line-height: 25px;}


    /*버튼영역*/
    .privacy_box .privacy_btn
    {width: 100%; height: 30px;
    margin-top: 20px;}

    .privacy_box .privacy_btn a 
    {display: block;
    width: 100%; height: 30px;
    line-height: 30px; text-align: center;
    color: #333; font-family: 'Pretendard_02';}
}

@media all and (min-width: 769px) and (max-width: 1024px)
{
    .header_ex {display: none;}

    #open_chk {display: none;}
    
    /*헤더 모바일 버전*/
    .header_mobile
    {width: 100%; height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #fff; box-sizing: border-box;
    position: relative; z-index: 9999;
    position: fixed;
    top: 0; left: 0;}

    .header_mobile .header_top_m
    {width: 90%; height: 50px;
    overflow: hidden;
    margin: 0 auto;}

    .header_top_m>a:nth-child(1)
    {display: block;
    width: 126px; height: 30px;
    margin-top: 10px;
    float: left;}

    .header_top_m>label:nth-child(2)
    {display: block;
    width: 30px; height: 30px;
    margin-top: 10px;
    float: right;}

    .header_mobile .mobile_sheet
    {width: 100%; height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0; right: -100%;
    transition: all 0.5s;}

    #open_chk:checked ~ .mobile_sheet {right: 0;}

    .mobile_sheet .sheet_top
    {width: 90%; height: 50px;
    margin: 0 auto;
    overflow: hidden;}

    .sheet_top>div:nth-child(1)
    {width: 132px; height: 30px;
    float: left;
    margin-top: 10px;}

    .sheet_top>label:nth-child(2)
    {width: 30px; height: 30px;
    float: right;
    display: block;
    margin-top: 10px;}

    .mobile_sheet .line_mobile_01
    {width: 100%; height: 1px;
    background-color: #f3f3f3;}

    .mobile_sheet .lnb_mobile
    {width: 100%;
    margin: 0 auto;}

    .lnb_mobile>ul>a>li 
    {width: 100%; height: 50px;
    border-bottom: 1px solid #f3f3f3; box-sizing: border-box;
    line-height: 50px;
    color: #333;
    text-indent: 5%;}

    .lnb_mobile>ul>a:nth-child(5)>li
    {color: #f7ab00;} 


    /**/
    .visual_banner
    {width: 100%; height: 300px;
    background-image: url(../img/visual_banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;}

    .visual_banner>div
    {overflow: hidden;}

    .visual_banner>div>div:nth-child(1)
    {width: 40px; height: 40px;
    float: left;
    margin-right: 10px;}

    .visual_banner>div>div:nth-child(1) img 
    {width: 100%; height: 100%;}

    .visual_banner>div>p:nth-child(2)
    {float: left;
    font-size: 40px; line-height: 40px;
    font-family: 'min_bold';
    color: #fff;}

    .inquire_box
    {width: 90%;
    margin: 50px auto;}

    .inquire_box .inquire_title
    {width: 100%;
    font-size: 20px; line-height: 25px;
    margin-bottom: 30px; color: #535353;}

    .inquire_box .check_box
    {width: 100%;
    line-height: 30px;
    margin-bottom: 30px; color: #535353;}

    .check_box label 
    {width: calc(100% - 20px); height: 30px;
    display: inline-block;}

    .inquire_title p span {color: #f7ab00;}

    .inquire_box .web_table
    {display: none;}

    /**/
    .inquire_box .mobile_table
    {width: 100%;
    margin-top: 30px; margin-bottom: 50px;}

    .mobile_table tr td:nth-child(1)
    {width: 100px; height: 60px;
    color: #535353; font-family: 'min_bold';
    font-size: 15px;}

    .mobile_table tr td:nth-child(1) p span {color: red;}

    .mobile_table tr td
    {border-bottom: 1px solid #ccc;
    box-sizing: border-box;}

    #company_m, #name_m, #call_m, #email_m, #site_m, #money_m
    {width: 100%; height: 40px;
    border: none; outline: none;
    font-family: 'Pretendard';}

    .mobile_table tr:nth-child(7) td:nth-child(2) div
    {width: 100%;
    overflow: hidden;}

    .mobile_table tr:nth-child(7) td:nth-child(2)>div>label:nth-child(3)
    {width: 100px; height: 30px;
    margin-top: 5px; font-size: 15px;
    border-radius: 2px; color: #fff; text-align: center; line-height: 30px;
    display: block;
    background-color: #f7ab00; 
    float: right;}

    #upload-name-m
    {width: calc(100% - 100px - 5px); height: 40px;
    border: none; outline: none;
    font-family: 'Pretendard';
    float: left; margin-right: 5px;}

    #file_m {display: none;}

    #contents_m
    {width: 100%; height: 100px;
    margin-top: 5px;
    font-family: 'Pretendard';
    resize: none; border: none; outline: none;}


    /**/
    .inquire_box .information
    {width: 100%;
    margin: 0 auto;}

    .information>div:nth-child(1)
    {width: 100%; height: 200px;
    overflow-y: scroll;
    font-size: 15px;
    line-height: 25px; color: #535353;
    margin-bottom: 20px;}

    .information>div:nth-child(1)>p>span 
    {font-family: 'min_bold';}

    .information>div:nth-child(2)
    {width: 100%; height: 30px;
    line-height: 30px; text-align: right;}

    #agree_w_01 
    {margin-right: 5px;
    outline: none;}

    /**/
    .inquire_box .web_btn
    {width: 300px; height: 40px;
    margin: 30px auto;}

    #web_submit
    {width: 300px; height: 40px;
    background-color: #f7ab00; color: white;
    text-align: center; line-height: 40px; font-size: 16px; 
    border: none; outline: none; border-radius: 5px;
    font-family: 'Pretendard';}

    /*footer*/
    .footer
    {width: 100%;}

    .footer .footer_line_01
    {width: 100%; height: 1px;
    background-color: #ccc;}

    .footer .footer_top
    {width: 90%; height: 30px;
    margin: 0 auto;}

    .footer_top ul li 
    {display: inline-block;
    line-height: 30px;}

    .footer_top ul>a>li
    {padding-left: 5px; padding-right: 5px;
    color: #888;}

    .footer_top ul>a:last-child>li
    {color: #333;}

    .footer_top ul>a:nth-child(1)>li
    {padding-left: 0;}

    .footer_top ul>li 
    {width: 1px; height: 10px;
    background-color: #ccc;
    margin-top: 10px;}

    .footer .footer_line_02
    {width: 100%; height: 1px;
    background-color: #ccc;}

    .footer .footer_bottom
    {width: 90%;
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;}

    .footer_bottom .bottom_left
    {-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;}

    .bottom_left>p
    {color: #888;}

    .bottom_left>p:nth-child(1)
    {margin-bottom: 5px;
    font-family: 'min_bold';}

    .bottom_left>p:nth-child(2)
    {font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;}

    .bottom_left>p:nth-child(2) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(3)
    {font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;}

    .bottom_left>p:nth-child(3) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(4)
    {font-size: 14px;
    line-height: 20px;}

    .bottom_left>p:nth-child(4) span 
    {color: #333; font-family: 'min_bold';
    margin-right: 10px;}

    .bottom_left>p:nth-child(5)
    {font-size: 14px;
    line-height: 20px;
    margin-top: 10px;}

    .footer_bottom .bottom_right
    {width: 228px; height: 52px;
    margin-bottom: 10px;}

     /*popup_개인정보*/
     .privacy
     {position:fixed;
     top:0; left:0; z-index: 10000; 
     width: 100%; height: 100vh; 
     background-color: rgba(0, 0, 0, 0.4);}
 
     /*팝업 박스*/
 
     .privacy_box
     {position: relative;
     top:50%; left:50%; 
     width: 500px; height: 300px;
     border-radius: 25px;
     transform:translate(-50%, -50%);
     z-index:1002;
     box-sizing:border-box;
     background:#fff;
     overflow: hidden;}
 
     .privacy_box .privacy_top_title
     {width: 100%; height: 40px;
     background-color: #f39600;
     margin-bottom: 20px;}
 
     .privacy_top_title>p
     {line-height: 40px;
     margin-left: 20px;
     color: white; font-weight: bold;}
 
     /*컨텐츠 영역*/
     .privacy_box .privacy_cont
     {width: 460px; height: 180px;
     overflow-y: scroll;
     margin: 0 auto;
     font-size: 14px; line-height: 25px;}
 
 
     /*버튼영역*/
     .privacy_box .privacy_btn
     {width: 100%; height: 30px;
     margin-top: 20px;}
 
     .privacy_box .privacy_btn a 
     {display: block;
     width: 100%; height: 30px;
     line-height: 30px; text-align: center;
     color: #333; font-weight: bold;}
}

@media all and (min-width: 1025px) and (max-width: 1240px)
{
    .header_mobile {display: none;}

    .header_ex
    {width: 100%; height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;}
    
    .header_ex .header_web
    {width: 95%;
    margin: 0 auto;
    overflow: hidden;}
    
    .header_web .logo_web
    {width: 168px; height: 40px;
    margin-top: 20px;
    float: left;}
    
    .logo_web .header_middle
    {width: calc(100% - 168px); height: 80px;
    float: left;}
    
    .header_middle .lnb
    {width: 500px; height: 80px;
    margin: 0 auto;}
    
    .lnb ul
    {overflow: hidden;}
    
    .lnb a li
    {width: 100px; height: 80px;
    float: left;
    line-height: 80px; text-align: center;
    position: relative;
    color: white;}
    
    .lnb a:nth-child(5) li
    {color: #f7ab00;}
    
    .lnb a li::before
    {content: "";
    height: 3px; width: 0;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    position: absolute;
    bottom: 0; left: 0;}
    
    .lnb a:hover li::before
    {width: 100%;
    background-color: #f7ab00;}

    .visual_banner
    {width: 100%; height: 450px;
    background-image: url(../img/visual_banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;}

    .visual_banner>div
    {overflow: hidden;}

    .visual_banner>div>div:nth-child(1)
    {width: 90px; height: 90px;
    float: left;
    margin-right: 10px;}

    .visual_banner>div>p:nth-child(2)
    {float: left;
    font-size: 90px; line-height: 90px;
    font-family: 'min_bold';
    color: #fff;}

    .inquire_box
    {width: 90%;
    margin: 100px auto;}

    .inquire_box .inquire_title
    {width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 32px; font-weight: 700;
    color: #535353;}

    .inquire_title span 
    {color: #f7ab00;}

    .inquire_box .check_box
    {width: 100%; height: 30px;
    margin: 50px auto;
    font-size: 18px; line-height: 30px;
    color: #535353;}

    #it_chk
    {outline: none;}

    #operate_chk, #travel_chk, #shopping_chk
    {margin-left: 10px;
    outline: none;}

    /**/
    .inquire_box .web_table
    {width: 100%;
    margin: 0 auto;
    font-size: 18px; color: #535353;
    margin-bottom: 100px;}

    .web_table tr td
    {border-bottom: 1px solid #ccc; box-sizing: border-box;}

    .web_table tr td:nth-child(1)
    {width: 120px; height: 80px;
    text-align: center; line-height: 80px;}

    .web_table tr td:nth-child(1) p span 
    {color: red;}

    .web_table tr td:nth-child(2)
    {width: calc(50% - 120px); height: 80px;}

    .web_table tr td:nth-child(3)
    {width: 120px; height: 80px;
    text-align: center; line-height: 80px;}

    .web_table tr td:nth-child(3) p span 
    {color: red;}

    .web_table tr td:nth-child(4)
    {width: calc(50% - 120px); height: 80px;}

    #company_web, #name_web, #call_web, #email_web, #site_web, #money_web
    {width: 100%; height: 50px;
    border: none; outline: none;
    text-indent: 5px; font-family: 'Pretendard'; font-size: 16px;
    color: #535353;}

    #file_web {display: none;}

    .web_table tr:nth-child(4) td:nth-child(2) div 
    {overflow: hidden;}

    .web_table tr:nth-child(4) td:nth-child(2) div label 
    {display: block;
    width: 100px; height: 40px;
    background-color: #f7ab00; border-radius: 5px; font-size: 16px;
    text-align: center; line-height: 40px; color: white;
    float: right;}

    #upload-name
    {width: calc(100% - 110px); height: 50px;
    font-size: 16px; line-height: 50px;
    border: none; outline: none;
    color: #535353;
    font-family: 'Pretendard';}

    #contents_web
    {width: 100%; height: 180px;
    margin-top: 10px; margin-bottom: 5px;
    font-size: 16px;
    border: none; outline: none; resize: none;
    color: #535353;
    font-family: 'Pretendard';}

    #company_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #name_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #call_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #email_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #site_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #money_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #contents_web::placeholder
    {color: #9d9d9d;
    font-size: 16px;
    font-family: 'Pretendard';}

    /**/
    .inquire_box .information
    {width: 90%;
    margin: 0 auto;}

    .information>div:nth-child(1)
    {width: 100%; height: 200px;
    overflow-y: scroll;
    line-height: 30px; color: #535353;
    margin-bottom: 20px;}

    .information>div:nth-child(1)>p>span 
    {font-weight: 600;}

    .information>div:nth-child(2)
    {width: 100%; height: 30px;
    line-height: 30px; text-align: right;}

    #agree_w_01 
    {margin-right: 5px;
    outline: none;}

    /**/
    .inquire_box .web_btn
    {width: 320px; height: 40px;
    margin: 0 auto;
    margin-top: 100px;}

    #web_submit
    {width: 320px; height: 40px;
    background-color: #f7ab00; color: white;
    text-align: center; line-height: 40px; font-size: 16px; 
    border: none; outline: none; border-radius: 5px;
    font-family: 'Pretendard';}

    .inquire_box .mobile_table
    {display: none;}

     /*footer*/
     .footer
     {width: 100%;
     background-color: #fff;}
     
     .footer .footer_line_01
     {width: 100%; height: 1px;
     background-color: #ccc;}
     
     /**/
     .footer .footer_top
     {width: 90%; height: 50px;
     margin: 0 auto;
     overflow: hidden;}
     
     .footer_top ul>a
     {display: inline-block;
     font-size: 16px; line-height: 50px;
     color: #888;
     font-weight: bold;}
     
     .footer_top ul>a:nth-child(1)
     {padding-right: 20px;}
     
     .footer_top ul>a:nth-child(3)
     {padding-right: 20px; padding-left: 20px;}
     
     .footer_top ul>a:nth-child(5)
     {padding-right: 20px; padding-left: 20px;
     color: #333;}
     
     .footer_top ul>li
     {display: inline-block;
     width: 1px; height: 10px;
     background-color: #ccc;}
     
     /**/
     .footer .footer_line_02
     {width: 100%; height: 1px;
     background-color: #ccc;}
     
     /**/
     .footer .footer_bottom
     {width: 95%;
     margin: 50px auto;
     overflow: hidden;}
     
     .footer_bottom .bottom_left
     {width: calc(100% - 228px);
     float: left;}
     
     /**/
     .bottom_left>p:nth-child(1)
     {font-size: 18px;
     color: #888; font-family: 'min_bold';
     margin-bottom: 20px;}
     
     .bottom_left>p:nth-child(2)
     {color: #888;
     line-height: 30px;}
     
     .bottom_left>p:nth-child(3)
     {color: #888;
     line-height: 30px;}
     
     .bottom_left>p:nth-child(4)
     {color: #888;
     line-height: 30px;
     margin-bottom: 20px;}
     
     .bottom_left>p:nth-child(5)
     {color: #888;}
     
     .bottom_left>p:nth-child(2)>span
     {color: #333;
     font-family: 'min_bold'; margin-right: 20px;}
     
     .bottom_left>p:nth-child(3)>span
     {color: #333;
     font-family: 'min_bold'; margin-right: 20px;}
     
     .bottom_left>p:nth-child(4)>span
     {color: #333;
     font-family: 'min_bold'; margin-right: 20px;}
     
     /**/
     .footer_bottom .bottom_right
     {width: 228px; height: 52px;
     float: right;
     margin-top: 60px;}
     
     /*popup_개인정보*/
    .privacy
    {position:fixed;
    top:0; left:0; z-index: 10000; 
    width: 100%; height: 100vh; 
    background-color: rgba(0, 0, 0, 0.4);}

    /*팝업 박스*/

    .privacy_box
    {position: relative;
    top:50%; left:50%; 
    width: 500px; height: 300px;
    border-radius: 25px;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    overflow: hidden;}

    .privacy_box .privacy_top_title
    {width: 100%; height: 40px;
    background-color: #f39600;
    margin-bottom: 20px;}

    .privacy_top_title>p
    {line-height: 40px;
    margin-left: 20px;
    color: white; font-weight: bold;}

    /*컨텐츠 영역*/
    .privacy_box .privacy_cont
    {width: 460px; height: 180px;
    overflow-y: scroll;
    margin: 0 auto;
    font-size: 14px; line-height: 25px;}


    /*버튼영역*/
    .privacy_box .privacy_btn
    {width: 100%; height: 30px;
    margin-top: 20px;}

    .privacy_box .privacy_btn a 
    {display: block;
    width: 100%; height: 30px;
    line-height: 30px; text-align: center;
    color: #333; font-weight: bold;}

}

@media all and (min-width: 1240px) and (max-width: 1439px)
{   
    .header_mobile {display: none;}

    .header_ex
    {width: 100%; height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;}
    
    .header_ex .header_web
    {width: 95%;
    margin: 0 auto;
    overflow: hidden;}
    
    .header_web .logo_web
    {width: 168px; height: 40px;
    margin-top: 20px;
    float: left;}
    
    .logo_web .header_middle
    {width: calc(100% - 168px); height: 80px;
    float: left;}
    
    .header_middle .lnb
    {width: 500px; height: 80px;
    margin: 0 auto;}
    
    .lnb ul
    {overflow: hidden;}
    
    .lnb a li
    {width: 100px; height: 80px;
    float: left;
    line-height: 80px; text-align: center;
    position: relative;
    color: white;}
    
    .lnb a:nth-child(5) li
    {color: #f7ab00;}
    
    .lnb a li::before
    {content: "";
    height: 3px; width: 0;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    position: absolute;
    bottom: 0; left: 0;}
    
    .lnb a:hover li::before
    {width: 100%;
    background-color: #f7ab00;}    

    .visual_banner
    {width: 100%; height: 450px;
    background-image: url(../img/visual_banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;}

    .visual_banner>div
    {overflow: hidden;}

    .visual_banner>div>div:nth-child(1)
    {width: 90px; height: 90px;
    float: left;
    margin-right: 10px;}

    .visual_banner>div>p:nth-child(2)
    {float: left;
    font-size: 90px; line-height: 90px;
    font-family: 'min_bold';
    color: #fff;}

    .inquire_box
    {width: 90%;
    margin: 100px auto;}

    .inquire_box .inquire_title
    {width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 32px; font-weight: 700;
    color: #535353;}

    .inquire_title span 
    {color: #f7ab00;}

    .inquire_box .check_box
    {width: 100%; height: 30px;
    margin: 50px auto;
    font-size: 18px; line-height: 30px;
    color: #535353;}

    #it_chk
    {outline: none;}

    #operate_chk, #travel_chk, #shopping_chk
    {margin-left: 10px;
    outline: none;}

    .inquire_box .mobile_table
    {display: none;}

    /**/
    .inquire_box .web_table
    {width: 100%;
    margin: 0 auto;
    font-size: 18px; color: #535353;
    margin-bottom: 100px;}

    .web_table tr td
    {border-bottom: 1px solid #ccc; box-sizing: border-box;}

    .web_table tr td:nth-child(1)
    {width: 120px; height: 80px;
    text-align: center; line-height: 80px;}

    .web_table tr td:nth-child(1) p span 
    {color: red;}

    .web_table tr td:nth-child(2)
    {width: calc(50% - 120px); height: 80px;}

    .web_table tr td:nth-child(3)
    {width: 120px; height: 80px;
    text-align: center; line-height: 80px;}

    .web_table tr td:nth-child(3) p span 
    {color: red;}

    .web_table tr td:nth-child(4)
    {width: calc(50% - 120px); height: 80px;}

    #company_web, #name_web, #call_web, #email_web, #site_web, #money_web
    {width: 100%; height: 50px;
    border: none; outline: none;
    text-indent: 5px; font-family: 'Pretendard'; font-size: 16px;
    color: #535353;}

    #file_web {display: none;}

    .web_table tr:nth-child(4) td:nth-child(2) div 
    {overflow: hidden;}

    .web_table tr:nth-child(4) td:nth-child(2) div label 
    {display: block;
    width: 100px; height: 40px;
    background-color: #f7ab00; border-radius: 5px; font-size: 16px;
    text-align: center; line-height: 40px; color: white;
    float: right;}

    #upload-name
    {width: calc(100% - 110px); height: 50px;
    font-size: 16px; line-height: 50px;
    border: none; outline: none;
    color: #535353;
    font-family: 'Pretendard';}

    #contents_web
    {width: 100%; height: 180px;
    margin-top: 10px; margin-bottom: 5px;
    font-size: 16px;
    border: none; outline: none; resize: none;
    color: #535353;
    font-family: 'Pretendard';}

    #company_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #name_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #call_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #email_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #site_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #money_web::placeholder
    {color: #9d9d9d;
    font-family: 'Pretendard';}

    #contents_web::placeholder
    {color: #9d9d9d;
    font-size: 16px;
    font-family: 'Pretendard';}

    /**/
    .inquire_box .information
    {width: 90%;
    margin: 0 auto;}

    .information>div:nth-child(1)
    {width: 100%; height: 200px;
    overflow-y: scroll;
    line-height: 30px; color: #535353;
    margin-bottom: 20px;}

    .information>div:nth-child(1)>p>span 
    {font-weight: 600;}

    .information>div:nth-child(2)
    {width: 100%; height: 30px;
    line-height: 30px; text-align: right;}

    #agree_w_01 
    {margin-right: 5px;
    outline: none;}

    /**/
    .inquire_box .web_btn
    {width: 320px; height: 40px;
    margin: 0 auto;
    margin-top: 100px;}

    #web_submit
    {width: 320px; height: 40px;
    background-color: #f7ab00; color: white;
    text-align: center; line-height: 40px; font-size: 16px; 
    border: none; outline: none; border-radius: 5px;
    font-family: 'Pretendard';}


    /*footer*/
    .footer
    {width: 100%;
    background-color: #fff;}

    .footer .footer_line_01
    {width: 100%; height: 1px;
    background-color: #ccc;}

    /**/
    .footer .footer_top
    {width: 90%; height: 50px;
    margin: 0 auto;
    overflow: hidden;}

    .footer_top ul>a
    {display: inline-block;
    font-size: 16px; line-height: 50px;
    color: #888;
    font-weight: bold;}

    .footer_top ul>a:nth-child(1)
    {padding-right: 20px;}

    .footer_top ul>a:nth-child(3)
    {padding-right: 20px; padding-left: 20px;}

    .footer_top ul>a:nth-child(5)
    {padding-right: 20px; padding-left: 20px;
    color: #333;}

    .footer_top ul>li
    {display: inline-block;
    width: 1px; height: 10px;
    background-color: #ccc;}

    /**/
    .footer .footer_line_02
    {width: 100%; height: 1px;
    background-color: #ccc;}

    /**/
    .footer .footer_bottom
    {width: 95%;
    margin: 50px auto;
    overflow: hidden;}

    .footer_bottom .bottom_left
    {width: calc(100% - 228px);
    float: left;}

    /**/
    .bottom_left>p:nth-child(1)
    {font-size: 18px;
    color: #888; font-family: 'min_bold';
    margin-bottom: 20px;}

    .bottom_left>p:nth-child(2)
    {color: #888;
    line-height: 30px;}

    .bottom_left>p:nth-child(3)
    {color: #888;
    line-height: 30px;}

    .bottom_left>p:nth-child(4)
    {color: #888;
    line-height: 30px;
    margin-bottom: 20px;}

    .bottom_left>p:nth-child(5)
    {color: #888;}

    .bottom_left>p:nth-child(2)>span
    {color: #333;
    font-family: 'min_bold'; margin-right: 20px;}

    .bottom_left>p:nth-child(3)>span
    {color: #333;
    font-family: 'min_bold'; margin-right: 20px;}

    .bottom_left>p:nth-child(4)>span
    {color: #333;
    font-family: 'min_bold'; margin-right: 20px;}

    /**/
    .footer_bottom .bottom_right
    {width: 228px; height: 52px;
    float: right;
    margin-top: 60px;}
    
    /*popup_개인정보*/
    .privacy
    {position:fixed;
    top:0; left:0; z-index: 10000; 
    width: 100%; height: 100vh; 
    background-color: rgba(0, 0, 0, 0.4);}

    /*팝업 박스*/

    .privacy_box
    {position: relative;
    top:50%; left:50%; 
    width: 500px; height: 300px;
    border-radius: 25px;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    overflow: hidden;}

    .privacy_box .privacy_top_title
    {width: 100%; height: 40px;
    background-color: #f39600;
    margin-bottom: 20px;}

    .privacy_top_title>p
    {line-height: 40px;
    margin-left: 20px;
    color: white; font-weight: bold;}

    /*컨텐츠 영역*/
    .privacy_box .privacy_cont
    {width: 460px; height: 180px;
    overflow-y: scroll;
    margin: 0 auto;
    font-size: 14px; line-height: 25px;}


    /*버튼영역*/
    .privacy_box .privacy_btn
    {width: 100%; height: 30px;
    margin-top: 20px;}

    .privacy_box .privacy_btn a 
    {display: block;
    width: 100%; height: 30px;
    line-height: 30px; text-align: center;
    color: #333; font-weight: bold;}

}




/*고해상도*/
@media all and (min-width: 1440px)
{

.header_mobile {display: none;}

.header_ex
{width: 100%; height: 80px;
background-color: rgba(0, 0, 0, 0.5);
border-bottom: 1px solid #fff;
box-sizing: border-box;
position: fixed;
top: 0; left: 0;
z-index: 9999;}

.header_ex .header_web
{width: 95%;
margin: 0 auto;
overflow: hidden;}

.header_web .logo_web
{width: 168px; height: 40px;
margin-top: 20px;
float: left;}

.logo_web .header_middle
{width: calc(100% - 168px); height: 80px;
float: left;}

.header_middle .lnb
{width: 500px; height: 80px;
margin: 0 auto;}

.lnb ul
{overflow: hidden;}

.lnb a li
{width: 100px; height: 80px;
float: left;
line-height: 80px; text-align: center;
position: relative;
color: white;}

.lnb a:nth-child(5) li
{color: #f7ab00;}

.lnb a li::before
{content: "";
height: 3px; width: 0;
background-color: #fff;
border-radius: 10px;
transition: 0.5s;
position: absolute;
bottom: 0; left: 0;}

.lnb a:hover li::before
{width: 100%;
background-color: #f7ab00;}

.visual_banner
{width: 100%; height: 550px;
background-image: url(../img/visual_banner.png);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;}

.visual_banner>div
{overflow: hidden;}

.visual_banner>div>div:nth-child(1)
{width: 90px; height: 90px;
float: left;
margin-right: 10px;}

.visual_banner>div>p:nth-child(2)
{float: left;
font-size: 90px; line-height: 90px;
font-family: 'min_bold';
color: #fff;}

.inquire_box
{width: 1420px;
margin: 100px auto;}

.inquire_box .inquire_title
{width: 100%;
margin: 0 auto;
 margin-bottom: 50px;
font-size: 32px; font-weight: 700;
color: #535353;}

.inquire_title span 
{color: #f7ab00;}

.inquire_box .check_box
{width: 100%; height: 30px;
margin: 50px auto;
font-size: 18px; line-height: 30px;
color: #535353;}

#it_chk
{outline: none;}

#operate_chk, #travel_chk, #shopping_chk
{margin-left: 10px;
outline: none;}

.inquire_box .mobile_table
{display: none;}

/**/
.inquire_box .web_table
{width: 100%;
margin: 0 auto;
font-size: 18px; color: #535353;
margin-bottom: 100px;}

.web_table tr td
{border-bottom: 1px solid #ccc; box-sizing: border-box;}

.web_table tr td:nth-child(1)
{width: 120px; height: 80px;
text-align: center; line-height: 80px;}

.web_table tr td:nth-child(1) p span 
{color: red;}

.web_table tr td:nth-child(2)
{width: calc(50% - 120px); height: 80px;}

.web_table tr td:nth-child(3)
{width: 120px; height: 80px;
text-align: center; line-height: 80px;}

.web_table tr td:nth-child(3) p span 
{color: red;}

.web_table tr td:nth-child(4)
{width: calc(50% - 120px); height: 80px;}

#company_web, #name_web, #call_web, #email_web, #site_web, #money_web
{width: 100%; height: 50px;
border: none; outline: none;
text-indent: 5px; font-family: 'Pretendard'; font-size: 16px;
color: #535353;}

#file_web {display: none;}

.web_table tr:nth-child(4) td:nth-child(2) div 
{overflow: hidden;}

.web_table tr:nth-child(4) td:nth-child(2) div label 
{display: block;
width: 100px; height: 40px;
background-color: #f7ab00; border-radius: 5px; font-size: 16px;
text-align: center; line-height: 40px; color: white;
float: right;}

#upload-name
{width: calc(100% - 110px); height: 50px;
font-size: 16px; line-height: 50px;
border: none; outline: none;
color: #535353;
font-family: 'Pretendard';}

#contents_web
{width: 100%; height: 180px;
margin-top: 10px; margin-bottom: 5px;
font-size: 16px;
border: none; outline: none; resize: none;
color: #535353;
font-family: 'Pretendard';}

#company_web::placeholder
{color: #9d9d9d;
font-family: 'Pretendard';}

#name_web::placeholder
{color: #9d9d9d;
font-family: 'Pretendard';}

#call_web::placeholder
{color: #9d9d9d;
font-family: 'Pretendard';}

#email_web::placeholder
{color: #9d9d9d;
font-family: 'Pretendard';}

#site_web::placeholder
{color: #9d9d9d;
font-family: 'Pretendard';}

#money_web::placeholder
{color: #9d9d9d;
font-family: 'Pretendard';}

#contents_web::placeholder
{color: #9d9d9d;
font-size: 16px;
font-family: 'Pretendard';
line-height: 180px;}

/**/
.inquire_box .information
{width: 1320px;
margin: 0 auto;}

.information>div:nth-child(1)
{width: 100%; height: 200px;
overflow-y: scroll;
line-height: 30px; color: #535353;
margin-bottom: 20px;}

.information>div:nth-child(1)>p>span 
{font-weight: 600;}

.information>div:nth-child(2)
{width: 100%; height: 30px;
line-height: 30px; text-align: right;}

#agree_w_01 
{margin-right: 5px;
outline: none;}

/**/
.inquire_box .web_btn
{width: 320px; height: 40px;
margin: 0 auto;
margin-top: 100px;}

#web_submit
{width: 320px; height: 40px;
background-color: #f7ab00; color: white;
text-align: center; line-height: 40px; font-size: 16px; 
border: none; outline: none; border-radius: 5px;
font-family: 'Pretendard';}

/*footer*/
.footer
{width: 100%;
background-color: #fff;}

.footer .footer_line_01
{width: 100%; height: 1px;
background-color: #ccc;}

/**/
.footer .footer_top
{width: 1420px; height: 50px;
margin: 0 auto;
overflow: hidden;}

.footer_top ul>a
{display: inline-block;
font-size: 16px; line-height: 50px;
color: #888;
font-weight: bold;}

.footer_top ul>a:nth-child(1)
{padding-right: 20px;}

.footer_top ul>a:nth-child(3)
{padding-right: 20px; padding-left: 20px;}

.footer_top ul>a:nth-child(5)
{padding-right: 20px; padding-left: 20px;
color: #333;}

.footer_top ul>li
{display: inline-block;
width: 1px; height: 10px;
background-color: #ccc;}

/**/
.footer .footer_line_02
{width: 100%; height: 1px;
background-color: #ccc;}

/**/
.footer .footer_bottom
{width: 1420px;
margin: 50px auto;
overflow: hidden;}

.footer_bottom .bottom_left
{width: calc(100% - 228px);
float: left;}

/**/
.bottom_left>p:nth-child(1)
{font-size: 18px;
color: #888; font-family: 'min_bold';
margin-bottom: 20px;}

.bottom_left>p:nth-child(2)
{color: #888;
line-height: 30px;}

.bottom_left>p:nth-child(3)
{color: #888;
line-height: 30px;}

.bottom_left>p:nth-child(4)
{color: #888;
line-height: 30px;
margin-bottom: 20px;}

.bottom_left>p:nth-child(5)
{color: #888;}

.bottom_left>p:nth-child(2)>span
{color: #333;
font-family: 'min_bold'; margin-right: 20px;}

.bottom_left>p:nth-child(3)>span
{color: #333;
font-family: 'min_bold'; margin-right: 20px;}

.bottom_left>p:nth-child(4)>span
{color: #333;
font-family: 'min_bold'; margin-right: 20px;}

/**/
.footer_bottom .bottom_right
{width: 228px; height: 52px;
float: right;
margin-top: 60px;}

 /*popup_개인정보*/
 .privacy
 {position:fixed;
 top:0; left:0; z-index: 10000; 
 width: 100%; height: 100vh; 
 background-color: rgba(0, 0, 0, 0.4);}

 /*팝업 박스*/

 .privacy_box
 {position: relative;
 top:50%; left:50%; 
 width: 500px; height: 300px;
 border-radius: 25px;
 transform:translate(-50%, -50%);
 z-index:1002;
 box-sizing:border-box;
 background:#fff;
 overflow: hidden;}

 .privacy_box .privacy_top_title
 {width: 100%; height: 40px;
 background-color: #f39600;
 margin-bottom: 20px;}

 .privacy_top_title>p
 {line-height: 40px;
 margin-left: 20px;
 color: white; font-weight: bold;}

 /*컨텐츠 영역*/
 .privacy_box .privacy_cont
 {width: 460px; height: 180px;
 overflow-y: scroll;
 margin: 0 auto;
 font-size: 14px; line-height: 25px;}


 /*버튼영역*/
 .privacy_box .privacy_btn
 {width: 100%; height: 30px;
 margin-top: 20px;}

 .privacy_box .privacy_btn a 
 {display: block;
 width: 100%; height: 30px;
 line-height: 30px; text-align: center;
 color: #333; font-weight: bold;}

}