* {margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
}

body {font-family: SpoqaHanSansNeo;}


.mobile
{width: 100%; height: 100vh;
overflow: hidden;
overflow-y: scroll;}

.withdrawal_m_top
{width: 95%; height: 40px;
margin: 0 auto;}

.withdrawal_m_top a:nth-child(1)
{width: 30px; height: 30px;
text-align: center; line-height: 30px; font-size: 18px;
margin-top: 5px; margin-right: 5px;
color: #0d75bc;
float: left;}

.withdrawal_m_top>p:nth-child(2)
{font-weight: bold; line-height: 40px;
float: left;}

.withdrawal_m_top a:nth-child(3)
{width: 30px; height: 30px;
margin-top: 5px; margin-right: 5px;
float: right;}

.withdrawal_m_top a:nth-child(3) img 
{width: 100%; height: 100%;}

.withdrawal_m_line01
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 10px;}


.agree_m_01
{width: 95%;
margin: 0 auto;
margin-bottom: 10px;}

.agree_m_01>p:nth-child(1)
{text-align: center;
font-size: 12px; font-weight: bold; line-height: 20px;
margin-bottom: 5px;}

.agree_m_01 .agree_txt_m_01
{width: 100%;
border-top: 2px solid #f49800;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 10px;}

.agree_txt_m_01 div
{width: 95%;
margin: 0 auto;
padding-top: 5px;
padding-bottom: 5px;}

.agree_txt_m_01 div p
{font-size: 12px; line-height: 20px;
margin-bottom: 5px;}

.agree_m_01 .agree_chk_m
{width: 100%; height: 40px;
margin-top: 5px; text-align: justify;
overflow: hidden;}

.agree_chk_m p
{width: calc(100% - 12px - 2px);
font-size: 12px; line-height: 20px;
float: left;
font-weight: bold;}

#agree_chk_m
{width: 12px; height: 12px;
margin-top: 4px; margin-right: 2px;
float: left;}

.id_m
{width: 95%;
margin: 0 auto;
background-color: #f3f3f3;
margin-bottom: 10px;}

.id_m p
{width: 95%; margin: 0 auto;
margin: 0 auto;
padding-top: 10px;
padding-bottom: 10px;
font-size: 12px; line-height: 20px; text-align: justify;}

.id_m span
{font-weight: bold;
text-decoration: underline;}

.id_chk_m
{width: 95%; height: 30px;
margin: 0 auto;
overflow: hidden;}

.id_chk_m p:nth-child(1)
{width: 29%; height: 30px;
font-size: 12px; line-height: 30px;
margin-right: 1%;
float: left;}

.id_chk_m p:nth-child(2)
{width: 70%; height: 30px;
font-size: 12px; line-height: 30px;
text-indent: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

.pw_chk_m
{width: 95%; height: 30px;
margin: 0 auto;
overflow: hidden;
margin-top: 5px;
margin-bottom: 20px;}

.pw_chk_m p:nth-child(1)
{width: 29%; height: 30px;
font-size: 12px; line-height: 30px;
margin-right: 1%;
float: left;}

#pw_chk_m_typ
{width: 70%; height: 30px;
font-size: 12px; line-height: 30px;
text-indent: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

#withdrawal_mobile_btn
{width: 95%; height: 40px;
border-radius: 5px;
background-color: red;
color: white; font-size: 14px;
font-family: SpoqaHanSansNeo;
margin-left: 2.5%;
border: none;}
