* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body {font-family: 'Pretendard'; line-height: 16px;}

p {margin-bottom: 0;}

ul {margin: 0; padding: 0;}

input:not([type]), input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea
{box-shadow: none;
background-color: #fff;
padding: 0;
margin-bottom: 0;
outline: none;}

input[type="checkbox"]
{margin-bottom: 0;}

input[type="checkbox"]+label, input[type="radio"]+label 
{margin: 0;}

button {margin-bottom: 0;}

/*클리어픽스*/
.clearfix:before, .clearfix:after 
{display: block;
content: '';
line-height: 0;}

.clearfix:after 
{clear:both;}

.clearfix 
{*zoom: 1;}



@media all and (min-width: 1420px)
{   
    /*비주얼*/
    div.visual_web
    {width: 100%;}

    div.visual_banner_web
    {width: 100%;
    position: relative;}
    
    /*버튼 제어*/
    div.visual_banner_web .owl-dots
    {width: fit-content !important;
    margin: 0 auto !important;
    margin-top: 0 !important;
    position: absolute;
    bottom: 5px; left: 50%;}

    div.visual_banner_web .owl-dots span
    {background-color: #fff !important;
    opacity: 0.5 !important;}

    div.visual_banner_web .active span
    {background-color: #fff !important;
    opacity: 1 !important;}

    /*비주얼 이미지 제어*/
    a.visual_product
    {width: 100%; height: 0;
    padding-bottom: 52.41%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: block;}

    a.visual_product img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}


    /*허니문 상품*/
    div.honeymoon_product_01_ex
    {width: 1400px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    overflow: hidden;}

    #title_menu_chk_01, #title_menu_chk_02, #title_menu_chk_03, #title_menu_chk_04
    {display: none;}

    /*타이틀, 라벨*/
    div.honeymoon_check_menu_ex
    {width: 312.5px;
    margin-right: 50px;}
    
    /*타이틀*/
    div.honeymoon_check_title_ex
    {width: 100%;
    margin-bottom: 50px;}

    div.honeymoon_check_title_ex>div:nth-child(1)
    {width: 100%;
    margin-bottom: 5px;
    overflow: hidden;}

    div.honeymoon_check_title_ex>div:nth-child(1)>p:nth-child(1)
    {width: fit-content;
    float: left;
    line-height: 20px; color: #555;
    margin-right: 5px;}

    div.honeymoon_check_title_ex>div:nth-child(1)>div:nth-child(2)
    {width: 60px; height: 1px;
    background-color: #222;
    margin-top: 9.5px;
    float: left;}

    div.honeymoon_check_title_ex>p:nth-child(2)
    {width: 100%;
    font-size: 32px; line-height: 35px;
    color: #222; font-family: bold;}

    /*라벨*/
    div.honeymoon_check_label_ex
    {width: 100%;}

    div.honeymoon_check_label_ex>label
    {width: fit-content; height: 40px;
    padding-left: 15px; padding-right: 15px;
    border-radius: 20px;
    display: block;
    border: 1px solid #fd6f6f; box-sizing: border-box;
    margin-bottom: 10px;
    transition: all 0.5s;}

    div.honeymoon_check_label_ex>label>p
    {text-align: center;
    font-size: 15px;
    line-height: 40px; color: #fd6f6f;
    transition: all 0.5s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_check_label_ex>label:last-child
    {margin-bottom: 0;}

    .label_background_color
    {background-color: #fd6f6f;
    border: none;}

    /*상품*/
    div.honeymoon_check_product_ex
    {width: calc(100% - 362.5px);}

    div.honeymoon_content_box
    {width: 100%;}

    a.honeymoon_content
    {width: 100%;
    display: block;}

    div.honeymoon_content_img_box
    {width: 100%; height: 0;
    padding-bottom: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;}

    div.honeymoon_content_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honeymoon_content:hover .honeymoon_content_img_box img
    {transform: scale(1.05);}

    div.honeymoon_content_txt_box
    {width: 100%;}

    div.honeymoon_content_txt_box>p
    {width: 100%;
    font-size: 17px; font-family: 'min_bold'; color: #222;
    line-height: 25px;
    transition: all 0.5s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    a.honeymoon_content:hover .honeymoon_content_txt_box>p
    {color: #fd6f6f;}

    /*이벤트 베너*/
    div.event_banner_ex
    {width: 1400px;
    margin: 100px auto;
    overflow: hidden;}

    div.event_banner_ex>a
    {width: calc(50% - 50px); height: 0;
    display: block;
    padding-bottom: 12.2%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    float: left;}

    div.event_banner_ex>a img
    {width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    div.event_banner_ex>a:nth-child(1)
    {margin-right: 50px;}

    div.event_banner_ex>a:hover img
    {transform: scale(1.05);}

    /*허니문 상품 02*/
    div.honeymoon_product_02_ex
    {width: 100%;
    margin-top: 100px; margin-bottom: 100px;
    overflow: hidden;}

    a.honeymoon_product_02_box
    {width: 100%; height: 0;
    padding-bottom: 138%;
    display: block;
    position: relative;
    overflow: hidden;}

    a.honeymoon_product_02_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}
    
    /*마우스호버*/
    div.honeymoon_hover
    {width: 100%; height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;}

    a.honeymoon_product_02_box:hover .honeymoon_hover
    {background-color: transparent;}

    div.honeymoon_hover>div
    {width: 85%;
    margin: 0 auto;}

    div.honeymoon_hover>div>p
    {color: #fff;
    word-break: keep-all;
    text-align: center;
    opacity: 0.4;
    transition: all 0.5s;}

    a.honeymoon_product_02_box:hover .honeymoon_hover>div>p
    {opacity: 1;}

    div.honeymoon_hover>div>p:nth-child(1)
    {width: 100%;
    line-height: 20px;
    margin-bottom: 5px;}

    div.honeymoon_hover>div>p:nth-child(2)
    {width: 100%;
    font-size: 22px; font-family: bold; line-height: 28px;
    margin-bottom: 15px;}

    div.honeymoon_hover>div>p:nth-child(3)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    margin-bottom: 30px;}

    div.honeymoon_hover>div>p:nth-child(4)
    {width: 80px; height: 30px;
    margin: 0 auto;
    border: 1px solid #ccc; box-sizing: border-box;
    line-height: 30px;
    font-size: 15px;
    transition: all 0.3s;}

    div.honeymoon_hover>div>p:nth-child(4):hover
    {background-color: #fff;
    border: none;
    color: #222;}

    /*세일 쿠폰*/
    div.sale_coupon_ex
    {width: 100%;
    margin-top: 100px; margin-bottom: 100px;}

    /*할인 쿠폰 타이틀*/
    div.sale_coupon_title_box
    {width: 1400px;
    margin: 0 auto;
    margin-bottom: 50px;}

    div.sale_coupon_title_box>p
    {text-align: center;}

    div.sale_coupon_title_box>p:nth-child(1)
    {color: #555; line-height: 20px;
    margin-bottom: 5px;}

    div.sale_coupon_title_box>p:nth-child(2)
    {width: 100%;
    font-size: 32px; font-family: bold; color: #222; line-height: 35px;}

    /*세일쿠폰 이미지*/
    div.coupon_content_box
    {width: 1400px;
    margin: 0 auto;
    margin-bottom: 50px;}

    a.couporn_content
    {width: 100%; height: 0;
    display: block;
    padding-bottom: 41.86%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;}

    a.couporn_content img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*할인쿠폰 메뉴 이동*/
    a.more_couporn_box
    {display: block;
    width: 220px; height: 40px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #222; box-sizing: border-box;
    transition: all 0.3s;}

    a.more_couporn_box>p
    {text-align: center;
    font-size: 15px; color: #222; line-height: 40px;
    transition: all 0.3s;}

    a.more_couporn_box:hover
    {background-color: #fd6f6f;
    border: none;}

    a.more_couporn_box:hover>p
    {color: #fff;}
 
    /*허니문 리뷰*/
    div.honey_moon_review_ex
    {width: 100%;
    padding-top: 100px; padding-bottom: 100px;
    margin-top: 100px; margin-bottom: 100px;
    background-color: #fef9ec;}
    
    div.honey_moon_review_box
    {width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;}
    
    /*글 박스*/
    div.honey_moon_review_txt
    {width: 675px;
    margin-right: 50px;}

    /*타이틀*/
    div.honey_moon_review_title
    {width: 100%;
    margin-bottom: 50px;}

    div.honey_moon_review_title>p:nth-child(1)
    {width: 100%;
    line-height: 20px; color: #555;
    margin-bottom: 5px;}

    div.honey_moon_review_title>p:nth-child(2)
    {width: 100%;
    font-size: 32px; font-family: bold; color: #222; line-height: 35px;}

    /*디테일 글*/
    div.honey_moon_review_detaile_ex
    {width: 100%;
    margin-bottom: 50px;}

    a.honey_moon_review_detaile_box
    {width: 100%;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ccc; box-sizing: border-box;}

    a.honey_moon_review_detaile_box:last-child
    {border-bottom: none;}

    a.honey_moon_review_detaile_box>p
    {transition: all 0.3s;}

    a.honey_moon_review_detaile_box>p:nth-child(1)
    {width: calc(100% - 110px);
    margin-right: 10px;
    float: left;
    font-size: 15px;
    color: #333;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    a.honey_moon_review_detaile_box>p:nth-child(2)
    {width: 100px;
    float: right;
    font-size: 15px;
    color: #333;
    text-align: right; line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    a.honey_moon_review_detaile_box:hover>p
    {color: #fd6f6f;}

    /*더 알아보기*/
    a.honey_moon_review_more
    {width: 190px; height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #222; box-sizing: border-box;
    transition: all 0.3s;}

    a.honey_moon_review_more>p
    {width: 100%;
    text-align: center; font-size: 15px; color: #222;
    line-height: 40px;
    transition: all 0.3s;}

    a.honey_moon_review_more:hover
    {border: none;
    background-color: #fd6f6f;}

    a.honey_moon_review_more:hover>p 
    {color: #fff;}
    
    /*이미지*/
    div.honey_moon_icon_box
    {width: 675px;}

    div.honey_moon_icon_box img
    {width: 100%; height: auto;}


    /*회사소개 - 밑에*/
    div.company_bottom_ex
    {width: 100%;
    border-top: 1px solid #ccc; box-sizing: border-box;
    padding-top: 30px;
    margin-top: 100px; margin-bottom: 150px;}

    div.company_bottom_box
    {width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;}

    div.company_bottom_box>div
    {width: fit-content;
    margin-right: 200px;}

    div.company_bottom_box>div:last-child
    {margin-right: 0;}

    /*타이틀*/
    div.call_company_title
    {width: 100%;
    margin-bottom: 30px;}

    div.call_company_title>p:nth-child(1)
    {width: 100%;
    color: #555; line-height: 20px;
    margin-bottom: 5px;}

    div.call_company_title>p:nth-child(2)
    {width: 100%;
    font-size: 32px; font-family: bold; color: #222;
    line-height: 35px;}

    /*운영시간*/
    div.call_company_txt_box
    {width: 100%;
    margin-bottom: 30px;}

    div.call_company_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 17px; line-height: 20px;
    color: #333;
    margin-bottom: 5px;}

    div.call_company_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 28px; line-height: 30px;
    color: #333; font-family: bold;
    margin-bottom: 15px;}

    div.call_company_txt_box>p:nth-child(3)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #666;}
    
    /*a.href_consulting
    {width: fit-content;
    display: block;}

    a.href_consulting>p
    {font-family: 'min_bold';
    line-height: 20px; font-size: 18px; color: #222;
    transition: all 0.5s;}

    a.href_consulting:hover>p
    {color: #fd6f6f;}*/


    /*이메일 문의*/
    div.emaile_company_box>p:nth-child(1)
    {width: 100%;
    font-size: 28px; line-height: 30px;
    color: #333;
    font-family: 'min_bold';
    margin-bottom: 25px;}

    div.emaile_company_box>p:nth-child(2)
    {width: 100%;
    font-size: 28px; line-height: 30px;
    color: #333; font-family: bold;
    margin-bottom: 15px;}

    div.emaile_company_box>p:nth-child(3)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #666;}

    /*입금계좌*/
    div.account_company_box>p:nth-child(1)
    {width: 100%;
    font-size: 28px; line-height: 30px;
    color: #333;
    font-family: 'min_bold';
    margin-bottom: 25px;}

    div.account_txt_box
    {width: 100%;
    margin-bottom: 15px;}

    div.account_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 28px; line-height: 30px;
    color: #333; font-family: bold;
    margin-bottom: 5px;}

    div.account_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 28px; line-height: 30px;
    color: #333; font-family: bold;}

    div.account_company_box>p:nth-child(3)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #666;}

}


@media all and (min-width: 769px) and (max-width : 1419px)
{
    /*비주얼*/
    div.visual_web
    {width: 100%;}

    div.visual_banner_web
    {width: 100%;
    position: relative;}
    
    /*버튼 제어*/
    div.visual_banner_web .owl-dots
    {width: fit-content !important;
    margin: 0 auto !important;
    margin-top: 0 !important;
    position: absolute;
    bottom: 5px; left: 50%;}

    div.visual_banner_web .owl-dots span
    {background-color: #fff !important;
    opacity: 0.5 !important;}

    div.visual_banner_web .active span
    {background-color: #fff !important;
    opacity: 1 !important;}

    /*비주얼 이미지 제어*/
    a.visual_product
    {width: 100%; height: 0;
    padding-bottom: 52.41%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: block;}

    a.visual_product img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*허니문 상품 01*/
    div.honeymoon_product_01_ex
    {width: 90%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    overflow: hidden;}

    #title_menu_chk_01, #title_menu_chk_02, #title_menu_chk_03, #title_menu_chk_04
    {display: none;}

    /*타이틀, 라벨*/
    div.honeymoon_check_menu_ex
    {width: 23%;
    margin-right: 2%;}

    /*허니문 타이틀*/
    div.honeymoon_check_title_ex
    {width: 100%;
    margin-bottom: 50px;}

    div.honeymoon_check_title_ex>div:nth-child(1)
    {width: 100%;
    margin-bottom: 5px;}

    div.honeymoon_check_title_ex>div:nth-child(1)>p:nth-child(1)
    {width: fit-content;
    line-height: 20px; color: #555;}

    div.honeymoon_check_title_ex>p:nth-child(2)
    {width: 100%;
    font-size: 32px; font-family: bold; color: #222; line-height: 35px;}

    /*라벨*/
    div.honeymoon_check_label_ex
    {width: 100%;}

    div.honeymoon_check_label_ex>label
    {width: fit-content; height: 40px;
    padding-left: 15px; padding-right: 15px;
    border-radius: 20px;
    display: block;
    border: 1px solid #fd6f6f; box-sizing: border-box;
    margin-bottom: 10px;
    transition: all 0.5s;}

    div.honeymoon_check_label_ex>label>p
    {text-align: center;
    font-size: 15px;
    line-height: 40px; color: #fd6f6f;
    transition: all 0.5s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_check_label_ex>label:last-child
    {margin-bottom: 0;}

    .label_background_color
    {background-color: #fd6f6f;
    border: none;}

    /*상품*/
    div.honeymoon_check_product_ex
    {width: 75%;}

    div.honeymoon_content_box
    {width: 100%;}

    a.honeymoon_content
    {width: 100%;
    display: block;}

    div.honeymoon_content_img_box
    {width: 100%; height: 0;
    padding-bottom: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;}

    div.honeymoon_content_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    a.honeymoon_content:hover .honeymoon_content_img_box img
    {transform: scale(1.05);}

    div.honeymoon_content_txt_box
    {width: 100%;}

    div.honeymoon_content_txt_box>p
    {width: 100%; height: 50px;
    font-size: 17px; font-family: 'min_bold'; color: #222;
    line-height: 25px;
    transition: all 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;}

    a.honeymoon_content:hover .honeymoon_content_txt_box>p
    {color: #fd6f6f;}


    /*베너*/
    div.event_banner_ex
    {width: 90%;
    margin: 100px auto;
    overflow: hidden;}

    div.event_banner_ex>a
    {width: 49%; height: 0;
    display: block;
    padding-bottom: 12.2%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    float: left;}

    div.event_banner_ex>a img
    {width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.5s;}

    div.event_banner_ex>a:nth-child(1)
    {margin-right: 2%;}

    div.event_banner_ex>a:hover img
    {transform: scale(1.05);}


    /*허니문 상품 02*/
    div.honeymoon_product_02_ex
    {width: 100%;
    margin-top: 100px; margin-bottom: 100px;
    overflow: hidden;}

    a.honeymoon_product_02_box
    {width: 100%; height: 0;
    padding-bottom: 138%;
    display: block;
    position: relative;
    overflow: hidden;}

    a.honeymoon_product_02_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}
    
    /*마우스호버*/
    div.honeymoon_hover
    {width: 100%; height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;}

    a.honeymoon_product_02_box:hover .honeymoon_hover
    {background-color: transparent;}

    div.honeymoon_hover>div
    {width: 90%;
    margin: 0 auto;}

    div.honeymoon_hover>div>p
    {color: #fff;
    word-break: keep-all;
    text-align: center;
    opacity: 0.4;
    transition: all 0.5s;}

    a.honeymoon_product_02_box:hover .honeymoon_hover>div>p
    {opacity: 1;}

    div.honeymoon_hover>div>p:nth-child(1)
    {width: 100%;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 5px;}

    div.honeymoon_hover>div>p:nth-child(2)
    {width: 100%;
    font-size: 22px; font-family: bold; line-height: 25px;
    margin-bottom: 15px;}

    div.honeymoon_hover>div>p:nth-child(3)
    {width: 100%;
    font-size: 14px; line-height: 20px;
    margin-bottom: 30px;}

    div.honeymoon_hover>div>p:nth-child(4)
    {width: 80px; height: 30px;
    margin: 0 auto;
    border: 1px solid #ccc; box-sizing: border-box;
    line-height: 30px;
    font-size: 15px;
    transition: all 0.3s;}

    div.honeymoon_hover>div>p:nth-child(4):hover
    {background-color: #fff;
    border: none;
    color: #222;}


    /*세일 쿠폰*/
    div.sale_coupon_ex
    {width: 100%;
    margin-top: 100px; margin-bottom: 100px;}

    /*할인 쿠폰 타이틀*/
    div.sale_coupon_title_box
    {width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;}

    div.sale_coupon_title_box>p
    {text-align: center;}

    div.sale_coupon_title_box>p:nth-child(1)
    {color: #555; line-height: 20px;
    margin-bottom: 5px;}

    div.sale_coupon_title_box>p:nth-child(2)
    {width: 100%;
    font-size: 32px; font-family: bold; color: #222; line-height: 35px;}

    /*세일쿠폰 이미지*/
    div.coupon_content_box
    {width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;}

    a.couporn_content
    {width: 100%; height: 0;
    display: block;
    padding-bottom: 41.86%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;}

    a.couporn_content img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*할인쿠폰 메뉴 이동*/
    a.more_couporn_box
    {display: block;
    width: 220px; height: 40px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #222; box-sizing: border-box;
    transition: all 0.3s;}

    a.more_couporn_box>p
    {text-align: center;
    font-size: 15px; color: #222; line-height: 40px;
    transition: all 0.3s;}

    a.more_couporn_box:hover
    {background-color: #fd6f6f;
    border: none;}

    a.more_couporn_box:hover>p
    {color: #fff;}
    

    /*허니문 후기*/
    div.honey_moon_review_ex
    {width: 100%;
    background-color: #fef9ec;
    margin-top: 100px; margin-bottom: 100px;
    padding-top: 70px; padding-bottom: 70px;}

    div.honey_moon_review_box
    {width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;}
    
    /*허니문 글*/
    div.honey_moon_review_txt
    {width: 49%;
    margin-right: 2%;}

    /*타이틀*/
    div.honey_moon_review_title
    {width: 100%;
    margin-bottom: 50px;}

    div.honey_moon_review_title>p:nth-child(1)
    {width: 100%;
    line-height: 20px; color: #555;
    margin-bottom: 5px;}

    div.honey_moon_review_title>p:nth-child(2)
    {width: 100%;
    font-size: 32px; font-family: bold; color: #222; line-height: 35px;}

    /*디테일 글*/
    div.honey_moon_review_detaile_ex
    {width: 100%;
    margin-bottom: 50px;}

    a.honey_moon_review_detaile_box
    {width: 100%;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ccc; box-sizing: border-box;}

    a.honey_moon_review_detaile_box:last-child
    {border-bottom: none;}

    a.honey_moon_review_detaile_box>p
    {transition: all 0.3s;}

    a.honey_moon_review_detaile_box>p:nth-child(1)
    {width: calc(100% - 110px);
    margin-right: 10px;
    float: left;
    font-size: 15px;
    color: #333;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    a.honey_moon_review_detaile_box>p:nth-child(2)
    {width: 100px;
    float: right;
    font-size: 15px;
    color: #333;
    text-align: right; line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    a.honey_moon_review_detaile_box:hover>p
    {color: #fd6f6f;}

    /*더 알아보기*/
    a.honey_moon_review_more
    {width: 190px; height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #222; box-sizing: border-box;
    transition: all 0.3s;}

    a.honey_moon_review_more>p
    {width: 100%;
    text-align: center; font-size: 15px; color: #222;
    line-height: 40px;
    transition: all 0.3s;}

    a.honey_moon_review_more:hover
    {border: none;
    background-color: #fd6f6f;}

    a.honey_moon_review_more:hover>p 
    {color: #fff;}
    
    /*허니문 이미지*/
    div.honey_moon_icon_box
    {width: 49%;}

    div.honey_moon_icon_box img
    {width: 100%; height: auto;}


    /*허니문 회사 관련*/
    div.company_bottom_ex
    {width: 100%;
    margin-top: 100px; margin-bottom: 150px;
    padding-top: 30px;
    border-top: 1px solid #ccc; box-sizing: border-box;}

    div.company_bottom_box
    {width: fit-content;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;}

    div.company_bottom_box>div
    {width: fit-content;
    margin-right: 100px;}

    div.company_bottom_box>div:last-child
    {margin-right: 0;}

    /*타이틀*/
    div.call_company_title
    {width: 100%;
    margin-bottom: 20px;}

    div.call_company_title>p:nth-child(1)
    {width: 100%;
    color: #555; line-height: 20px;
    margin-bottom: 5px;}

    div.call_company_title>p:nth-child(2)
    {width: 100%;
    color: #222; font-size: 28px; line-height: 30px;
    font-family: bold;}

    /*영업 시간*/
    div.call_company_txt_box
    {width: 100%;
    margin-bottom: 20px;}

    div.call_company_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 18px; font-family: 'min_bold';
    color: #333; line-height: 20px;
    margin-bottom: 5px;}

    div.call_company_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 28px; line-height: 30px;
    color: #333; font-family: bold;
    margin-bottom: 10px;}

    div.call_company_txt_box>p:nth-child(3)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #555;}

    /*a.href_consulting
    {width: fit-content;
    display: block;}

    a.href_consulting>p
    {font-size: 17px; line-height: 20px;
    font-family: 'min_bold'; color: #222;
    transition: all 0.5s;}

    a.href_consulting:hover>p
    {color: #fd6f6f;}*/

    /*이메일 문의*/
    div.emaile_company_box>p:nth-child(1)
    {width: 100%;
    font-size: 24px; line-height: 25px;
    color: #333; font-family: 'min_bold';
    margin-bottom: 20px;}

    div.emaile_company_box>p:nth-child(2)
    {width: 100%;
    font-size: 24px; line-height: 25px;
    color: #333; font-family: bold;
    margin-bottom: 20px;}

    div.emaile_company_box>p:nth-child(3)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #555;}

    /*계좌 문의*/
    div.account_company_box>p:nth-child(1)
    {width: 100%;
    font-size: 24px; line-height: 25px;
    color: #333; font-family: 'min_bold';
    margin-bottom: 20px;}

    div.account_txt_box
    {width: 100%;
    margin-bottom: 20px;}

    div.account_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 24px; line-height: 28px;
    color: #333; font-family: bold;
    margin-bottom: 10px;}

    div.account_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 24px; line-height: 28px;
    color: #333; font-family: bold;}

    div.account_company_box>p:nth-child(3)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #555;}

 
}


@media all and (min-width: 769px) and (max-width : 1024px)
{   
    /*비주얼*/
    div.visual_web
    {width: 100%;
    margin-top: 70px;}

    /*허니문 상품 01*/
    div.honeymoon_product_01_ex
    {width: 90%;
    margin: 100px auto;
    display: inherit;
    overflow: hidden;}

    #title_menu_chk_01, #title_menu_chk_02, #title_menu_chk_03, #title_menu_chk_04
    {display: none;}

    /*타이틀, 라벨*/
    div.honeymoon_check_menu_ex
    {width: 100%;
    margin-bottom: 30px;}

    /*허니문 타이틀*/
    div.honeymoon_check_title_ex>div:nth-child(1)>p:nth-child(1)
    {width: 100%;
    line-height: 20px; color: #555;
    text-align: center;}

    div.honeymoon_check_title_ex>p:nth-child(2)
    {width: 100%;
    font-size: 32px; font-family: bold; color: #222; line-height: 35px;
    text-align: center;}

    /*라벨*/
    div.honeymoon_check_label_ex
    {width: 100%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    border: 1px solid #fd6f6f; box-sizing: border-box;
    border-radius: 5px;}

    div.honeymoon_check_label_ex>label
    {width: 25%; height: 40px;
    padding: 0;
    border-radius: 0;
    display: block;
    border: none;
    border-right: 1px solid #fd6f6f; box-sizing: border-box;
    margin-bottom: 0;
    transition: all 0.5s;}

    div.honeymoon_check_label_ex>label:last-child
    {border-right: none;}

    div.honeymoon_check_label_ex>label>p
    {width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 40px; color: #fd6f6f;
    transition: all 0.5s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    div.honeymoon_check_label_ex>label:last-child
    {margin-bottom: 0;}

    .label_background_color
    {background-color: #fd6f6f;
    border: none;}

    /*상품*/
    div.honeymoon_check_product_ex
    {width: 100%;}

    /*베너*/
    div.event_banner_ex
    {width: 95%;
    margin: 100px auto;
    overflow: hidden;}

    /*회사 관련 margin*/
    div.company_bottom_box>div
    {width: fit-content;
    margin-right: 5%;}


}

@media all and (max-width: 768px)
{
    /*비주얼*/
    div.visual_web
    {width: 100%;
    margin-top: 70px;}

    div.visual_banner_web
    {width: 100%;
    position: relative;}
    
    /*버튼 제어*/
    div.visual_banner_web .owl-dots
    {width: fit-content !important;
    margin: 0 auto !important;
    margin-top: 0 !important;
    position: absolute;
    bottom: 5px; left: 0;}

    div.visual_banner_web .owl-dots
    {margin-bottom: 0 !important;}

    div.visual_banner_web .owl-dots span
    {background-color: #fff !important;
    opacity: 0.5 !important;}

    div.visual_banner_web .active span
    {background-color: #fff !important;
    opacity: 1 !important;}

    /*비주얼 이미지 제어*/
    a.visual_product
    {width: 100%; height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: block;}

    a.visual_product img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    
    /*허니문 상품 01*/
    div.honeymoon_product_01_ex
    {width: 90%;
    margin: 50px auto;}

    #title_menu_chk_01, #title_menu_chk_02, #title_menu_chk_03, #title_menu_chk_04
    {display: none;}

    div.honeymoon_check_menu_ex
    {width: 100%;
    margin-bottom: 30px;}

    /*타이틀*/
    div.honeymoon_check_title_ex
    {width: 100%;
    margin-bottom: 30px;}

    div.honeymoon_check_title_ex>div:nth-child(1)
    {width: 100%;
    margin-bottom: 5px;}

    div.honeymoon_check_title_ex>div:nth-child(1)>p:nth-child(1)
    {width: 100%;
    font-size: 15px; line-height: 17px;
    text-align: center;
    color: #555;}

    div.honeymoon_check_title_ex>p:nth-child(2)
    {width: 100%;
    font-size: 24px; line-height: 25px;
    text-align: center;
    color: #222; font-family: bold;}

    /*라벨*/
    div.honeymoon_check_label_ex
    {width: 100%;
    border: 1px solid #fd6f6f;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: stretch;}

    div.honeymoon_check_label_ex>label
    {width: 25%; 
    display: block;
    border-right: 1px solid #fd6f6f; box-sizing: border-box;}

    div.honeymoon_check_label_ex>label:last-child
    {border-right: none;}

    div.honeymoon_check_label_ex>label>p
    {width: 90%;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    font-size: 14px; color: #fd6f6f;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    .label_background_color
    {background-color: #fd6f6f;
    border: none;}

    /*상품*/
    div.honeymoon_check_product_ex
    {width: 100%;}

    div.honeymoon_content_box
    {width: 100%;}

    a.honeymoon_content
    {width: 100%;
    display: block;}

    div.honeymoon_content_img_box
    {width: 100%; height: 0;
    padding-bottom: 100%;
    border-radius: 5px 50px 50px 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;}

    div.honeymoon_content_img_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    div.honeymoon_content_txt_box
    {width: 100%;}

    div.honeymoon_content_txt_box>p
    {width: 100%; height: 46px;
    font-size: 16px; font-family: 'min_bold';
    color: #222; line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}


    /*이벤트 베너*/
    div.event_banner_ex
    {width: 90%;
    margin: 50px auto;
    overflow: hidden;}

    div.event_banner_ex>a
    {width: 49%; height: 0;
    display: block;
    padding-bottom: 12.2%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    float: left;}

    div.event_banner_ex>a img
    {width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;}

    div.event_banner_ex>a:nth-child(1)
    {margin-right: 2%;}

    /*허니문 상품 02*/
    div.honeymoon_product_02_ex
    {width: 100%;
    margin-top: 50px; margin-bottom: 50px;
    overflow: hidden;}

    a.honeymoon_product_02_box
    {width: 100%; height: 0;
    padding-bottom: 138%;
    display: block;
    position: relative;
    overflow: hidden;}

    a.honeymoon_product_02_box img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}
    
    /*마우스호버*/
    div.honeymoon_hover
    {width: 100%; height: 100%;
    position: absolute;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;}

    div.honeymoon_hover>div
    {width: 90%;
    margin: 0 auto;}

    div.honeymoon_hover>div>p
    {color: #fff;
    word-break: keep-all;
    text-align: center;}

    div.honeymoon_hover>div>p:nth-child(1)
    {width: 100%;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 5px;}

    div.honeymoon_hover>div>p:nth-child(2)
    {width: 100%;
    font-size: 20px; font-family: bold; line-height: 25px;
    margin-bottom: 10px;}

    div.honeymoon_hover>div>p:nth-child(3)
    {width: 100%;
    font-size: 14px; line-height: 20px;
    margin-bottom: 25px;}

    div.honeymoon_hover>div>p:nth-child(4)
    {width: 80px; height: 30px;
    margin: 0 auto;
    background-color: #fd6f6f;
    color: #fff;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;}

    /*할인 쿠폰*/
    div.sale_coupon_ex
    {width: 90%;
    margin: 50px auto;}
    
    /*타이틀*/
    div.sale_coupon_title_box
    {width: 100%;
    margin-bottom: 30px;}

    div.sale_coupon_title_box>p:nth-child(1)
    {width: 100%;
    font-size: 15px; line-height: 17px;
    text-align: center;
    color: #555; margin-bottom: 5px;}

    div.sale_coupon_title_box>p:nth-child(2)
    {width: 100%;
    font-size: 24px; line-height: 25px;
    text-align: center;
    color: #222; font-family: bold;}

    /*할인쿠폰*/
    div.coupon_content_box
    {width: 100%;
    margin-bottom: 30px;}

    a.couporn_content
    {width: 100%; height: 0;
    display: block;
    padding-bottom: 41.86%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;}

    a.couporn_content img
    {width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;}

    /*할인쿠폰 보러가기*/
    a.more_couporn_box
    {width: 210px; height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    border: 1px solid #222; box-sizing: border-box;}

    a.more_couporn_box>p
    {text-align: center;
    font-size: 15px; line-height: 40px; color: #222;}


    /*허니문 후기*/
    div.honey_moon_review_ex
    {width: 100%;
    background-color: #fef9ec;
    margin-top: 50px; margin-bottom: 50px;
    padding-top: 50px; padding-bottom: 50px;}

    div.honey_moon_review_box
    {width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;}
    
    /*허니문 글*/
    div.honey_moon_review_txt
    {width: 49%;
    margin-right: 2%;}

    /*타이틀*/
    div.honey_moon_review_title
    {width: 100%;
    margin-bottom: 30px;}

    div.honey_moon_review_title>p:nth-child(1)
    {width: 100%;
    font-size: 15px; line-height: 17px;
    color: #555; margin-bottom: 5px;}

    div.honey_moon_review_title>p:nth-child(2)
    {width: 100%;
    font-size: 24px; line-height: 25px;
    color: #222; font-family: bold;}

    /*디테일 글*/
    div.honey_moon_review_detaile_ex
    {width: 100%;
    margin-bottom: 30px;}

    a.honey_moon_review_detaile_box
    {width: 100%;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ccc; box-sizing: border-box;}

    a.honey_moon_review_detaile_box:last-child
    {border-bottom: none;}

    a.honey_moon_review_detaile_box>p
    {transition: all 0.3s;}

    a.honey_moon_review_detaile_box>p:nth-child(1)
    {width: calc(100% - 110px);
    margin-right: 10px;
    float: left;
    font-size: 15px;
    color: #333;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    a.honey_moon_review_detaile_box>p:nth-child(2)
    {width: 100px;
    float: right;
    font-size: 15px;
    color: #333;
    text-align: right; line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

    /*더 알아보기*/
    a.honey_moon_review_more
    {width: 190px; height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #222; box-sizing: border-box;
    transition: all 0.3s;}

    a.honey_moon_review_more>p
    {width: 100%;
    text-align: center; font-size: 15px; color: #222;
    line-height: 40px;}
    
    /*허니문 이미지*/
    div.honey_moon_icon_box
    {width: 49%;}

    div.honey_moon_icon_box img
    {width: 100%; height: auto;}

    /*회사 관련 자료*/
    div.company_bottom_ex
    {width: 90%;
    margin: 50px auto;
    margin-bottom: 80px;}

    div.company_bottom_box
    {width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;}

    div.call_company_box
    {width: 47.5%;
    margin-right: 5%;
    margin-bottom: 30px;}
    
    /*타이틀*/
    div.call_company_title
    {width: 100%;
    margin-bottom: 15px;}

    div.call_company_title>p:nth-child(1)
    {width: 100%;
    font-size: 15px; line-height: 17px;
    color: #555; margin-bottom: 5px;}

    div.call_company_title>p:nth-child(2)
    {width: 100%;
    font-size: 24px; line-height: 25px;
    color: #222; font-family: bold;}

    /*영업시간 및 기타*/
    div.call_company_txt_box
    {width: 100%;
    margin-bottom: 15px;}

    div.call_company_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 17px; line-height: 20px;
    margin-bottom: 5px;
    color: #333; font-family: 'min_bold';}

    div.call_company_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 24px; line-height: 24px;
    margin-bottom: 10px;
    color: #333; font-family: bold;}

    div.call_company_txt_box>p:nth-child(3)
    {width: 100%;
    font-size: 14.5px; color: #555;
    line-height: 20px;}

    /*상담문의
    a.href_consulting
    {width: fit-content;
    display: block;
    font-size: 17px; font-family: bold; line-height: 20px;
    color: #222;}*/
    
    /*이메일 문의*/
    div.emaile_company_box
    {width: 47.5%;
    margin-bottom: 30px;}

    div.emaile_company_box>p:nth-child(1)
    {width: 100%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #333; font-family: 'min_bold';}

    div.emaile_company_box>p:nth-child(2)
    {width: 100%;
    font-size: 24px; line-height: 24px;
    margin-bottom: 10px;
    color: #333; font-family: bold;}

    div.emaile_company_box>p:nth-child(3)
    {width: 100%;
    font-size: 14.5px; color: #555;
    line-height: 20px;}
    
    /*계좌*/
    div.account_company_box
    {width: 100%;}

    div.account_company_box>p:nth-child(1)
    {width: 100%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #333; font-family: 'min_bold';}

    div.account_txt_box
    {width: 100%;
    margin-bottom: 10px;}

    div.account_txt_box>p
    {word-break: keep-all;}

    div.account_txt_box>p:nth-child(1)
    {width: 100%;
    font-size: 20px; line-height: 20px;
    color: #333; font-family: bold;
    margin-bottom: 5px;}

    div.account_txt_box>p:nth-child(2)
    {width: 100%;
    font-size: 20px; line-height: 20px;
    color: #333; font-family: bold;}

    div.account_company_box>p:nth-child(3)
    {width: 100%;
    font-size: 14.5px; color: #555;
    line-height: 20px;}

}


@media all and (max-width: 600px)
{   
    /*비주얼*/
    div.visual_web
    {width: 100%;
    margin-top: 55px;}

    /*비주얼 이미지 제어*/
    a.visual_product
    {width: 100%; height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
    display: block;}

    /*허니문 라벨*/
    div.honeymoon_check_label_ex
    {width: 100%;
    border: 1px solid #fd6f6f;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;}

    div.honeymoon_check_label_ex>label
    {width: 50%; 
    display: block;
    border-right: 1px solid #fd6f6f; box-sizing: border-box;}

    div.honeymoon_check_label_ex>label:nth-child(2)
    {border-right: none;}

    div.honeymoon_check_label_ex>label:nth-child(1), div.honeymoon_check_label_ex>label:nth-child(2)
    {border-bottom: 1px solid #fd6f6f; box-sizing: border-box;}


    /*이벤트 베너*/
    div.event_banner_ex
    {width: 90%;
    margin: 50px auto;
    overflow: hidden;}

    div.event_banner_ex>a
    {width: 100%; height: 0;
    padding-bottom: 25.14%;
    border-radius: 5px;
    position: relative;
    float: inherit;
    overflow: hidden;}

    div.event_banner_ex>a img
    {width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;}

    div.event_banner_ex>a:nth-child(1)
    {margin-right: 0;
    margin-bottom: 10px;}

    /*허니문 후기*/
    div.honey_moon_review_ex
    {width: 100%;
    background-color: #fef9ec;
    margin-top: 50px; margin-bottom: 50px;
    padding-top: 50px; padding-bottom: 50px;}

    div.honey_moon_review_box
    {width: 90%;
    margin: 0 auto;
    display: block;}
    
    /*허니문 글*/
    div.honey_moon_review_txt
    {width: 100%;
    margin-right: 0;
    margin-bottom: 30px;}

    /*허니문 이미지*/
    div.honey_moon_icon_box
    {width: 100%;}

    div.honey_moon_icon_box img
    {width: 100%; height: auto;}

    /*회사 관련*/
    div.call_company_box
    {width: 100%;
    margin-right: 0;
    margin-bottom: 30px;}

    div.emaile_company_box
    {width: 100%;
    margin-bottom: 30px;}

    div.account_company_box
    {width: 100%;}

}

@media all  and (max-width: 319px)
{
    div.honeymoon_check_label_ex>label
    {width: 100%; 
    display: block;
    border-right: 1px solid #fd6f6f; box-sizing: border-box;}

    div.honeymoon_check_label_ex>label:nth-child(1)
    {border-right: none;}

    div.honeymoon_check_label_ex>label:nth-child(3)
    {border-right: none;
    border-bottom: 1px solid #fd6f6f; box-sizing: border-box;}


}

