* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
}

body {font-family: SpoqaHanSansNeo;}

.mobile
{width: 100%; height: 100vh;
overflow-y: scroll;
position: relative;}

.rout_m
{width: 95%; height: 40px;
overflow: hidden;
margin: 0 auto;}

.rout_m>a:nth-child(1)
{width: 30px; height: 30px;
text-align: center; line-height: 30px; font-size: 18px;
margin-top: 5px; margin-right: 5px;
color: #0d75bc;
float: left;}

.rout_m p:nth-child(2)
{font-weight: bold;
line-height: 40px;
float: left;}

.rout_m .rout_icon_m
{width: 65px; height: 30px;
float: right;}

.rout_icon_m>a
{width: 30px; height: 30px;
margin-top: 5px;
float: left;}

.rout_icon_m a:nth-child(1)
{margin-right: 5px;}

.rout_icon_m a img
{width: 100%; height: 100%;}

.detail_line_01_m
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 10px;}

.product_tit_m
{width: 95%;
margin: 0 auto;
font-weight: bold; line-height: 20px;
margin-bottom: 5px;}

.detail_line_box_m
{width: 95%; height: 2px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

.detail_line_box_m div:nth-child(1)
{width: 30%; height: 2px;
background-color: #f49800;
float: left;}

.detail_line_box_m div:nth-child(2)
{width: 70%; height: 2px;
background-color: #ccc;
float: left;}

.res_img_01
{width: 95%;
margin: 0 auto;
margin-top: 10px;}

.res_img_01 img 
{width: 100%; height: auto;}

.res_img_02
{width: 90%;
margin: 0 auto;
margin-top: 5px;}

.res_img_02 img 
{width: 100%; height: auto;}

.box_m_01
{width: 95%;
margin: 20px auto;
font-size: 12px;}

.box_m_01>p:nth-child(1)
{width: 100%; height: 15px;
margin-bottom: 5px;
font-size: 14px; font-weight: bold; line-height: 15px;}

.box_m_01 table
{width: 100%;
border: 1px solid #ccc;}

.box_m_01 table tr td
{width: 25%; height: 20px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.box_m_01 table tr td:nth-child(1)
{text-align: center; font-weight: bold;
background-color: #f3f3f3;}

.box_m_01 table tr:nth-child(1) td:nth-child(1)
{border-top: 2px solid #f49800;
box-sizing: border-box;}

.box_m_01 table tr:nth-child(1) td:nth-child(2)
{border-top: 2px solid #333;
box-sizing: border-box;}

.box_m_01 table tr:nth-child(1) td p 
{margin-top: 5px; margin-bottom: 5px;}

.box_m_01 table tr:nth-child(1) td:nth-child(2) p
{text-indent: 5px;} 

.box_m_01 table tr:nth-child(2) td p 
{margin-top: 5px; margin-bottom: 5px;}

.box_m_01 table tr:nth-child(2) td:nth-child(2) p
{text-indent: 5px;} 

.box_m_01 table tr:nth-child(3) td p 
{margin-top: 5px; margin-bottom: 5px;}

.box_m_01 table tr:nth-child(3) td:nth-child(2) p
{text-indent: 5px;} 

.box_m_01 table tr td:last-child
{border-right: none;}

#mum_m_01
{width: 120px; height: 20px;
box-sizing: border-box;
margin-top: 5px; margin-bottom: 5px;
margin-left: 5px;}

.box_m_01 table tr:nth-child(5) td
{width: 50%; height: 30px;
text-align: center; font-weight: bold;
background-color: #f3f3f3;}

.box_m_01 table tr:nth-child(6) td
{width: 50%;
background-color: white;
font-weight: normal;
text-align: left;}

.box_m_01 table tr:nth-child(7) td
{width: 50%;
background-color: white;
font-weight: normal;
text-align: left;}

.box_m_01 table tr:nth-child(8) td
{width: 50%;
background-color: white;
font-weight: normal;
text-align: left;}

.box_m_01 table tr:nth-child(6) td:nth-child(1) div 
{width: 95%;
margin: 5px auto;
overflow: hidden;}

.box_m_01 table tr:nth-child(7) td:nth-child(1) div 
{width: 95%;
margin: 5px auto;
overflow: hidden;}

.box_m_01 table tr:nth-child(8) td:nth-child(1) div 
{width: 95%;
margin: 5px auto;
overflow: hidden;}

.box_m_01 table tr:nth-child(6) td:nth-child(2) p
{text-align: center;
height: 30px;}

.box_m_01 table tr:nth-child(7) td:nth-child(2) p
{text-align: center;}

.box_m_01 table tr:nth-child(8) td:nth-child(2) p
{text-align: center;}

#chk_m_01, #chk_m_02, #chk_m_03
{width: 12px; height: 12px;
box-sizing: border-box;
float: left;
margin-right: 5px; margin-top: 1.5px;}

.box_m_01 table tr:nth-child(6) td:nth-child(1) div p:nth-child(2)
{width: calc(100% - 12px - 5px);
line-height: 15px;
float: left;}

.box_m_01 table tr:nth-child(7) td:nth-child(1) div p:nth-child(2)
{width: calc(100% - 12px - 5px);
line-height: 15px;
float: left;}

.box_m_01 table tr:nth-child(8) td:nth-child(1) div p:nth-child(2)
{width: calc(100% - 12px - 5px);
line-height: 15px;
float: left;}

.box_m_01 table tr:nth-child(9) td:nth-child(1)
{height: 25px;
border-top: 2px solid #f49800;
box-sizing: border-box;}

.box_m_01 table tr:nth-child(10) td:nth-child(1)
{border-bottom: none;
background-color: white;}

.box_m_01 table tr:nth-child(10) td:nth-child(1) div
{margin-top: 10px; margin-bottom: 10px;
background-color: white;}

.box_m_01 table tr:nth-child(10) td:nth-child(1) div p:nth-child(1)
{font-size: 18px; line-height: 20px;
margin-bottom: 5px;
color: red;}

.box_m_02
{width: 95%;
margin: 10px auto;}

.box_m_02 .person_m_01
{width: 100%; height: 15px;
margin-bottom: 5px;
overflow: hidden;
font-size: 14px;}

.person_m_01>p:nth-child(1)
{font-weight: bold;
margin-right: 5px; line-height: 15px;
float: left;}

.person_m_01>div:nth-child(2)
{float: left;}

.person_m_01>div:nth-child(2)>p
{font-size: 12px; line-height: 15px;
color: red; margin-right: 5px;
float: left;}

#person_m_01
{width: 12px; height: 12px;
margin-top: 1.5px;
box-sizing: border-box;}

.box_m_02 table
{width: 100%;
border: 1px solid #ccc;
border-top: none;
font-size: 12px;}

.box_m_02 table span
{color: red;}

.box_m_02 table tr td:nth-child(1)
{width: 25%; height: 20px;
text-align: center; font-weight: bold;
background-color: #f3f3f3;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.box_m_02 table tr:nth-child(1) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_02 table tr:nth-child(1) td:nth-child(1)
{border-top: 2px solid #f49800;
box-sizing: border-box;}

.box_m_02 table tr:nth-child(1) td:nth-child(2)
{border-top: 2px solid #333;
box-sizing: border-box;}

.box_m_02 table tr:nth-child(1) td:nth-child(2) p 
{margin-top: 5px;
margin-bottom: 5px;
text-indent: 5px;}

.box_m_02 table tr:nth-child(2) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_02 table tr td:nth-child(2)
{width: 75%;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

#gender_m_01
{width: 100px; height: 20px;
box-sizing: border-box;
margin-top: 5px; margin-bottom: 5px; margin-left: 5px;}

.box_m_02 table tr:nth-child(3) td:nth-child(2) p, .box_m_02 table tr:nth-child(4) td:nth-child(2) p 
{margin-top: 5px;
margin-bottom: 5px;
text-indent: 5px;}

.box_m_02 table tr:nth-child(3) td:nth-child(1) p, .box_m_02 table tr:nth-child(4) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_02 table tr:last-child td 
{border-bottom: none;}

/**/

.box_m_03
{width: 95%;
margin: 10px auto;}

.box_m_03>p:nth-child(1)
{width: 100%; height: 15px;
font-size: 14px;
font-weight: bold; line-height: 15px;
margin-bottom: 5px;}

.box_m_03 table
{width: 100%;
border: 1px solid #ccc;
border-top: none;
font-size: 12px;}

.box_m_03 table span
{color: red;}

.box_m_03 table tr td:nth-child(1)
{width: 25%; height: 20px;
text-align: center; font-weight: bold;
background-color: #f3f3f3;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.box_m_03 table tr:nth-child(1) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_03 table tr:nth-child(1) td:nth-child(1)
{border-top: 2px solid #f49800;
box-sizing: border-box;}

.box_m_03 table tr:nth-child(1) td:nth-child(2)
{border-top: 2px solid #333;
box-sizing: border-box;}

.box_m_03 table tr:nth-child(1) td:nth-child(2) p 
{margin-top: 5px;
margin-bottom: 5px;
text-indent: 5px;}

.box_m_03 table tr:nth-child(2) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_03 table tr td:nth-child(2)
{width: 75%;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

#gender_m_02
{width: 100px; height: 20px;
box-sizing: border-box;
margin-top: 5px; margin-bottom: 5px; margin-left: 5px;}

.box_m_03 table tr:nth-child(3) td:nth-child(2)>div
{width: calc(100% - 10px);
margin: 5px auto;
overflow: hidden;}

#name_m_01
{width: 39%; height: 20px;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;
margin-right: 1%;
font-size: 12px;}

#name_m_02
{width: 60%; height: 20px;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;
font-size: 12px;}

.box_m_03 table tr:nth-child(4) td:nth-child(2) p 
{margin-top: 5px;
margin-bottom: 5px;
text-indent: 5px;}

.box_m_03 table tr:nth-child(4) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_03 table tr:nth-child(4) td
{border-bottom: none;}

/**/

.box_m_04
{width: 95%;
margin: 10px auto;
margin-bottom: 20px;}

.box_m_04>p:nth-child(1)
{width: 100%; height: 15px;
font-size: 14px;
font-weight: bold; line-height: 15px;
margin-bottom: 5px;}

.box_m_04 table
{width: 100%;
border: 1px solid #ccc;
border-top: none;
font-size: 12px;}

.box_m_04 table span
{color: red;}

.box_m_04 table tr td:nth-child(1)
{width: 25%; height: 20px;
text-align: center; font-weight: bold;
background-color: #f3f3f3;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.box_m_04 table tr:nth-child(1) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_04 table tr:nth-child(1) td:nth-child(1)
{border-top: 2px solid #f49800;
box-sizing: border-box;}

.box_m_04 table tr:nth-child(1) td:nth-child(2)
{border-top: 2px solid #333;
box-sizing: border-box;}

.box_m_04 table tr:nth-child(1) td:nth-child(2) p 
{margin-top: 5px;
margin-bottom: 5px;
text-indent: 5px;}

.box_m_04 table tr:nth-child(2) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_04 table tr td:nth-child(2)
{width: 75%;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

#gender_m_03
{width: 100px; height: 20px;
box-sizing: border-box;
margin-top: 5px; margin-bottom: 5px; margin-left: 5px;}

.box_m_04 table tr:nth-child(3) td:nth-child(2)>div
{width: calc(100% - 10px);
margin: 5px auto;
overflow: hidden;}

#name_m_03
{width: 39%; height: 20px;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;
margin-right: 1%;
font-size: 12px;}

#name_m_04
{width: 60%; height: 20px;
float: left;
border: 1px solid #ccc;
box-sizing: border-box;
font-size: 12px;}

.box_m_04 table tr:nth-child(4) td:nth-child(2) p 
{margin-top: 5px;
margin-bottom: 5px;
text-indent: 5px;}

.box_m_04 table tr:nth-child(4) td:nth-child(1) p 
{margin-top: 5px;
margin-bottom: 5px;}

.box_m_04 table tr:nth-child(4) td
{border-bottom: none;}

.cancel_m
{width: 95%;
margin: 10px auto;}

.cancel_m>p:nth-child(1)
{width: 100%; height: 15px;
font-size: 14px; line-height: 15px; font-weight: bold;
margin-bottom: 5px;}

.cancel_m>div:nth-child(2)
{width: 100%; height: 100px;
margin-bottom: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
overflow-y: scroll;}

.cancel_m>div:nth-child(2) p 
{width: 98%;
margin: 0 auto;
font-size: 12px;
line-height: 20px;}

.cancel_m>div:nth-child(2)>p:nth-child(1)
{margin-top: 5px;}

.cancel_m>div:nth-child(2)>p:last-child
{margin-bottom: 5px;}

.cancel_m>div:nth-child(3)
{width: 100%; height: 15px;
overflow: hidden;}

.cancel_m>div:nth-child(3)>div
{float: right;}

.cancel_m>div:nth-child(3)>div>p:nth-child(1)
{font-size: 12px; line-height: 15px;
margin-right: 5px;
color: red;
float: left;}

#cancel_m_01
{width: 12px; height: 12px;
float: left;
box-sizing: border-box;
margin-top: 1.5px;}

.information_m
{width: 95%;
margin: 0 auto;
margin-bottom: 10px;}

.information_m>p:nth-child(1)
{width: 100%; height: 15px;
font-size: 14px; line-height: 15px; font-weight: bold;
margin-bottom: 5px;}

.information_m>div:nth-child(2)
{width: 100%; height: 100px;
margin-bottom: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
overflow-y: scroll;}

.information_m>div:nth-child(2) p 
{width: 98%;
margin: 0 auto;
font-size: 12px;
line-height: 20px;}

.information_m>div:nth-child(2)>p:nth-child(1)
{margin-top: 5px;}

.information_m>div:nth-child(2)>p:last-child
{margin-bottom: 5px;}

.information_m>div:nth-child(3)
{width: 100%; height: 15px;
overflow: hidden;}

.information_m>div:nth-child(3)>div
{float: right;}

.information_m>div:nth-child(3)>div>p:nth-child(1)
{font-size: 12px; line-height: 15px;
margin-right: 5px;
color: red;
float: left;}

#information_m_01
{width: 12px; height: 12px;
float: left;
box-sizing: border-box;
margin-top: 1.5px;}

.total_m
{width: 95%; height: 40px;
margin: 0 auto;
margin-bottom: 20px;
overflow: hidden;}

.total_m p:nth-child(1)
{width: 35%; height: 40px;
text-align: center; line-height: 40px; font-weight: bold; font-size: 15px;
border-bottom: 2px solid #f49800;
box-sizing: border-box;
float: left;}

.total_m p:nth-child(2)
{width: 65%; height: 40px;
line-height: 40px; font-weight: bold; font-size: 12px;
border-bottom: 2px solid #333;
text-indent: 5px;
box-sizing: border-box;
float: left;}

.total_m p:nth-child(2) span
{font-size: 15px;
margin-right: 3px;
color: red;}

.mobile_btn
{width: 170px; height: 30px;
margin: 0 auto;
margin-bottom: 20px;
overflow: hidden;}

#submit_m
{width: 80px; height: 30px;
font-size: 12px; color: white;
border: none;
background-color: #3b8aff;
float: left;
margin-right: 10px;}

#reset_m
{width: 80px; height: 30px;
font-size: 12px;
border: 1px solid #ccc;
box-sizing: border-box;
background-color: #f6f6f6;
float: left;}