* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'min_bold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

body 
{height: fit-content;
font-family: 'Pretendard'; line-height: 16px;}

p {margin-bottom: 0;}

ul {margin: 0; padding: 0;}

input:not([type]), input[type="text"], input[type="password"], 
input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea
{box-shadow: none;
background-color: #fff;
padding: 0;
margin-bottom: 0;
outline: none;}

input[type="checkbox"]
{margin-bottom: 0;}

input[type="checkbox"]+label, input[type="radio"]+label 
{margin: 0;}

button {margin-bottom: 0;}

.scrollfixed
{width: 100%; height: 100vh;
position: fixed;
overflow: hidden;}


@media all and (min-width: 1420px)
{
    /*비밀번호 변경*/
    div.reset_pw_ex
    {width: 500px;
    margin: 100px auto;
    margin-bottom: 150px;}
    
    /*비밀번호 재설정 타이틀*/
    div.reset_pw_title
    {width: 100%;
    margin-bottom: 30px;}

    div.reset_pw_title>p:nth-child(1)
    {width: 100%;
    line-height: 35px; font-family: bold;
    text-align: center;
    color: #222; font-size: 32px;
    margin-bottom: 15px;}

    div.reset_pw_title>p:nth-child(2)
    {width: 100%;
    text-align: center; line-height: 20px; color: #555;}

    div.reset_pw_txt_ex
    {width: 100%;
    margin-bottom: 15px;}

    #reset_pw_txt
    {width: 100%; height: 50px;
    background: #fff;
    text-indent: 10px;
    font-size: 15px; color: #222;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    font-family: 'Pretendard' !important;
    margin-bottom: 5px;}

    div.reset_pw_txt_ex>p:nth-child(2)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #555;}

    div.reset_pw_txt_ex>p:nth-child(2)>span
    {color: red;}

    div.reset_pw_txt_remeber_ex
    {width: 100%;
    margin-bottom: 50px;}

    #reset_pw_txt_remeber
    {width: 100%; height: 50px;
    background: #fff;
    text-indent: 10px;
    font-size: 15px; color: #222;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    font-family: 'Pretendard' !important;
    margin-bottom: 5px;}
    
    /*일치할 때*/
    p.reset_pw_txt_remeber_same
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #009e2f;}

    /*일치하지 않을 떄*/
    p.reset_pw_txt_remeber_not_same
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: red;}

    /*비밀번호 변경 버튼*/
    #reset_pw_submit_btn
    {width: 100%; height: 50px;
    background: #fd6f6f;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none; outline: none;
    font-family: 'Pretendard' !important;
    color: #fff; line-height: 50px; font-size: 16px;}

    /*완료 창*/
    div.reset_pw_popup_ex
    {width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;}

    div.reset_pw_popup_box
    {width: 500px;
    border-radius: 5px;
    padding-top: 30px; padding-bottom: 30px;
    background-color: #fff;}

    div.reset_pw_icon
    {width: 50px; height: 50px;
    margin: 0 auto;}

    div.reset_pw_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.reset_pw_txt
    {width: calc(100% - 60px);
    margin: 30px auto;}

    div.reset_pw_txt>p:nth-child(1)
    {width: 100%;
    text-align: center; font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px;
    font-family: bold; color: #222;}

    div.reset_pw_txt>p:nth-child(2)
    {width: 100%;
    text-align: center;
    line-height: 25px; color: #555;}

    a.login_link_btn
    {width: 180px; height: 40px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ddd; box-sizing: border-box;
    transition: all 0.3s;}

    a.login_link_btn>p
    {text-align: center;
    line-height: 40px; color: #222;
    transition: all 0.3s;}

    a.login_link_btn:hover 
    {border: none;
    background-color: #222;}

    a.login_link_btn:hover>p
    {color: #fff;}
    

}

@media all and (min-width: 769px) and (max-width: 1419px)
{
     /*비밀번호 변경*/
    div.reset_pw_ex
    {width: 500px;
    margin: 100px auto;
    margin-bottom: 150px;}
    
    /*비밀번호 재설정 타이틀*/
    div.reset_pw_title
    {width: 100%;
    margin-bottom: 30px;}

    div.reset_pw_title>p:nth-child(1)
    {width: 100%;
    line-height: 35px; font-family: bold;
    text-align: center;
    color: #222; font-size: 32px;
    margin-bottom: 15px;}

    div.reset_pw_title>p:nth-child(2)
    {width: 100%;
    text-align: center; line-height: 20px; color: #555;}

    div.reset_pw_txt_ex
    {width: 100%;
    margin-bottom: 15px;}

    #reset_pw_txt
    {width: 100%; height: 50px;
    background: #fff;
    text-indent: 10px;
    font-size: 15px; color: #222;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    font-family: 'Pretendard' !important;
    margin-bottom: 5px;}

    div.reset_pw_txt_ex>p:nth-child(2)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #555;}

    div.reset_pw_txt_ex>p:nth-child(2)>span
    {color: red;}

    div.reset_pw_txt_remeber_ex
    {width: 100%;
    margin-bottom: 50px;}

    #reset_pw_txt_remeber
    {width: 100%; height: 50px;
    background: #fff;
    text-indent: 10px;
    font-size: 15px; color: #222;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    font-family: 'Pretendard' !important;
    margin-bottom: 5px;}
    
    /*일치할 때*/
    p.reset_pw_txt_remeber_same
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #009e2f;}

    /*일치하지 않을 떄*/
    p.reset_pw_txt_remeber_not_same
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: red;}

    /*비밀번호 변경 버튼*/
    #reset_pw_submit_btn
    {width: 100%; height: 50px;
    background: #fd6f6f;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none; outline: none;
    font-family: 'Pretendard' !important;
    color: #fff; line-height: 50px; font-size: 16px;}

    /*완료 창*/
    div.reset_pw_popup_ex
    {width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;}

    div.reset_pw_popup_box
    {width: 500px;
    border-radius: 5px;
    padding-top: 30px; padding-bottom: 30px;
    background-color: #fff;}

    div.reset_pw_icon
    {width: 50px; height: 50px;
    margin: 0 auto;}

    div.reset_pw_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.reset_pw_txt
    {width: calc(100% - 60px);
    margin: 30px auto;}

    div.reset_pw_txt>p:nth-child(1)
    {width: 100%;
    text-align: center; font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px;
    font-family: bold; color: #222;}

    div.reset_pw_txt>p:nth-child(2)
    {width: 100%;
    text-align: center;
    line-height: 25px; color: #555;}

    a.login_link_btn
    {width: 180px; height: 40px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ddd; box-sizing: border-box;
    transition: all 0.3s;}

    a.login_link_btn>p
    {text-align: center;
    line-height: 40px; color: #222;
    transition: all 0.3s;}

    a.login_link_btn:hover 
    {border: none;
    background-color: #222;}

    a.login_link_btn:hover>p
    {color: #fff;}
}

@media all and (min-width : 601px) and (max-width: 768px)
{
    /*비밀번호 변경*/
    div.reset_pw_ex
    {width: 500px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 80px;}
    
    /*비밀번호 재설정 타이틀*/
    div.reset_pw_title
    {width: 100%;
    margin-bottom: 30px;}

    div.reset_pw_title>p:nth-child(1)
    {width: 100%;
    line-height: 35px; font-family: bold;
    text-align: center;
    color: #222; font-size: 32px;
    margin-bottom: 15px;}

    div.reset_pw_title>p:nth-child(2)
    {width: 100%;
    text-align: center; line-height: 20px; color: #555;}

    div.reset_pw_txt_ex
    {width: 100%;
    margin-bottom: 15px;}

    #reset_pw_txt
    {width: 100%; height: 50px;
    background: #fff;
    text-indent: 10px;
    font-size: 15px; color: #222;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    font-family: 'Pretendard' !important;
    margin-bottom: 5px;}

    div.reset_pw_txt_ex>p:nth-child(2)
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #555;}

    div.reset_pw_txt_ex>p:nth-child(2)>span
    {color: red;}

    div.reset_pw_txt_remeber_ex
    {width: 100%;
    margin-bottom: 50px;}

    #reset_pw_txt_remeber
    {width: 100%; height: 50px;
    background: #fff;
    text-indent: 10px;
    font-size: 15px; color: #222;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    font-family: 'Pretendard' !important;
    margin-bottom: 5px;}
    
    /*일치할 때*/
    p.reset_pw_txt_remeber_same
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: #009e2f;}

    /*일치하지 않을 떄*/
    p.reset_pw_txt_remeber_not_same
    {width: 100%;
    font-size: 15px; line-height: 20px;
    color: red;}

    /*비밀번호 변경 버튼*/
    #reset_pw_submit_btn
    {width: 100%; height: 50px;
    background: #fd6f6f;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none; outline: none;
    font-family: 'Pretendard' !important;
    color: #fff; line-height: 50px; font-size: 16px;}

    /*비밀번호 완료 팝업창*/
    div.reset_pw_popup_ex
    {width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;}

    div.reset_pw_popup_box
    {width: 450px;
    border-radius: 5px;
    padding-top: 30px; padding-bottom: 30px;
    background-color: #fff;}

    div.reset_pw_icon
    {width: 50px; height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;}

    div.reset_pw_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.reset_pw_txt
    {width: calc(100% - 60px);
    margin: 30px auto;}

    div.reset_pw_txt>p:nth-child(1)
    {width: 100%;
    text-align: center; font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: bold; color: #222;}

    div.reset_pw_txt>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 20px; color: #555;}

    a.login_link_btn
    {width: 180px; height: 40px;
    margin: 0 auto;
    display: block;
    background-color: #222;}

    a.login_link_btn>p
    {text-align: center;
    line-height: 40px; color: #fff;}

}

@media all and (max-width: 600px)
{
    /*비밀번호 변경하기*/
    div.reset_pw_ex
    {width: 90%;
    margin: 0 auto;
    margin-top: 100px; margin-bottom: 80px;}

    /*타이틀*/
    div.reset_pw_title
    {width: 100%;
    margin-bottom: 20px;}

    div.reset_pw_title>p:nth-child(1)
    {width: 100%;
    text-align: center;
    font-size: 28px; font-family: bold;
    color: #222; line-height: 30px;
    margin-bottom: 10px;}

    div.reset_pw_title>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 15px; line-height: 20px;
    color: #555;}

    div.reset_pw_txt_ex
    {width: 100%;
    margin-bottom: 15px;}

    #reset_pw_txt
    {width: 100%; height: 40px;
    background: #fff;
    text-indent: 5px;
    font-size: 15px; color: #222;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    font-family: 'Pretendard' !important;
    margin-bottom: 5px;}

    div.reset_pw_txt_ex>p:nth-child(2)
    {width: 100%;
    font-size: 14px; line-height: 20px;
    color: #555;}

    div.reset_pw_txt_ex>p:nth-child(2)>span
    {color: red;}

    div.reset_pw_txt_remeber_ex
    {width: 100%;
    margin-bottom: 30px;}

    #reset_pw_txt_remeber
    {width: 100%; height: 40px;
    background: #fff;
    text-indent: 5px;
    font-size: 15px; color: #222;
    outline: none;
    border: 1px solid #ccc; box-sizing: border-box;
    font-family: 'Pretendard' !important;
    margin-bottom: 5px;}
    
    /*일치할 때*/
    p.reset_pw_txt_remeber_same
    {width: 100%;
    font-size: 14px; line-height: 20px;
    color: #009e2f;}
    
    /*일치하지 않을 때*/
    p.reset_pw_txt_remeber_not_same
    {width: 100%;
    font-size: 14px; line-height: 20px;
    color: red;}

    /*완료 버튼*/
    #reset_pw_submit_btn
    {width: 100%; height: 50px;
    background: #fd6f6f;
    border-radius: 5px;
    border: none; outline: none;
    font-family: 'Pretendard' !important;
    color: #fff; line-height: 50px; font-size: 15px;}

     /*비밀번호 완료 팝업창*/
    div.reset_pw_popup_ex
    {width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;}

    div.reset_pw_popup_box
    {width: 90%;
    border-radius: 5px;
    padding-top: 20px; padding-bottom: 20px;
    background-color: #fff;}

    div.reset_pw_icon
    {width: 40px; height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;}

    div.reset_pw_icon img
    {width: 100%; height: 100%;
    object-fit: cover;}

    div.reset_pw_txt
    {width: 90%;
    margin: 20px auto;}

    div.reset_pw_txt>p:nth-child(1)
    {width: 100%;
    text-align: center; font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: bold; color: #222;}

    div.reset_pw_txt>p:nth-child(2)
    {width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 20px; color: #555;}

    a.login_link_btn
    {width: 90%; height: 40px;
    margin: 0 auto;
    display: block;
    background-color: #222;}

    a.login_link_btn>p
    {text-align: center;
    font-size: 15px;
    line-height: 40px; color: #fff;}
}