* {margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
    src: url(../../font/Spoqa\ Han\ Sans\ Regular.woff);
}

body {font-family: SpoqaHanSansNeo;}

.mobile {display: none;}

/*가입*/
.join
{width: 100%; max-width: 1920px; min-width: 1195px;
margin: 0 auto;}

.join .join_box
{width: 550px;
margin: 0 auto;
margin-bottom: 50px;}

.join_box .join_title
{width: 550px; height: 100px;
text-align: center; line-height: 100px;
font-size: 32px; font-weight: bold;}

.join_box .confirm_box
{width: 550px;
background-color: #f7f7f7;
border-top:1px solid #ccc;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

.confirm_box>p
{width: 530px; height: 20px;
line-height: 20px; font-size: 14px;
font-weight: bold;
padding-top: 30px;
margin-bottom: 20px;
margin-left: 20px;}

.confirm_box .phone
{width: 550px; height: 50px;
overflow: hidden;
margin-bottom: 20px;}

.phone select
{width: 120px; height: 50px;
margin-right: 5px;}

#phone_n
{width: 415px; height: 46px;}

.confirm_box .certification_number
{width: 550px; height: 50px;
margin-bottom: 30px;
overflow: hidden;}

#certification
{width: 380px; height: 46px;
float: left;}

.certification_number a
{width: 155px; height: 50px;
background-color: #333;
color: white;
text-align: center; line-height: 50px;
margin-left: 10px;
float: left;}

.join_box .check_box
{width: 550px; height:250px;
background-color: #f7f7f7;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 30px;}

.check_box .all_chk
{width: 550px; height: 70px;
background-color: #f7f7f7;
border-bottom: 1px solid #ccc;
box-sizing: border-box;}

#all_chk
{margin-left: 20px;
margin-top: 27px;}


#e-mail_chk
{margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;}

#message_chk
{margin-left: 20px;
margin-bottom: 20px;}

.check_box .agree01
{width: 530px; height: 20px;
overflow: hidden;}

#agree01
{margin-left: 20px;}

.agree01 a p 
{float: right;
color: red;
text-decoration: underline;}

.check_box .agree02
{width: 530px; height: 20px;
overflow: hidden;
margin-top: 20px;}

#agree02
{margin-left: 20px;}

.agree02 a p 
{float: right;
color: red;
text-decoration: underline;}

#confirm
{width: 550px; height: 60px;
line-height: 60px; text-align: center;
background-color: #333; font-family: SpoqaHanSansNeo;
font-weight: bold; color: white;
font-size: 16px;}

@media all and (max-width:768px)
{

.join {display: none;}

.mobile
{width: 100%; height: 100vh;
overflow: hidden;
display: block;}

.join_m_top
{width: 95%; height: 40px;
margin: 0 auto;}

.join_m_top a:nth-child(1)
{width: 30px; height: 30px;
text-align: center; line-height: 30px; font-size: 18px;
margin-top: 5px; margin-right: 5px;
color: #0d75bc;
float: left;}

.join_m_top>p:nth-child(2)
{font-weight: bold; line-height: 40px;
float: left;}

.join_m_top a:nth-child(3)
{width: 30px; height: 30px;
margin-top: 5px; margin-right: 5px;
float: right;}

.join_m_top a:nth-child(3) img 
{width: 100%; height: 100%;}

.join_line01
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 20px;}

.mobile>p
{width: 95%; height: 15px;
margin: 0 auto;
font-size: 12px; line-height: 15px;
margin-bottom: 10px;}

.join_box_01_m
{width: 95%; height: 40px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

#korea_m
{width: 39%; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;
margin-right: 1%;}

#phone_num_m
{width: 60%; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
text-indent: 14px;
float: left;}

.join_box_02_m
{width: 95%; height: 40px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 20px;}

#num_ok_m
{width: 29%; height: 40px;
border: none;
background-color: #333; color: white;
text-align: center; font-size: 12px; font-family: SpoqaHanSansNeo;
float: left;
margin-left: 1%;}

#num_chk_m
{width: 70%; height: 40px;
border: 1px solid #ccc;
box-sizing: border-box;
text-indent: 14px;
float: left;}

.join_line02
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 20px;}

.chk_box01_m
{width: 95%; height: 15px;
margin: 0 auto;
margin-bottom: 20px;
overflow: hidden;}

#chk_m_01
{width: 14px; height: 14px;
margin-right: 5px;
float: left;}

.chk_box01_m p 
{float: left;
font-size: 14px; line-height: 15px;}

.join_line03
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 20px;}

.chk_box02_m
{width: 95%; height: 15px;
margin: 0 auto;
margin-bottom: 10px;
overflow: hidden;}

#chk_m_02
{width: 14px; height: 14px;
margin-right: 5px;
float: left;}

.chk_box02_m p 
{float: left;
font-size: 14px; line-height: 15px;}

.chk_box03_m
{width: 95%; height: 15px;
margin: 0 auto;
margin-bottom: 10px;
overflow: hidden;}

#chk_m_03
{width: 14px; height: 14px;
margin-right: 5px;
float: left;}

.chk_box03_m p 
{float: left;
font-size: 14px; line-height: 15px;}

.agree_box_01_m
{width: 95%; height: 15px;
margin: 0 auto;
margin-bottom: 10px;
overflow: hidden;}

.agree_box_01_m .chk_box04_m
{float: left;}

#chk_m_04
{width: 14px; height: 14px;
margin-right: 5px;
float: left;}

.chk_box04_m p 
{float: left;
font-size: 14px; line-height: 15px;}

.agree_box_01_m>a
{float: right;
font-size: 14px; line-height: 15px; color: red;}


.agree_box_02_m
{width: 95%; height: 15px;
margin: 0 auto;
margin-bottom: 20px;
overflow: hidden;}

.agree_box_02_m .chk_box05_m
{float: left;}

#chk_m_05
{width: 14px; height: 14px;
margin-right: 5px;
float: left;}

.chk_box05_m p 
{float: left;
font-size: 14px; line-height: 15px;}

.agree_box_02_m>a
{float: right;
font-size: 14px; line-height: 15px; color: red;}

.join_line04
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 20px;}

#ok_m
{width: 95%; height: 40px;
margin-left: 2.5%;
background-color: #333;
color: white;
font-family: SpoqaHanSansNeo;
font-size: 14px;
border: none;}
}

@media all and (max-width:319px)
{
    
.mobile>p
{width: 95%; height: 30px;
margin: 0 auto;
font-size: 12px; line-height: 15px;
margin-bottom: 10px;}

#phone_num_m
{text-indent: 5px;}

}