* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
}

body
{font-family: SpoqaHanSansNeo;}

.mobile
{width: 100%; height: 100vh;
overflow: hidden;}

.login_m_top
{width: 95%; height: 40px;
margin: 0 auto;}

.login_m_top a, .login_m_top p 
{float: left;}

.login_m_top a:nth-child(1) p 
{width: 30px; height: 30px;
line-height: 30px; font-size: 18px; text-align: center;
margin-top: 5px;
margin-right: 5px;
color: #0d75bc;}

.login_m_top>p:nth-child(2)
{line-height: 40px;
font-weight: bold;}

.login_m_top a:nth-child(3)
{width: 30px; height: 30px;
float: right;
margin-top: 5px;
margin-right: 5px;}

.login_m_top a:nth-child(3) img 
{width: 100%; height: 100%;}

.line_login_m
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 20px;}

#id_mobile
{width: 95%; height: 40px;
margin-left: 2.5%;
border: 1px solid #cbcbcb;
box-sizing: border-box;
border-radius: 5px;
margin-bottom: 10px;
text-indent: 14px;}

#pw_mobile
{width: 95%; height: 40px;
margin-left: 2.5%;
border: 1px solid #cbcbcb;
box-sizing: border-box;
border-radius: 5px;
margin-bottom: 10px;
text-indent: 14px;}

.auto_login_m
{width: 95%; height: 15px;
margin: 0 auto;
margin-bottom: 10px;
overflow: hidden;}

.auto_login_m p
{float: left;
font-size: 14px; line-height: 15px;}

#auto
{width: 14px; height: 14px;
margin-right: 5px;
box-sizing: border-box;
float: left;}

#login_mobile
{display: none;}

.login_btn_m p
{width: 95%; height: 40px;
margin: 0 auto;
text-align: center; line-height: 40px; font-size: 14px;
border-radius: 5px;
background-color: #0d75bc;
color: white;}

.login_menu_m_ex
{width: 95%;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;}

.login_menu_m_ex .login_menu_m
{width: 240px;
margin: 0 auto;
overflow: hidden;}

.login_menu_m a p, .login_menu_m p 
{float: left;
font-size: 14px; line-height: 20px;
color: #333;}

.login_menu_m>p
{margin-left: 5px;
margin-right: 5px;}

.naver_m
{width: 95%; height: 40px;
margin: 0 auto;
margin-bottom: 10px;
border-radius: 5px;
background-color: #00d700;}

.naver_m div, .naver_m p 
{float: left;}

.naver_m div
{width: 25px; height: 25px;
margin-top: 7.5px;
margin-left: 10px;
margin-right: 10px;}

.naver_m div img
{width: 100%; height: 100%;}

.naver_m p 
{font-size: 14px;
line-height: 40px;
color: white;}

.kakao_m
{width: 95%; height: 40px;
margin: 0 auto;
border-radius: 5px;
background-color: #ffde00;}

.kakao_m div, .kakao_m p 
{float: left;}

.kakao_m div
{width: 25px; height: 25px;
margin-top: 7.5px;
margin-left: 10px;
margin-right: 10px;}

.kakao_m div img
{width: 100%; height: 100%;}

.kakao_m p 
{font-size: 14px;
line-height: 40px;
color: #381e1f;}