* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
img {display: block;}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../font/SpoqaHanSansNeo-Regular.ttf);
    src: url(../../font/Spoqa\ Han\ Sans\ Regular.woff);
}

body 
{font-family: SpoqaHanSansNeo;}

.web {display: none;}

.mobile
{width: 100%; height: 100vh;
overflow: hidden;
overflow-y: scroll;
display: block;}

.phone_m_top
{width: 95%; height: 40px;
margin: 0 auto;}

.phone_m_top a:nth-child(1)
{width: 30px; height: 30px;
text-align: center; line-height: 30px; font-size: 18px;
margin-top: 5px; margin-right: 5px;
color: #0d75bc;
float: left;}

.phone_m_top>p:nth-child(2)
{font-weight: bold; line-height: 40px;
float: left;}

.phone_m_top a:nth-child(3)
{width: 30px; height: 30px;
margin-top: 5px; margin-right: 5px;
float: right;}

.phone_m_top a:nth-child(3) img 
{width: 100%; height: 100%;}

.phone_line01
{width: 100%; height: 1px;
background-color: #ccc;
margin-bottom: 10px;}

.phone_txt_m_01
{width: 95%;
margin: 0 auto;
background-color: #f3f3f3;
margin-bottom: 10px;}

.phone_txt_m_01 div
{width: 95%;
margin: 0 auto;
padding-top: 5px;
padding-bottom: 5px;
font-size: 12px; line-height: 20px;}

.phone_txt_m_01 div span
{font-weight: bold;}

.phone_txt_m_02
{width: 100%;
margin: 0 auto;
border-top: 2px solid #f49800;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 30px;}

.phone_mini_m>p:nth-child(1)
{width: 29%; height: 30px;
font-size: 12px; text-indent: 5px; line-height: 30px;
border: 1px solid #ccc;
box-sizing: border-box;
margin-right: 1%;
float: left;}

#phone_mobile
{width: 49%; height: 30px;
margin-right: 1%;
border: 1px solid #ccc;
box-sizing: border-box;
float: left;}

#chk_m_btn
{width: 20%; height: 30px;
font-size: 12px;
border: none;
background-color: #0d75bc;
color: white;}

#korea_mobile
{width: 95%; height: 30px;
border: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 5px; margin-left: 2.5%;
margin-top: 10px;}

.phone_txt_m_02 .phone_mini_m
{width: 95%; height: 30px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 5px;}

#phone_chknum_m
{width: 95%; height: 30px;
border: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 10px; margin-left: 2.5%;}

#change_m
{width: 95%; height: 40px;
background-color: #333;
border: none;
margin-left: 2.5%;
font-size: 14px; color: white;
font-family: SpoqaHanSansNeo;}